<ul class="relative top-0">
  <li class="month-container">
    <p class="month-heading">November 2023</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2022-2023.
        </p>
        <p class="news-link">
          <a
            href="/content/media/berichte/dgu_jahresbericht_2022_2023.pdf"
            download>zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Mai 2022</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Nachruf auf Dr. Michael Plesse</h2>
        <p class="news-text">
          Hiermit möchten wir Abschied nehmen von unserem langjährigem
          Vorstandsmitglied Dr. Michael Plesse, der in diesem Jahr nach langer
          Krankheit verstorben ist. Er hat der DGU für lange Zeit als Kassenwart
          sehr geholfen und mit seiner freundlichen, immer auf gute
          Verständigung ausgerichteten Art unschätzbare Dienste erwiesen.
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">April 2022</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2020-2022.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2021.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">März 2021</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2020-2021.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2020.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Februar 2020</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2018-2019.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2019.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <span
    class="absolute top-0 ml-72 hidden h-full w-[3px] bg-dgu-dark-green lg:block"
  ></span>
</ul>

<style>
  .month-container {
    @apply mt-10 flex flex-col first:mt-0 lg:flex-row;
  }

  .month-heading {
    @apply text-xl font-black text-dgu-dark-green lg:w-72 lg:text-2xl;
  }

  .news-container {
    @apply mt-5 max-w-2xl rounded-lg bg-white px-4 py-3 shadow-xl first:mt-0;
  }

  .news-list {
    @apply mt-4 lg:ml-12 lg:mt-0;
  }

  .news-heading {
    @apply text-lg font-bold;
  }

  .news-text {
    @apply mt-1;
  }

  .news-link {
    @apply mt-1 font-bold;
  }
</style>
