<div>
  <h2 class="text-2xl font-bold">
    FEE - Foundation for Environmental Education
  </h2>
  <div class="mt-5 flex flex-wrap gap-5">
    <a
      href="https://www.fee.global/"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >FEE Homepage</a
    >
    <a
      href="https://www.ecoschools.global/"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >Eco-Schools Homepage</a
    >
    <a
      href="https://www.greenkey.global/"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >Green Key Homepage</a
    >
    <a
      href="https://www.blueflag.global/"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >Blue Flag Homepage</a
    >
  </div>
</div>
<div class="mt-16">
  <h2 class="text-2xl font-bold">Umweltprojekte, mit denen wir kooperieren</h2>
  <div class="mt-5 flex flex-wrap gap-5">
    <a
      href="http://www.transfer-21.de/"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >BLK-Programm Transfer 21</a
    >
    <a
      href="https://www.bne-portal.de/bne/de/home/home_node.html"
      class="flex h-16 w-64 items-center justify-center rounded-lg bg-white text-lg font-bold shadow-lg"
      >BNE-Portal</a
    >
  </div>
</div>
