---
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import ProjectsSection from "../../lib/sections/projects/ProjectsSection.astro";
---

<DefaultLayout title="Projekte">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Projekte</h1>
      <ProjectsSection />
    </div>
  </MarginContainer>
</DefaultLayout>
