---
import { Image } from "astro:assets";
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import ia21s from "../../../public/content/media/umweltschule/ia21s.png";
import slowakeikombi from "../../../public/content/media/logos/slowakei_kombi.jpg";
---

<DefaultLayout
  title="Projekt „Eco-Schools - Umweltmanagement mit Schülerbeteiligung“"
>
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Projekt „Eco-Schools – Umweltmanagement mit Schülerbeteiligung“</h1>
      <div class="prose mt-6 max-w-full">
        <div>
          <p>
            Wie können sich Schülerinnen und Schüler aktiv in die Gestaltung von
            Unterricht und Schulleben einbringen? Welche Methoden zur Förderung
            der Schülerbeteiligung und -mitsprache gibt es, wenn es darum geht,
            Energie zu sparen, gesund zu essen, oder soziale Verantwortung zu
            lernen?
          </p>
          <Image
            src={ia21s}
            alt="Ausgezeichnet als offizielles Projekt der Weltdekade"
            class="float-left mr-5 mt-0 max-w-48"
          />
          <p>
            Beteiligungsmöglichkeiten von Schülerinnen und Schülern im
            Umweltmanagement der Schule stehen im Mittelpunkt des binationalen
            Projektes. Ziel ist es, die Qualität der Partizipation über den
            Austausch guter Beispiele und Methoden aus der Praxis der
            Umweltschulen in Europa/Internationale Agenda 21-Schulen (USE/INA)
            in slowakischen Eco-Schools zu fördern.
          </p>
          <p>
            Die Fähigkeit zur Beteiligung an der Gestaltung einer
            umweltfreundlichen und sozial gerechten Welt ist für eine
            zukunftsfähige Bildung von zentraler Bedeutung. Im schulischen
            Kontext ist Partizipation daher ein unverzichtbarer Bestandteil.
            Durch die Beteiligung an der Gestaltung des Schullebens lernen die
            Schülerinnen und Schüler, sich aktiv in Planungs- und
            Entscheidungsprozesse einzubringen. Sie werden so für die eigene
            zukunftsfähige Lebensgestaltung und für ein engagiertes
            demokratisches Verhalten in der Gesellschaft vorbereitet. Dies ist
            eine wichtige Voraussetzung für den Erwerb von Gestaltungskompetenz
            und ein übergeordnetes Ziel des Projektes. Die Schülerinnen und
            Schüler sollen aktiv an der Planung, Gestaltung und Durchführung von
            Projekten und Unterrichtsvorhaben sowohl im Unterricht als auch im
            gesamten Schulleben beteiligt werden. Ziel ist es, über die
            Einbeziehung von Lehr- und Lernmethoden zur Förderung der
            Schülermitsprache und -beteiligung in den slowakischen Schulen
            Beteiligungsmöglichkeiten innerhalb der Schule sowie im
            außerschulischen Bereich zu schaffen.
          </p>
        </div>

        <h2>Das Projekt</h2>
        <div>
          <p>
            Das Projekt wird von der Deutschen Gesellschaft für Umwelterziehung
            e.V. (DGU) in Zusammenarbeit mit dem slowakischen Projektpartner
            Z.I.V.C.A durchgeführt. Im Rahmen des Projektes werden slowakische
            Schulberater, Direktoren, Schulkoordinatoren, Lehrer und Schüler zum
            Themenfeld weiter gebildet, es werden entsprechende Strukturen in
            der Slowakei auf- und ausgebaut sowie ein Leitfaden zur
            Schülerbeteiligung erstellt.
          </p>
          <Image
            src={slowakeikombi}
            alt="Projekt „Eco-Schools – Umweltmanagement mit Schülerbeteiligung“"
            class="float-left mr-5 mt-0 max-w-48"
          />
          <p>
            Die Deutsche Gesellschaft für Umwelterziehung e.V. (DGU) kooperiert
            im Rahmen des Projektes mit dem Institut Futur der Freien
            Universität Berlin. Gefördert wird das Projekt von der Deutschen
            Bundesstiftung Umwelt (DBU).
          </p>
          <p>
            <table>
              <thead>
                <tr>
                  <th>Informationen und Ergebnisse des Projektes </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Leitfaden zur Förderung von Schülerbeteiligung</td>
                  <td
                    ><a
                      href="/public/content/media/slowakei/leitfaden.pdf"
                      download>Leitfaden</a
                    ></td
                  >
                </tr>
                <tr>
                  <td
                    >Leitfaden zur Förderung von Schülerbeteiligung Englisch</td
                  >
                  <td
                    ><a
                      href="/public/content/media/slowakei/leitfaden_englisch.pdf"
                      download>Leitfaden Englisch</a
                    ></td
                  >
                </tr>
                <tr>
                  <td
                    >Praxisbeispiele für Schülerbeteiligung in USE/INA-Schulen</td
                  >
                  <td
                    ><a
                      href="/public/content/media/slowakei/praxisbeispiele.pdf"
                      download>Praxisbeispiele</a
                    ></td
                  >
                </tr>
                <tr>
                  <td>Weitere Informationen siehe unten...</td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>

        <h2>Kontakte</h2>
        <div class="not-prose flex flex-wrap gap-10">
          <div class="contact-card mt-6">
            <h2>Deutschland</h2>
            <p>Stephanie Pröpsting</p>
            <p>Tel.: +49 30 83852744</p>
            <p>
              <a href="mailto:proepsting@institutfutur.de"
                >Email: proepsting@institutfutur.de</a
              >
            </p>
          </div>
          <div class="contact-card mt-6">
            <h2>Slowakei</h2>
            <p>Eva Stroffekova</p>
            <p>
              CEEV Zivica<br />
              Vysoka18<br />
              SK-811_06_Bratislava<br />
              Slovakia
            </p>
            <p>Tel.: +421 905784412</p>
            <p>
              <a href="mailto:stroffekova@changenet.sk"
                >Email: stroffekova@changenet.sk</a
              >
            </p>
          </div>
        </div>

        <h2>Aktuelles</h2>
        <h3>Auszeichnung als UN-Dekade-Projekt (April 2010)</h3>
        <div>
          <p>
            Das Projekt „Eco-Schools – Umweltmanagement mit Schülerbeteiligung“
            wurde vom Nationalkomitee der UN-Dekade "Bildung für nachhaltige
            Entwicklung" im Rahmen der Bildungsmesse didacta in Köln als
            Offizielles Dekade-Projekt ausgezeichnet. Die ausgezeichneten
            Projekte vermitteln vorbildlich nachhaltiges Denken und Handeln und
            machen Menschen so fit für die Zukunft. Sie liefern das Rüstzeug, um
            Antworten auf wichtige Zukunftsfragen zu finden: Wie entscheide ich
            heute so, dass auch die Menschen von morgen ein gutes Leben führen
            können? Wie erreichen wir wirtschaftlichen Fortschritt, soziale
            Gerechtigkeit - und das, ohne die Umwelt zu schädigen? "Die
            Dekade-Projekte leisten vorbildliche Arbeit. Sie vermitteln Wissen
            und Kompetenzen für eine nachhaltige Entwicklung unserer
            Gesellschaft, tragen die Idee "Nachhaltigkeit lernen" in die
            Breite", so der Erziehungswissenschaftler Prof. Gerhard de Haan,
            Vorsitzender des Nationalkomitees zur Umsetzung der UN-Dekade in
            Deutschland. Die UN-Dekade "Bildung für nachhaltige Entwicklung" ist
            eine internationale Bildungsinitiative. Die Staaten der Vereinten
            Nationen haben sich verpflichtet, in den Jahren 2005 bis 2014 das
            Konzept "Nachhaltigkeit lernen" zu stärken. Weitere Informationen
            finden Sie auf der Website der Dekade in Deutschland
            <a
              href="https://www.bne-portal.de/bne/de/bundesweit/un_dekade_bne/un-dekade-bne-2005-2014.html"
              >www.bne-portal.de/dekade-projekte</a
            >
          </p>
          <p>
            Weitere Informationen: <a href="https://www.bne-portal.de/"
              >www.bne-portal.de</a
            >
          </p>
        </div>

        <h2>
          Zukunftswerkstatt - Ideen für mehr Schülerbeteiligung in slowakischen
          Eco-Schools (Februar 2010)
        </h2>
        <div>
          <p>
            Wie kann Schülerbeteiligung in Eco-Schools stärker gefördert werden?
            Mit dieser Frage setzten sich Berater und Lehrer slowakischer
            Eco-Schools in einer Zukunftswerkstatt mit dem Motto „Das Undenkbare
            denken – Ideen für mehr Schülerbeteiligung“ auseinander. Ziel der
            dreitägigen Veranstaltung war es Erkenntnisse und Ideen für die
            partizipative Arbeit mit Schülern bzw. Schulen zu gewinnen sowie
            zukünftig selbst Zukunftswerkstätten mit Schülern, Kollegen oder der
            Schulgemeinschaft durchzuführen. Nachdem in der Kritikphase alle
            Probleme und Schwierigkeiten an der „Klagemauer“ formuliert wurden,
            ging es in der Phantasiephase darum, eine „Traumschule“, in der
            Schülerbeteiligung keine Grenzen gesetzt sind, zu visionieren. Die
            formulierten Wünsche und Visionen wurden daraufhin in der
            Umsetzungsphase auf realistische Realisierungsmöglichkeiten in den
            Schulen geprüft, Projekte wurden skizziert und Handlungsschritte
            geplant. Ein Ergebnis der Zukunftswerkstatt ist neben neuen Ideen
            und Impulsen für die Arbeit zum Beispiel der Multiplikationseffekt.
            So wird im Frühjahr von Teilnehmern des Workshops eine
            Zukunftswerkstatt für weitere Eco-Schools-Berater durchgeführt.
          </p>

          <h3>
            Besuch der slowakischen Projektpartner in Deutschland (Juni 2009)
          </h3>
          <p>
            Einen Einblick in die partizipative Arbeit beispielhafter Schulen in
            Berlin und Hamburg zu gewinnen war Ziel der einwöchigen Exkursion
            der slowakischen Projektpartner in Deutschland. Auf dem Programm der
            vier Vertreter der Koordinierungsgruppe des slowakischen
            Eco-School-Programms stand zum Beispiel der Besuch der Evangelischen
            Schule Berlin Zentrum. Hier erhielten die Teilnehmer im Austausch
            mit der Schulleiterin und Schülern Anregungen zur Änderung der
            tradierten Rollenverteilung zwischen Lehrenden und Lernenden sowie
            zur Verantwortungsübergabe auf die Schüler. Sie lernten Methoden wie
            Klassenrat und Schulversammlung sowie Konzepte zum
            Verantwortungslernen und zur Förderung der Selbstwirksamkeit, wie
            z.B. Service-Learning, kennen. In Hamburg besuchten die slowakischen
            Gäste unter anderem das Alexander-von-Humboldt-Gymnasium, seit
            nunmehr 15 Jahren Umweltschule in Europa/Internationale Agenda
            21-Schule (USE/INA)-Schule. Hier hatten sie Gelegenheit, ihr Wissen
            zu erweitern und viele Eindrücke zur Schülerbeteiligung in
            zahlreichen ökologischen, sozialen und ökonomischen Projekten
            mitzunehmen. Abgerundet wurde der Aufenthalt in Deutschland durch
            einen zweitägigen Workshop. Die Teilnehmenden setzten sich mit
            Zielen und Gelingensbedingungen von Partizipation, konkreten
            Materialien zur Schülerbeteiligung im Umweltmanagement sowie
            Möglichkeiten und Stolpersteinen der Umsetzung in slowakischen
            Eco-Schools auseinander. Mit vielen Ideen im Kopf, einem
            Materialpaket im Koffer und etwas Berliner und Hamburger Luft ging
            es nach einer Woche wieder heimwärts.
          </p>
        </div>

        <h2>Archiv</h2>
        <div>
          <h3>
            Workshop “Zukunftswerkstatt – Unterstützung des partizipativen
            Prozesses in Eco-Schools“ (3.-5- Februar 2010)
          </h3>
          <p>
            Ziel der dreitägigen Veranstaltung mit Lehrern und Beratern der
            slowakischen Eco-Schools war zum einen der Gewinn neuer Erkenntnisse
            und Ideen zur Förderung von Schülerbeteiligung und zum anderen die
            Vermittlung und Anleitung der Methode, um zukünftig selbst
            Zukunftswerkstätten mit Schülern, Kollegen oder der
            Schulgemeinschaft durchzuführen. Nach einer Einführung in den
            Hintergrund, die Ziele, Merkmale und Phasen wurde die
            Zukunftswerkstatt am zweiten Tag praktisch durchgeführt. Der
            Leitgedanke „Wenn wir Eco-Schools partizipativ gestalten könnten...“
            und das Motto: „Das Undenkbare denken, Ideen und Ansätze für mehr
            Schülerbeteiligung in Eco-Schools“ prägten die Kernphasen. Nachdem
            in der Kritikphase alle Probleme und Schwierigkeiten bezogen auf
            Partizipation in Eco-Schools an der „Klagemauer“ formuliert wurden,
            ging es in der Phantasiephase darum, eine „Traumschule“, in der
            Schülerbeteiligung keine Grenzen gesetzt sind, zu visionieren. Die
            formulierten Wünsche und Visionen wurden daraufhin in der
            Umsetzungsphase auf realistische Realisierungsmöglichkeiten in den
            Schulen geprüft, Projekte wurden skizziert und Handlungsschritte
            geplant. In der Nachbereitung der Zukunftswerkstatt wurden die
            Erkenntnisse und Folgen für die Förderung von Partizipation in
            Eco-Schools diskutiert und heraus gearbeitet. Ein Ergebnis der
            Zukunftswerkstatt ist neben neuen Ideen und Impulsen zum Beispiel
            der Multiplikationseffekt. So wird im Frühjahr von Teilnehmern eine
            Zukunftswerkstatt für weitere Eco-Schools-Berater durchgeführt.
          </p>

          <h3>Internet-Seite www.zelenaskola.sk</h3>
          <p>
            Im Rahmen des Projektes wurde die Internetseite der slowakischen
            Eco-Schools auf- und ausgebaut. Unter <a
              href="https://zelenaskola.sk/">www.zelenaskola.sk</a
            > sind umfangreiche Informationen zum Eco-Schools-Programm, über das
            Projekt zur Schülerbeteiligung sowie methodische Materialen zu finden.
            Zudem wurden eine englische und deutsche Version ausgesuchter Seiten
            ergänzt, um auch Besucher des internationalen Eco-Schools-Netzwerkes
            sowie weitere ausländische Interessenten zu informieren.
          </p>

          <h3>
            Zertifizierungsveranstaltung der slowakischen Eco-Schools (16.
            Oktober 2009)
          </h3>
          <p>
            In einem feierlichen Rahmen wurden insgesamt 84 Eco-Schools
            ausgezeichnet und erhielten die Zertifikate und Flaggen. Anwesend
            waren neben den Vertretern der Eco-Schools auch Entscheidungsträger
            aus der Gemeinde- und Stadtverwaltung. So sprach der Bürgermeister
            der Stadt Michalovce die Grußworte und ein Vertreter der Stadt
            Kolarovo führte die besondere Bedeutung der Partizipation in
            Eco-Schools auf. Die internationale Anbindung des Programms sowie
            die Relevanz der Schülerpartizipation wurden in einer Rede von einem
            Vertreter der DGU hervor gehoben.
          </p>

          <h3>
            Workshop „Methoden und Beispiele zur Beteiligung von Schülern in
            Eco-Schools“ (15. Oktober 2009)
          </h3>
          <p>
            Der Workshop richtete sich an die Lehrer der slowakischen
            Modellschulen und fand im Vorlauf der zentralen
            Zertifizierungsveranstaltung der slowakischen Eco-Schools statt. In
            einem ersten Teil setzten sich die Teilnehmer mit
            Gelingensbedingungen für Partizipation und die Bedeutung von
            Partizipation im Rahmen der sieben Schritte auseinander. Im
            Anschluss daran wurde der Fokus auf die Erhebung des Ist-Zustandes
            bzw. das Audit (step 2), den Aktionsplan (step 3) und die
            Selbstevaluation (step 4) als Kernstücke des Prozesses gerichtet.
            Dabei lernten die Teilnehmer wesentliche partizipative Elemente und
            geeignete Materialien für die Durchführung in der Praxis kennen.
            Neben der inhaltlichen Fokussierung auf die Schülerbeteiligung im
            Rahmen der sieben Schritte war der Workshop zudem methodisch
            partizipativ ausgerichtet. Die Teilnehmer arbeiteten in Gruppen mit
            beteiligungsorientierten Methoden und lernten diese direkt
            anzuwenden.
          </p>

          <h3>Trainingscamp für die Modellschulen (Juli und September 2009)</h3>
          <p>
            An der fünftägigen Veranstaltung nahmen Schüler, Lehrer und Berater
            der Schulen teil. Im Juli fand das Camp für die Grundschulen und im
            September für die Mittelschulen statt. Nach einer allgemeinen
            Einführung in die Thematik sowie Diskussionen und Übungen wurden
            aufbauend auf einem exemplarischen Öko-Audit des Bildungszentrums
            Vorschläge bzw. ein Aktionsplan für die Verbesserung des
            Ist-Zustandes des Zentrums erarbeitet. Interaktive Spiele und
            Übungen brachten den richtigen Schwung in die
            beteiligungsorientierte Kleingruppenarbeit. Die Teilnehmer
            erarbeiteten sehr interessante Ergebnisse, wie zum Beispiel ein
            Video-Spot mit Vorschlägen für die Verbesserung der Energie- und
            Umweltbilanz des Bildungszentrums. Die Ergebnisse werden auf der
            Website <a href="https://zelenaskola.sk/">www.zelenaskola.sk</a> präsentiert.
          </p>

          <h3>
            Workshop „Methoden der Schülerpartizipation“ (20.-21. Juni 2009)
          </h3>
          <p>
            Der zweitägige Workshop wurde im Rahmen der einwöchigen Exkursion
            durchgeführt. Die vier Vertreter der Koordinierungsgruppe des
            slowakischen Eco-Schools-Programms setzten sich mit Zielen und
            Gelingensbedingungen von Partizipation in der Schule auseinander und
            analysierten Materialien zu ausgewählten Methoden der
            Schülerbeteiligung. In einem weiteren Schritt wurden Beispiele der
            Partizipation von Schülern im Umweltmanagement vorgestellt und
            gemeinsam mit den Teilnehmern auf Möglichkeiten der Umsetzung in den
            slowakischen Modellschulen untersucht. Überdies wurden Wege der
            Initiierung und Möglichkeiten der Unterstützung partizipatorischer
            Projekte vorgestellt und diskutiert. Abschließend wurde geprüft,
            inwieweit Schülerpartizipation in die „Sieben Schritte“ integriert
            werden kann und es wurden Möglichkeiten und Hemmnisse in
            slowakischen Eco-Schools diskutiert.
          </p>

          <h3>
            Exkursion „Praxisbeispiele für Partizipation in USE/INA-Schulen“
            (18.-23. Juni 2009)
          </h3>
          <p>
            Im Rahmen der einwöchigen Exkursion haben vier Vertreter der
            Koordinierungsgruppe des slowakischen Eco-Schools-Programms die
            partizipative Arbeit beispielhafter Schulen in Berlin und Hamburg
            kennen gelernt. In Berlin hatten die Teilnehmer die Möglichkeit die
            Evangelische Schule Berlin Zentrum <a
              href="https://www.ev-schule-zentrum.de/"
              >www.ev-schule-zentrum.de</a
            > sowie die Gesamtschule Werner-Stephan-Oberschule zu erkunden. Die Teilnehmer
            hatten die Möglichkeit sich in den Schulen im direkten Austausch mit
            der Schulleitung und den Schülern Methoden und Konzepte wie Klassenrat
            und Schulversammlung, Service Learning, Klimaschutzakademie von Schülern
            für Schüler sowie Schülerfirma zu ergründen.
          </p>
          <p>
            In Hamburg besuchten die Teilnehmer das Gymnasium Ohmoor
            <a href="https://gymnasium-ohmoor.hamburg.de/"
              >www.gymnasium-ohmoor.hamburg.de</a
            > sowie das Alexander-von-Humboldt-Gymnasium <a
              href="https://alexander-von-humboldt-gymnasium.hamburg.de"
              >www.alexander-von-humboldt-gymnasium.hamburg.de</a
            >. In direkten Gesprächen mit den Beteiligten der langjährigen sehr
            aktiven und erfolgreichen USE/INA-Schulen erweiterten die Teilnehmer
            ihr Wissen über Möglichkeiten und zu vermeidende Stolpersteine bei
            der Implementation eines partizipativen Prozesses in USE/INA-Schulen
            und diskutierten Erfolg versprechende Möglichkeiten eines Transfers
            in die slowakischen Modellschulen.
          </p>

          <h3>
            Workshop „Motivation zum partizipativen Management“ (4. und 5. Juni
            2009)
          </h3>
          <p>
            Im Rahmen der ersten Veranstaltung für die Modellschulen wurde den
            Teilnehmern theoretisches und praktisches Wissen zur Partizipation
            vermittelt. Es wurden Inputs zur Bedeutung und Notwendigkeit von
            Partizipation im Rahmen der Umwelterziehung, zu den sieben Schritten
            und Möglichkeiten der praktischen Umsetzung von Partizipation sowie
            zum Umgang mit Problemen gegeben. Ergänzt wurde dies durch
            Diskussionen und Gruppenarbeit mit Fokus auf die eigene Rolle in der
            Schule hinsichtlich der Implementierung von Partizipation und der
            Unterstützung der Umsetzung der sieben Schritte. Nach einer
            intensiven Diskussion der sieben Schritte und des partizipativen
            Ansatzes wurden mögliche Probleme und Hindernisse im alltäglichen
            Schulleben analysiert und Handlungsmöglichkeiten entwickelt.
          </p>

          <h3>
            Regionale Seminare „Präsentation des Projektes zur Gewinnung von
            Modellschulen“ (Mai 2009)
          </h3>
          <p>
            Während der Anmeldungsphase für das Schuljahr 2009/2010 wurde das
            Projekt den Eco-Schools in den vier Regionalzentren des slowakischen
            Projektpartners ZIVICA präsentiert. Ein Fokus wurde dabei auf die
            Erläuterung des neuen Ansatzes zur Förderung der Schul- und
            Unterrichtsqualität durch die Orientierung an den sieben Schritten
            der FEE und die Förderung der Schülerbeteiligung gelegt. Insgesamt
            meldeten sich elf Grundschulen (1.-8. Klasse) und sieben
            Mittelschulen (9.-12. Klasse) für die Teilnahme als Modellschule.
          </p>

          <h3>Sondierung guter Praxisbeispiele deutscher USE/INA-Schulen</h3>
          <p>
            Zur Sondierung guter Beispiele für Schülerbeteiligung in
            USE/INA-Schulen wurde ein Fragenkatalog erarbeitet, der sich an den
            sieben Schritten der FEE orientiert. In Absprache mit den deutschen
            USE/INA-Landeskoordinatoren wurden beispielhafte Schulen ermittelt
            und anhand des Fragenkatalogs befragt. Voneinander zu lernen und
            gute Beispiele weiter zu geben war Ziel der Befragung. Die
            Ergebnisse sollen u.a. in den Leitfaden zur Schülerbeteiligung in
            Eco-Schools einfließen. Der Leitfaden soll partizipative Methoden
            sowie gute Beispiele aufführen und den Prozess zur Förderung von
            Partizipation in den slowakischen Eco-Schools unterstützen und
            bereichern. Nicht zuletzt können auch USE/INA-Schulen davon
            profitieren, da die zusammen gestellten Befragungsergebnisse den
            USE/INA-Schulen zur Verfügung gestellt werden.
          </p>

          <h3>
            Workshop „Einführung in Möglichkeiten der Partizipation in
            Eco-Schools“ (4.-7. Mai 2009)
          </h3>
          <p>
            Ziel des Workshops war, Ansätze für die Implementierung von
            Schülerbeteiligung in slowakische Eco-Schools zu finden. Das
            slowakische Koordinierungsteam diskutierte dies mit dem deutschen
            Projektpartner (DGU), dem norwegischen Projektpartner sowie den
            externen Beratern und Lehrern der slowakischen Eco-Schools. Es wurde
            u.a. fest gestellt, dass es einen großen Bedarf an Förderung von
            Partizipation und Unterstützung der Beteiligungskultur im
            slowakischen Schulsystem gibt und das Projekt von Gewinn bringender
            Bedeutung für die weitere Entwicklung ist.
          </p>
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
