---
import { Image } from "astro:assets";
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../public/content/media/sponsoren/dbu.png";
import sunce from "../../../public/content/media/sponsoren/sunce.png";
---

<DefaultLayout title="Nachhaltige Entwicklung mitgestalten">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>
        Projekt „Nachhaltige Schülerfirmen an kroatischen Sekundarschulen -
        grüne Gründungen fördern nachhaltiges unternehmerisches Denken und
        Handeln bei jungen Menschen in Kroatien“
      </h1>
      <div class="prose mt-6 max-w-full">
        <div>
          <p>
            Ziel des Projektes war es, das Lehr-Lernkonzept Nachhaltige
            Schülerfirmen an drei Modellschulen (Sekundarschulen) in Kroatien zu
            implementieren und anhand der Ergebnisse sowie Beispielen guter
            Praxis einen Transferimpuls für weitere Schulen zu leisten. Durch
            das Projekt wurden mittel- und langfristig wirkende Impulse für die
            Gründung nachhaltiger Schülerfirmen an kroatischen Sekundarschulen
            gesetzt.
          </p>
          <p>
            Im Rahmen des Projektes wurde die Situation nachhaltiger
            Schülerfirmen bzw. Studentenkooperativen in Kroatien erfasst und
            bewertet. Als Ergebnis zeigt sich in den letzten Jahren eine Zunahme
            der Studentenkooperativen, so dass es derzeit 607 davon gibt, die
            meisten davon in der Stadt Zagreb und in der Region Split-Dalmatien.
            Die meisten, 469 von ihnen, arbeiten in Grundschulen, 102 in
            weiterführenden Schulen, 4 in Studentenwohnheimen und 32 in
            Bildungszentren. Von diesen befinden sich insgesamt 67 in der Region
            Split-Dalmatien, 56 in Grundschulen, 9 in Sekundarschulen, eine im
            Bildungszentrum "Juraj Bonači" und eine in einem Studentenwohnheim.
            Die Studentengenossenschaften innerhalb dieser Kreise sind so
            vielfältig wie der Kreis selbst und passen sich den traditionellen
            und landwirtschaftlichen Merkmalen ihrer Region (Inseln, Hinterland
            und Küste) an. Sie sind in 4 Bereichen tätig: auf dem Gebiet der
            landwirtschaftlichen Produktion, des traditionellen Handwerks, der
            Herstellung von dekorativen und nützlichen Gegenständen und der
            Durchführung von Forschungsarbeiten.
          </p>
        </div>

        <h2>Das Projekt</h2>
        <div>
          <p>
            Das Projekt wurde in Kooperation zwischen der Deutschen Gesellschaft
            für Umwelterziehung (DGU) und der Umweltorganisation Sunce
            durchgeführt. Die Umweltorganisation Sunce führte das Projekt vor
            Ort in Zusammenarbeit mit Partnern durch. Beteiligt waren die
            Wirtschaftswissenschaftliche Fakultät der Universität Split
            (Coaching durch Studierende), ein nachhaltiges Unternehmen als
            Partner der Modellschulen (Partnerschaft, Coaching,
            Betriebserkundung), der Kroatische Verband für Zadrugas (Expertise
            im Bereich Schülergenossenschaften) sowie der Verein Marjan
            (Verkaufs-Kiosk im Waldpark Marjan). Angestrebt wurde zudem ein
            Matching zwischen dem kroatischen Partnerunternehmen und den
            gegründeten nachhaltigen Schülerfirmen in den Sekundarschulen
            (Support/Beratung). Nachdem in einem ersten Projektabschnitt ein
            Einführungsmeeting zwischen Sunce und Lehrkräften (Schulen und
            Hochschulen) stattgefunden hatte, wurden durch die DGU im Frühjahr
            und Sommer 2020 beispielhafte Institutionen für Nachhaltige
            Schülerfirmen in Deutschland identifiziert und diese zu einer
            Darstellung ihrer Inhalte und Methoden eingeladen. Die Beispiele
            wurden durch die DGU aufbereitet und in diversen Online-Workshops
            und Meetings im Herbst und Winter 2020/21 den kroatischen Partnern
            vorgestellt. In der zweiten Phase wurde eine Workshop-Reihe in Form
            von 5 Workshops durchgeführt, die sich an die Schüler sowie
            Lehrkräfte der beteiligten Modellschulen richten und in Kooperation
            mit dem Verband für Zadrugas, den Partnerunternehmen sowie der
            Wirtschaftswissenschaftlichen Fakultät realisiert wurden. In den
            aufeinander aufbauenden Workshops setzten sich die Teilnehmenden
            intensiv mit dem Konzept des nachhaltigen Wirtschaftens (u.a. am
            Beispiel eines Partnerunternehmens) und dem Konzept der nachhaltigen
            Schülerfirmen auseinander und entwickelten anhand des Sustainable
            Business Canvas (SBC) selbstständig das Geschäftsmodell ihrer
            nachhaltigen Schülerfirma. Handlungsorientiertes Wissen zu
            Rechtsfragen, Finanzfragen, Marketing, etc. sowie eine begleitende
            Beratung durch den Verband für Zadrugas, Studierende der
            Wirtschaftswissenschaftlichen Fakultät und die Partnerunternehmen
            rundeten die Workshop-Reihe ab. In der dritten Phase wurde in
            Kooperation mit dem Verein Marjan der Verkaufs-Kiosk für die
            Produkte der nachhaltigen Schülerfirmen eingerichtet, der den
            Schülern im Stadt-Waldpark Marjan einen touristisch gut besuchten
            Ort in Split bietet, um ihre nachhaltigen Produkte zu verkaufen.
            Dieser dient auch zur weiteren Unterstützung der Verstetigung des
            Projektes durch seine bevorzugte Lage (zentraler Anlaufpunkt,
            Stadt-Waldpark bzw. Strandgebiet, Einbeziehung der Umgebung). Zudem
            wurden die Ergebnisse und Erfahrungen des Projektes in Form einer
            praxisorientierten Handreichung für den Transfer an weitere
            Sekundarschulen in Kroatien sowie auf internationaler Ebene
            dokumentiert und zur Verfügung gestellt. Im Rahmen einer
            Abschlussveranstaltung wurden die Ergebnisse der Modellschulen sowie
            die Handreichung präsentiert. Ziel ist es, diese zu streuen und
            weitere Schulen für die Implementierung von nachhaltigen
            Schülerfirmen zu gewinnen.
          </p>
          <p>
            Die Durchführung des Projektes erfolgte in enger Kooperation
            zwischen der Deutschen Gesellschaft für Umwelterziehung e.V. (DGU)
            und dem kroatischen Verein für Natur Umwelt und nachhaltige
            Entwicklung Sunce (Udruga za prirodu, okoliš i održivi razvoj
            Sunce). Die DGU war im Rahmen des Projektes für die fachliche
            Beratung und den Transfer von Wissen und Erfahrungen / guter Praxis
            im Bereich Nachhaltige Schülerfirmen zuständig. Die Organisation
            Sunce war für die Implementierung der erworbenen Kenntnisse und
            Erfahrungen und die Initiierung von Aktivitäten und Maßnahmen in
            Kroatien und deren Verstetigung zuständig. Das Projekt hatte eine
            zweijährige Laufzeit (2020-2022) und wird von der <strong
              >Deutschen Gesellschaft für Umwelterziehung e.V. (DGU)</strong
            > in Zusammenarbeit mit dem <strong
              >kroatischen Verein für Natur, Umwelt und Entwicklung (Sunce)</strong
            > durchgeführt. Gefördert wurde das Projekt von der <strong
              >Deutschen Bundesstiftung Umwelt (DBU).</strong
            >
          </p>
        </div>

        <h2>Aktuelles</h2>
        <div>
          <p>
            <strong>
              Handreichung „Participate in Sustainable Development: Understand –
              Implement – Shape: Sustainable Student Companies in Croatian High
              Schools“
            </strong>
          </p>
          <p>
            Wir freuen uns, mit der Handreichung „Participate in Sustainable
            Development: Understand – Implement – Shape: Sustainable Student
            Companies in Croatian High Schools“ wertvolle Erfahrungen und
            Anregungen aus dem Projekt "Nachhaltige Schülerfirmen an kroatischen
            Sekundarschulen - grüne Gründungen fördern nachhaltiges
            unternehmerisches Denken und Handeln bei jungen Menschen in
            Kroatien“ weiter geben zu können. Das Praxishandbuch richtet sich in
            erster Linie an pädagogische Fachkräfte in weiterführenden Schulen,
            aber auch an andere Jugendarbeiter. Der Schwerpunkt des Handbuchs
            liegt auf Möglichkeiten zur Verbesserung der unternehmerischen
            Fähigkeiten junger Menschen, aber auch zur Verbesserung ihres
            Umweltbewusstseins durch die Arbeit in Schülerfirmen. Das Handbuch
            stellt die aktuelle Situation von Schülerfirmen in Kroatien,
            Beispiele guter Praxis und verschiedene partizipative Methoden und
            Workshops vor, die eingesetzt werden können, um Schüler zu
            motivieren und sie zu befähigen, selbstständig in die Wirtschaft
            einzusteigen. Die Workshops und Arbeitsmethoden können in der
            täglichen Arbeit außerhalb der Schülerfirmen eingesetzt werden.
            Außerdem enthält das Handbuch praktische Materialien für die Arbeit
            mit Jugendlichen (Arbeitsblätter, Organisationspläne), aber auch die
            notwendigen Unterlagen für die Gründung einer Schülerfirma für jene
            Schulen, die die Schülerpraxis noch ausbauen müssen. Das Handbuch
            ist in kroatischer und englischer Sprache erhältlich.
          </p>
          <p>Wir wünschen viel Engagement und gutes Gelingen dabei!</p>
          <p><a href="/downloads#kroatien-1">Zum Download</a></p>
        </div>

        <h3>Ersatz für Studienreisen in Deutschland</h3>
        <div>
          <p>
            Auf Grund der Corona-Situation in Deutschland und Kroatien konnten
            geplante Studienreisen und Tagungen nicht wie ursprünglich
            vorgesehen stattfinden (z.B. fanden Workshops nicht innerhalb eines
            Treffens, sondern als Video-Workshop statt) oder wurden, nach
            telefonischer Absprache mit der DBU, im Projekt verschoben. Zu den
            Verschiebungen gehören derzeit die Studienreise in Deutschland sowie
            ein Auftakttreffen der Projektpartner in Kroatien sowie eine
            Workshopreihe in Kroatien. Während der gesamten bisherigen
            Projektlaufzeit fanden regelmäßige Absprachen zwischen DGU und Sunce
            statt, um alle verschobenen Meetings und Konferenzen entweder
            nachzuholen oder in einer anderen Form (zumeist Online-Meetings oder
            Online-Konferenzen) gleichwertig die Inhalte zu übermitteln.
          </p>
          <p>
            Es fanden insgesamt 6 Workshops (eintägig bzw. zweitägig) sowie eine
            zweitägige Konferenz statt, in der in Zusammenarbeit mit DGU und
            Sunce nachhaltige Schülerfirmen vorgestellt und konkrete
            Arbeitsschritte hin zu einer nachhaltigen Schülerfirma diskutiert
            wurden. Zudem wurde das Projekt auf verschiedenen weiteren
            Konferenzen (z.B. Lifelong Learning Week) vorgestellt und über den
            jeweiligen Stand berichtet.
          </p>
          <p>
            Das Praxishandbuch "Participate in Sustainable Development:
            Understand – Implement – Shape: Sustainable Student Companies in
            Croatian High Schools" richtet sich in erster Linie an pädagogische
            Fachkräfte in weiterführenden Schulen, aber auch an andere
            Jugendarbeiter. Der Schwerpunkt des Handbuchs liegt auf
            Möglichkeiten zur Verbesserung der unternehmerischen Fähigkeiten
            junger Menschen, aber auch zur Verbesserung ihres Umweltbewusstseins
            durch die Arbeit in Schülerfirmen. Das Handbuch stellt die aktuelle
            Situation von Schülerfirmen in Kroatien, Beispiele guter Praxis und
            verschiedene partizipative Methoden und Workshops vor, die
            eingesetzt werden können, um Schüler zu motivieren und sie zu
            befähigen, selbstständig in die Wirtschaft einzusteigen. Die
            Workshops und Arbeitsmethoden können in der täglichen Arbeit
            außerhalb der Schülerfirmen eingesetzt werden. Außerdem enthält das
            Handbuch praktische Materialien für die Arbeit mit Jugendlichen
            (Arbeitsblätter, Organisationspläne), aber auch die notwendigen
            Unterlagen für die Gründung einer Schülerfirma für jene Schulen, die
            die Schülerpraxis noch ausbauen müssen. Das Handbuch ist in
            kroatischer und englischer Sprache erhältlich.
          </p>
          <p>
            Der Kiosk konnte im Projektverlauf fertiggestellt und in Betrieb
            genommen werden, in Kooperation mit dem Verein Marjan wurde der
            Verkaufs-Kiosk für die Produkte der nachhaltigen Schülerfirmen
            eingerichtet, der den Schülern im Stadt-Waldpark Marjan einen
            touristisch gut besuchten Ort in Split bietet, um ihre nachhaltigen
            Produkte zu verkaufen. Er entwickelt sich derzeit zu einer
            Anlaufstelle für Interessenten sowohl für nachhaltige Produkte als
            auch Informationen zu nachhaltigen Schülerfirmen. Der direkte Bezug
            zur Organisation Sunce und verfügbaren Informationen zu nachhaltigen
            Schülerfirmen ermöglicht auf einfache Weise eine Kontaktaufnahme.
          </p>
        </div>

        <h3>Öffentlichkeitsarbeit</h3>
        <div>
          <p>
            Zu Projektbeginn wurden das Projekt und die geplanten Aktivitäten im
            Rahmen einer öffentlichkeitswirksamen Veranstaltung präsentiert, die
            von Sunce organisiert wurde. Teilnehmende waren neben
            Medienvertretern die beteiligten Schüler und Lehrkräfte der
            Modellschulen sowie Mitarbeiter von Sunce und DGU, Vertreter des
            Verbands für Zadrugas und Studierende der
            Wirtschaftswissenschaftlichen Fakultät. Der Fokus war auf das
            Projekt, das Themenfeld nachhaltige Schülerfirmen sowie Bildung für
            nachhaltige Entwicklung gerichtet.
          </p>
          <p>
            Im Rahmen des Projektes wurden etliche Artikel veröffentlicht, siehe
            dazu u.s. Links. Zielgruppen und Öffentlichkeit wurden durch
            Veröffentlichungen auf der SUNCE-Website sowie der DGU-Website über
            das Projekt und die Projektaktivitäten informiert. Webseiten von
            Partnerschulen veröffentlichten ebenfalls Artikel, darunter die
            School of Design, Graphics and Sustainable Construction Split mit 1
            Veröffentlichung sowie die Craft Technical Split und die Secondary
            School Braća Radić Kaštel Štafilić mit jeweils 2 Veröffentlichungen.
            Die Renovierung des Kiosks und die Nutzung der Kioske für den
            Verkauf und die Förderung nachhaltiger Schülerfirmen und ihrer
            Produkte wurde begleitet von 3 Ankündigungen in den Medien auf
            lokalen Fernsehsendern und Radiostationen in Split und einem Artikel
            in Printmedien und Online-Portalen. Der Fernsehsender „television
            Dalmatia“ veröffentlichte einen Beitrag zum Kiosk der Marjan
            Society. Teilnahme und Präsentation der Produkte im Rahmen der Woche
            des lebenslangen Lernens in Split. Die Bürgerinnen und Bürger hatten
            die Möglichkeit, dieses Produkt am Stand des Vereins Sunce zu
            probieren. Nachdem sie die vegetarische Pašticada (ein
            traditionelles kroatisches Gericht) probiert hatten, konnten die
            Bürger den SchülerInnen ihr Feedback zu diesem Produkt geben, das
            ihnen später bei der Entwicklung ihrer Idee nützlich sein kann. 31
            Teilnehmer (Angestellte von Bildungseinrichtungen) wurden direkt
            durch den Expertenrat der Region Split-Dalmatien für den
            Bildungsbereich Wirtschaft, Handel und Betriebswirtschaft und den
            Teilbereich Wirtschaft in das Projekt, die Projektaktivitäten und
            die Projektergebnisse eingeführt. Die Teilnehmer hatten die
            Möglichkeit, ein Beispiel für die gute Praxis von Schülerfirmen zu
            sehen sowie sich mit dem Projekt und den Projektaktivitäten vertraut
            zu machen. Die fortwährende Darstellung des Projekts auf
            verschiedenen Ebenen führte in den vergangenen Monaten bereits zu
            einer gestiegenen Nachfrage nach Bildungsangeboten durch Sunce für
            den Aufbau von nachhaltigen Schülerfirmen bzw. einer Veränderung
            „klassischer“ Schülerfirmen hin zu nachhaltigen Schülerfirmen.
          </p>
        </div>

        <table>
          <thead>
            <tr>
              <th>Informationen zum Projekt</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Februar 2022</td>
              <td>Präsentation der Handreichung</td>
            </tr>
            <tr>
              <td>Januar 2022</td>
              <td>Abschluss der Workshops</td>
            </tr>
            <tr>
              <td>Januar 2021 - Dezember 2021</td>
              <td>Durchführung von 6 Workshops in Kroatien</td>
            </tr>
            <tr>
              <td>Dezember 2020</td>
              <td>2-tägige Konferenz "Nachhaltige Schülerfirmen"</td>
            </tr>
            <tr>
              <td>April 2020</td>
              <td>Auftaktworkshop mit allen Projektbeteiligten in Kroatien</td>
            </tr>
            <tr>
              <td>Januar 2020</td>
              <td>Start des Projektes</td>
            </tr>
          </tbody>
        </table>

        <h2>Kontakte</h2>
        <div class="flex flex-wrap gap-10">
          <div class="contact-card mt-6">
            <h2>Deutschland</h2>
            <p>Robert Lorenz</p>
            <p>Tel.: +49 178 4402955</p>
            <p>
              <a href="mailto:sekretariat@umwelterziehung.de"
                >Email: sekretariat@umwelterziehung.de</a
              >
            </p>
          </div>
          <div class="contact-card mt-6">
            <h2>Kroatien</h2>
            <p>Margita Radman</p>
            <p>
              Sunce<br />
              Udruga za prirodu, okoliš i održivi razvoj<br />
              Obala hrvatskog narodnog preporoda 7/III<br />
              21000 Split Croatia
            </p>
            <p>Tel.: +385 21 360 779</p>
            <p>
              <a href="mailto:margita.radman@sunce-st.org"
                >Email: margita.radman@sunce-st.org</a
              >
            </p>
          </div>
        </div>

        <h2>Unterstützer</h2>
        <div class="not-prose">
          <a href="https://sunce-st.org/">
            <Image src={sunce} alt="SUNCE" class="max-w-52" />
          </a>
          <a href="https://www.dbu.de/">
            <Image
              src={dbuLogo}
              alt="Deutsche Bundesstiftung Umwelt"
              class="mt-10 max-w-52"
            />
          </a>
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
