---
import { Image } from "astro:assets";
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../public/content/media/sponsoren/dbu.png";
import sunce from "../../../public/content/media/sponsoren/sunce.png";
---

<DefaultLayout title="Nachhaltige Entwicklung mitgestalten">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>
        Projekt „Service-Learning für Natur- und Umweltschutz in Kroatien – Ein
        deutsch-kroatisches Kooperationsprojekt für Studierende“
      </h1>
      <div class="prose mt-6 max-w-full">
        <div>
          <p>
            Die Lösung der globalen Fragen und Herausforderungen der Zukunft
            sind insbesondere für die junge Generation von wesentlicher
            Bedeutung, da sie nicht nur heute, sondern auch zukünftig mit den
            Folgen einer nicht nachhaltigen Entwicklung umgehen müssen. Zentrale
            Aufgabe ist es daher, junge Menschen zu motivieren und zu befähigen,
            eine umweltfreundliche und sozial gerechte Welt aktiv
            mitzugestalten. Die Übernahme gesellschaftlicher Verantwortung
            spielt dabei eine wesentliche Rolle.
          </p>
          <p>
            Genau hier setzt das Projekt an und will das bürgerschaftliche
            Engagement von Studierenden im Bereich des Natur- und Umweltschutzes
            fördern. Das innovative Lernarrangement Service-Learning bietet
            dabei ein didaktisches Konzept, das die aktive Beteiligung junger
            Menschen an der Bewältigung tatsächlich vorhandener Aufgaben und der
            Lösung von Problemen im lokalen Umfeld fördert.
          </p>
        </div>

        <h2>Das Projekt</h2>
        <div>
          <p>
            Im Rahmen des Projekts werden Service-Learning Vorhaben in
            Zusammenarbeit zwischen der Universität Split und der kroatischen
            Umweltorganisation Sunce als außeruniversitärer Partner erarbeitet
            und umgesetzt. Dabei werden das Wissen und die Erfahrungen im
            Bereich des Service-Learning an deutschen Hochschulen aufgegriffen,
            aufgearbeitet und transferiert. Innovativ sind in diesem Projekt zum
            einen die Implementierung des Lernarrangements an den beteiligten
            Fakultäten der Universität Split sowie der spezielle Fokus des
            traditionell im sozialen Bereich angesiedelten Service-Learning auf
            Engagementvorhaben im Umwelt- und Naturschutzbereich.
          </p>
          <p>
            Im Laufe des Projekts erfolgt u.a. ein Besuch der kroatischen
            Partner in Deutschland. Lehrende der Universität Split und
            Mitarbeiter der Umweltorganisation Sunce lernen dabei die praktische
            Umsetzung von Service-Learning an deutschen Hochschulen kennen und
            setzen sich mit dem theoretischen Hintergrund sowie der
            organisatorischen und strukturellen Anbindung auseinander. Die
            erworbenen Erfahrungen und Kenntnisse werden in weiteren Workshops
            vertieft und münden in ein Konzept zur Umsetzung von
            Service-Learning an der Universität Split. Im Laufe eines Semesters
            entwickeln daraufhin die Studierenden Service-Learning Vorhaben zur
            Förderung des Umweltwissens und -bewusstseins in ihrer Stadt. Dabei
            fokussieren sie auf die Themenfelder „Nachhaltiger Tourismus“ und
            „Nachhaltiges Abfallmanagement“, da diese eine besondere Relevanz
            auf der lokalen Ebene in Split haben. Die Service-Learning Vorhaben
            führen die Studierenden im Rahmen von internationalen Umwelttagen
            sowie interaktiven Veranstaltungen durch und adressieren diese an
            Bürger der Stadt Split sowie Studierende der Universität Split. Die
            im Projekt gewonnenen Erfahrungen und Kenntnisse werden in Form
            einer Handreichung aufgearbeitet und mit Abschluss des Projekts als
            Online-Ressource zur Verfügung gestellt.<br />
            Das Projekt hat eine zweijährige Laufzeit (2016-2017) und wird von der
            <strong
              >Deutschen Gesellschaft für Umwelterziehung e.V. (DGU)</strong
            > in Zusammenarbeit mit dem <strong
              >kroatischen Verein für Natur, Umwelt und Entwicklung (Sunce)</strong
            >
            durchgeführt. Gefördert wird das Projekt von der <strong
              >Deutschen Bundesstiftung Umwelt (DBU).</strong
            >
          </p>
        </div>

        <h2>Aktuelles</h2>
        <div>
          <p>
            <strong>
              Handreichung „Service-Learning – Engagement Studierender im Natur-
              und Umweltschutz“
            </strong>
          </p>
          <p>
            Wir freuen uns, mit der Handreichung „Service-Learning – Engagement
            Studierender im Natur- und Umweltschutz“ wertvolle Erfahrungen und
            Anregungen aus dem Projekt "Service-Learning für Natur- und
            Umweltschutz in Kroatien – Ein deutsch-kroatisches
            Kooperationsprojekt für Studierende“ weiter geben zu können. Im
            Rahmen des Projektes entwickelten die Studierenden
            Veranstaltungsformate zur Förderung des Umweltwissens und
            -bewusstseins im Bereich „Nachhaltiger Tourismus“ und „Nachhaltiges
            Abfallmanagement“. Sie entwickelten in Kooperation mit der
            Umweltorganisation Sunce Aktionen, die sie im Rahmen interaktiver
            Veranstaltungen sowie internationaler Umwelttage durchführten und an
            Studierende der Universität Split sowie Bürger der Stadt Split
            adressierten.
          </p>
          <p>
            Die Handreichung bündelt die praktischen Erfahrungen, ergänzt diese
            durch theoretische Grundlagen und lädt Hochschulen und
            zivilgesellschaftliche Organisationen ein, diese zu nutzen, um das
            Lehren und Lernen handlungsorientiert zu gestalten und Studierende
            dazu zu motivieren sich aktiv in die Lösung von Problemen und
            Herausforderungen der Gesellschaft einzubringen.
          </p>
          <p>
            Die Handreichung stellt eine Fortsetzung der Initiative der
            Umweltorganisation Sunce dar, Arbeitsmaterialien zu entwickeln, die
            bürgerschaftliches Engagement und aktive Beteiligung im
            Umweltschutz, die Anwendung partizipativer Lehr- und Lernmethoden
            sowie informelle Lernformen fördern. Wie auch die erste
            Veröffentlichung der Reihe „Nachhaltige Entwicklung –
            Begreifen-Umsetzen-Gestalten“ erscheint diese Handreichung nicht nur
            in kroatischer und deutscher, sondern auch in englischer Sprache.
            Dies soll dazu beitragen, dass die Erfahrungen und Kenntnisse aus
            dem Projekt auch über die Landesgrenzen der beiden Projektpartner
            hinaus gestreut werden und Bildungsgestaltern in anderen Ländern der
            Erde ebenfalls Anregungen und Unterstützung für ihre Arbeit geben.
          </p>
          <p>Wir wünschen viel Engagement und gutes Gelingen dabei!</p>
          <p><a href="/downloads#kroatien-2">Zum Download</a></p>
        </div>

        <h3>Service-Learning – zweite Staffel erfolgreich abgeschlossen!</h3>
        <div>
          <p>
            Die zweite Studierendengruppe der Universität Split, die im Zeitraum
            März bis September 2017 am Service-Learning Programm teilgenommen
            hat, kann ebenfalls auf eine ereignisreiche Zeit und zwei
            erfolgreich durchgeführte öffentliche Veranstaltungen zurückblicken.
            Um wertvolle Erfahrungen und Einblicke reicher, erhielten die
            Studierenden im Rahmen der Abschlussveranstaltung ein Zertifikat,
            das ihre besonderen Leistungen hervorhebt.<br />
            Der Ablauf des Programms gestaltete sich wie bei der ersten Gruppe. Das
            Service-Learning Programm startete mit der Kick-Off Veranstaltung. Darauf
            folgten vier Workshops, in denen die Studierenden sich mit den Themen
            “Nachhaltiger Tourismus” und “Nachhaltiges Abfallmanagement”, der Planung
            und Organisation von öffentlichen Veranstaltungen sowie Medienarbeit
            auseinandersetzten. Daran schloss sich die Erarbeitungssphase zur konzeptionellen
            Planung und Durchführung der öffentlichen Veranstaltungen an.
          </p>
          <p>
            Im September 2017 war es dann soweit! Am internationalen Tag der
            Umwelt führten Studierende der Fakultät für
            Wirtschaftswissenschaften und der Abteilung für Meereskunde in der
            Stadtbibliothek "Marko Marulić" ein öffentliches Bildungscafé zum
            Thema Nachhaltiger Tourismus durch. Eingeladen waren sowohl die
            Bürger der Stadt Split als auch Studierende ihrer Fakultäten. Die
            Veranstaltung informierte über Ansätze und Möglichkeiten eines
            nachhaltigen Tourismus in der vom Tourismus lebenden Stadt Split. In
            einem ersten Teil berichteten die Studierenden über Ziele und
            Inhalte ihres Service-Learning Projektes. Darauf aufbauend
            veranschaulichte der Geschäftsführer des Naturparks Biokovo die
            Probleme und Herausforderungen eines nicht nachhaltigen Tourismus
            und die Initiativen des Parks dagegen anzuwirken. Ergänzend stellte
            der Geschäftsführer des “grünen” Hotels Split beispielhaft Maßnahmen
            eines nachhaltig wirtschaftenden Hotels vor. Anschließend
            diskutierten die Teilnehmenden gemeinsam über nachhaltigen Toursimus
            sowie mögliche Initiativen der Stadt Split, um negative Auswirkungen
            des Tourismus auf Natur und Umwelt zu reduzieren bzw. zu vermeiden.
            Zum krönenden Abschluss wurden alle Teilnehmenden eingeladen, die
            von den Studierenden selbst hergestellten traditionellen regionalen
            Spezialitäten zu genießen.
          </p>
          <p>
            Die Gruppe von Studierenden der Fakultät für Chemie und Technik
            sowie der Fakultät für Geistes- und Sozialwissenschaften widmete
            sich im Rahmen des Themenfeldes “Nachhaltiger Tourismus” dem
            übermäßigen Gebrauch von Plastiktüten im Alltag. Mit dem Ziel eine
            nachhaltige Abfallwirtschaft zu fördern und den Verbrauch von
            schädlichem Kunststoff zu reduzieren, führten die Studierenden am
            internationalen Tag der Umwelt auf der Stadtpromenade von Split eine
            öffentliche Veranstaltung mit dem Titel "Plastic Detox" durch. Die
            Bürger konnten sich rund um das Thema informieren und hatten die
            Möglichkeit, eine Leinentasche zu bemalen und mit nach Hause zu
            nehmen. Die Tasche wurde mit einem von den Studierenden gestalteten
            Anhänger mit Zahlen und Fakten über die Verschwendung von Plastik
            sowie Informationen über die Auswirkung von Plastik auf Gesundheit,
            Natur und Umwelt ausgestattet. Zudem hatten die Bürger die
            Möglichkeit, sich an einer Befragung über Mülltrennung in Split und
            Umgebung zu beteiligen. Die Ergebnisse der Umfrage dienten der
            weiteren Arbeit der Umweltorganisation Sunce. Es nahmen etwa 150
            Bürger an der Veranstaltung teil.
          </p>
          <p>
            Beide öffentlichen Veranstaltungen wurden von einer umfangreichen
            Presse- und Öffentlichkeitsarbeit begleitet. Sowohl beim
            Bildungscafé als auch bei der Aktion “Plastik Detox” war das lokale
            Fernsehen anwesend. Über die Aktion “Plastic Detox” zum Beispiel
            berichtete der lokale Fernsehsender live, stellte die Idee des
            Service Learning in Zusammenarbeit zwischen der Organisation Sunce
            und der Universität Split vor und interviewte die Studierenden über
            ihr Engagementvorhaben.
          </p>
          <p>
            Wir gratulieren allen beteiligten Studierenden für die gelungenen
            Veranstaltungen und wünschen weiterhin viel Motivation und
            Engagement!
          </p>
        </div>

        <h3>Service-Learning – erste Staffel erfolgreich abgeschlossen!</h3>
        <div>
          <p>
            Die erste Studierendengruppe der Universität Split, die am
            Service-Learning Programm teilgenommen hat, ist um viele Erfahrungen
            und Einsichten reicher geworden und hält bereits das Zertifikat in
            den Händen. Für den Zeitraum November 2016 bis März 2017 blicken die
            Studierenden auf fünf handlungsorientierte Workshops, eine intensive
            Erarbeitungsphase sowie eine ereignisreiche öffentliche
            Veranstaltung zurück. Nach einem gemeinsamen Kick-off im November
            2016 folgten vier Workshop, in denen die Studierenden sich auf die
            Durchführung der öffentlichen Veranstaltung vorbereiteten. Bei den
            ersten beiden Workshops drehte es sich inhaltlich um die Themen
            „Nachhaltiger Tourismus“ und „Nachhaltiges Abfallmanagement“. Dabei
            wurden im ersten Workshop grundlegende Kenntnisse hinsichtlich einer
            verantwortungsvollen und umweltgerechten Abfallwirtschaft
            vermittelt. Nach einem theoretischen Input besuchten die
            Studierenden die lokale Mülldeponie, eine Papierrecycling-Anlage und
            die Kompostierungsanlage einer nahegelegenen Grundschule. Sie
            diskutierten mit den Betreibern, identifizierten wesentliche
            Probleme und erörterten mögliche Lösungswege. Im zweiten Workshop
            besuchten die Teilnehmer ergänzend zur theoretischen Einführung in
            das Themenfeld „Nachhaltiger Tourismus“ die Touristen-Regionen Omiš
            und Cetina und identifizierten Probleme sowie Lösungsvorschläge für
            einen nachhaltigen Tourismus. Abschließend besuchten sie das Hotel
            Split (Podstrana) und setzten sich konkret vor Ort mit Merkmalen
            eines nachhaltigen Tourismus auseinander. Der dritte Workshop stand
            ganz im Zeichen der Vermittlung von Handwerkszeug für die
            Durchführung öffentlicher Veranstaltungen sowie für die Arbeit mit
            Medien. Das Konzept für die öffentlichen Veranstaltungen zum Thema
            “Nachhaltige Abfallwirtschaft” sowie “Nachhaltiger Tourismus”
            erarbeiteten die Studierenden dann im darauffolgenden vierten
            Workshop. Die anschließende Erarbeitungsphase wurde durch eine
            Zwischenreflexion gestützt, in deren Rahmen die Studierenden den
            aktuellen Stand besprachen sowie den Arbeits- und Lernprozess
            reflektierten und die nächsten Schritte bis zur Durchführung der
            Veranstaltung planten. Am 17. März 2017 war es dann soweit. Die
            Studierenden der Gruppe „Nachhaltiger Tourismus“ führten in der
            Fakultät für Wirtschaftswissen ein öffentliches Diskussionsforum mit
            über 80 Studierenden und Dozenten der Universität Split zum Thema
            “Nachhaltiger Tourismus ist möglich – keine Utopie!” durch. Als
            Experten für das Forum wurden u.a. der Geschäftsführer des
            umweltorientierten Hotel Split sowie ein Vertreter der Prementur
            Appartments der Insel Vis und Dozenten der Universität für
            Meeresbiologie sowie der Wirtschaftswissenschaften eingeladen. Die
            Beiträge der Experten wurden in anschließenden von den Studierenden
            geleiteten Arbeitsgruppen diskutiert und die Ergebnisse
            dokumentiert. Die Studierenden der Gruppe “Nachhaltige
            Abfallwirtschaft” installierten an zwei Orten der Fakultät für
            Chemie und Technik mit den “Grünen Inseln” Behälter zur Trennung der
            Abfälle (Papier, Plastik, Bioabfall). Im Rahmen der öffentlichen
            Veranstaltung informierten sie die Studierenden und Dozenten der
            Universität Split über ihr Pilot-Projekt zur Abfalltrennung und
            besuchten die “Grünen Inseln” vor Ort. Zudem wurden über 70
            Grundschulkinder zu einem Workshop in die Fakultät eingeladen, in
            dem ihnen die Studierenden auf kreative und spielerische Weise
            Wissen und Kenntnisse rund um das Thema „Abfalltrennung“
            vermittelten. Ergebnisse waren zum Beispiel Kunstwerke aus Abfällen,
            die zukünftig in der Fakultät ausgestellt werden. Abschließend
            konnten die Kinder an einem Quizz teilnehmen und einen „Grünen
            Ausflug“ mit der Organisation Sunce gewinnen. <br />
            Alles in allem war die erste Staffel ein voller Erfolg. Spannend bleibt,
            wie sich die zweite Gruppe im Rahmen des Service-Learning in ihrem Umfeld
            engagieren wird!
          </p>
        </div>

        <h3>
          Lernen aus der Praxis – Service-Learning an Universitäten in
          Deutschland
        </h3>
        <div>
          <p>
            Mitte Juni 2016 war es soweit. Jeweils zwei Vertreter der Fakultät
            für Chemie und Technik, der Universitätsabteilung für
            Meeresforschung, der Fakultät für Geistes- und Sozialwissenschaften,
            sowie der Fakultät für Wirtschaftswissenschaften der Universität
            Split und drei Mitarbeiter der Organisation Sunce besuchten
            ausgewählte Universitäten und deren Engagementpartner in
            Deutschland. Die Service-Learning-Tour führte von Erfurt über Kassel
            nach Essen.
          </p>
          <p>
            An der Universität Erfurt tauschten sich die Teilnehmer mit Prof.
            Dr. Alexander Thumfart sowie engagierten Studierenden darüber aus,
            wie Service-Learning im Rahmen des „StudiumFundamentale“ mit Fokus
            auf Bildung für nachhaltige Entwicklung umgesetzt wird. Ergänzend
            dazu besuchte die Gruppe den Engagementpartner NaturErlebnisgarten
            „Fuchsfarm“ mit dem die Universität Erfurt vielfältige
            Service-Learning Projekte im Natur- und Umweltschutzbereich
            realisiert. Danach führte der Weg weiter in die Mitte Deutschlands,
            an die Universität Kassel. Dort trafen sich die Teilnehmer mit Dr.
            Imke-Marie Badur von der Koordinerungsstelle für Service-Learning
            UniKasselTransfer und Geschäftsführerin des deutschlandweiten
            Hochschulnetzwerks für Service-Learning und profitierten von der
            umfangreichen Expertise und der langjährigen Erfahrung im
            Service-Learning. Anschließend besuchte die Gruppe die Organisation
            „Die Kopiloten e.V.“, einen Engagementpartner der Universität Kassel
            und konnte einen Einblick in beispielhafte Service-Learning Projekte
            sowie das beeindruckende gesellschaftliche Engagement des Vereins
            gewinnen. Danach ging es weiter westwärts zur Universität
            Duisburg-Essen. Dort nutzten die Teilnehmer die Chance und tauschten
            sich mit Karsten Altenschmidt und Jörg Miller von der
            Koordinierungsstelle für Service-Learning UNIAKTIV über die
            Umsetzung von Service-Learning an der Universität Duisburg-Essen aus
            und hatten zudem die Möglichkeit einen Einblick in das europäische
            Netzwerk für Service-Learning zu bekommen. Die Service-Learning-Tour
            durch Deutschland wurde mit einem Workshop abgerundet. Im Workshop
            wurden die erworbenen Kenntnisse und Erfahrungen der vorhergehenden
            Tage reflektiert und aufgearbeitet und die beteiligten Fakultäten
            erarbeiteten erste Konzeptideen für die Umsetzung ihres
            Service-Learning Projekts an der Universität Split. Mit einem Koffer
            voller Handwerkszeug für die Umsetzung von Service-Learning ging es
            dann am nächsten Tag zurück nach Split mit dem Ziel, das erste
            Service-Learning Projekt im Wintersemester 2016/2017 zu starten.
          </p>
        </div>

        <h3>Auftaktworkshop mit allen Projektbeteiligten in Kroatien</h3>
        <div>
          <p>
            Am 5. April 2016 fand in Spilt der Auftaktworkshop für alle am
            Projekt beteiligten Partner statt. Teilgenommen haben Vertreter der
            Fakultät für Wirtschaftswissenschaften, der Fakultät für Chemie und
            Technik, der Universitätsabteilung für Meeresforschung, der Fakultät
            für Geistes- und Sozialwissenschaften sowie Mitarbeiter der
            Umweltorganisation Sunce. Im Mittelpunkt des Auftaktworkshops
            standen neben einem gemeinsamen Kennenlernen die Inhalte,
            Schwerpunkte und Ziele des Projektes.
          </p>
          <p>
            Nach der Vorstellung des Gesamtprojektes wurde das Konzept
            Service-Learning mit besonderem Fokus auf die Ziele, Struktur und
            Elemente vorgestellt und die Teilnehmer setzten sich mit der Frage
            „Was ist Service-Learning?“ auseinander. Ergänzend führte die
            Organisation Sunce in die inhaltliche Ausrichtung der
            Service-Learning Vorhaben - die Themen „Nachhaltige
            Abfallwirtschaft“ und „Nachhaltiger Tourismus“ – ein und gab einen
            Einblick in die bisherigen Erfahrungen im Service-Learning sowie die
            Ideen zur Kooperation mit Sunce als außeruniversitärem
            Engagementpartner. In einem weiteren Schritt sammelten und
            diskutierten die Teilnehmer ihre bisherigen Erfahrungen mit
            Service-Learning und führten ihre Wünsche und Visionen hinsichtlich
            der Implementierung von Service-Learning an ihrer Fakultät auf.
          </p>
          <p>
            Das Feedback der Teilnehmenden zu ihren Vorerfahrungen sowie ihren
            Wünschen und Visionen gepaart mit den Erwartungen an den Besuch der
            Universitäten in Deutschland bildeten zusammen ein rundes Ergebnis,
            auf dessen Grundlage die Studienreise im Juni 2016 geplant und
            konzipiert wird.
          </p>
          <p>
            Am Ende des erfolgreichen Auftaktworkshops verabschiedeten sich alle
            Teilnehmenden in erwartungsvoller Freude auf den Austausch zum
            Service-Learning ausgewählter Universitäten in Deutschland.
          </p>
        </div>

        <table>
          <thead>
            <tr>
              <th>Informationen zum Projekt</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mai 2018</td>
              <td>Präsentation der Handreichung</td>
            </tr>
            <tr>
              <td>September 2017</td>
              <td>Abschluss der 2. Staffel</td>
            </tr>
            <tr>
              <td>Juni 2016</td>
              <td>Service-Learning-Tour in Deutschland</td>
            </tr>
            <tr>
              <td>April 2016</td>
              <td>Auftaktworkshop mit allen Projektbeteiligten in Kroatien</td>
            </tr>
            <tr>
              <td>Januar 2016</td>
              <td>Start des Projektes</td>
            </tr>
          </tbody>
        </table>

        <h2>Kontakte</h2>
        <div class="not-prose flex flex-wrap gap-10">
          <div class="contact-card mt-6">
            <h2>Deutschland</h2>
            <p>Stephanie Pröpsting</p>
            <p>Tel.: +49 30 83852744</p>
            <p>
              <a href="mailto:proepsting@institutfutur.de"
                >Email: proepsting@institutfutur.de</a
              >
            </p>
          </div>
          <div class="contact-card mt-6">
            <h2>Kroatien</h2>
            <p>Gabrijela Medunić-Orlić</p>
            <p>
              Sunce<br />
              Udruga za prirodu, okoliš i održivi razvoj<br />
              Obala hrvatskog narodnog preporoda 7/III<br />
              21000 Split Croatia
            </p>
            <p>Tel.: +385 21 360 779</p>
            <p>
              <a href="mailto:gabrijela@sunce-st.org"
                >Email: gabrijela@sunce-st.org</a
              >
            </p>
          </div>
        </div>

        <h2>Unterstützer</h2>
        <div class="not-prose">
          <a href="https://sunce-st.org/">
            <Image src={sunce} alt="SUNCE" class="max-w-52" />
          </a>
          <a href="https://www.dbu.de/">
            <Image
              src={dbuLogo}
              alt="Deutsche Bundesstiftung Umwelt"
              class="mt-10 max-w-52"
            />
          </a>
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
