---
import { Image } from "astro:assets";
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../public/content/media/sponsoren/dbu_logo.jpg";
import ia21sLogo from "../../../public/content/media/umweltschule/ia21s_logo.jpg";
---

<DefaultLayout title="Nachhaltige Entwicklung mitgestalten">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>
        Projekt „Nachhaltige Schülerfirmen an kroatischen Sekundarschulen -
        grüne Gründungen fördern nachhaltiges unternehmerisches Denken und
        Handeln bei jungen Menschen in Kroatien“
      </h1>
      <div class="prose mt-6 max-w-full">
        <p>
          Ziel des Projektes war es, das Lehr-Lernkonzept Nachhaltige
          Schülerfirmen an drei Modellschulen (Sekundarschulen) in Kroatien zu
          implementieren und anhand der Ergebnisse sowie Beispielen guter Praxis
          einen Transferimpuls für weitere Schulen zu leisten. Durch das Projekt
          wurden mittel- und langfristig wirkende Impulse für die Gründung
          nachhaltiger Schülerfirmen an kroatischen Sekundarschulen gesetzt.
        </p>
        <p>
          Im Rahmen des Projektes wurde die Situation nachhaltiger Schülerfirmen
          bzw. Studentenkooperativen in Kroatien erfasst und bewertet. Als
          Ergebnis zeigt sich in den letzten Jahren eine Zunahme der
          Studentenkooperativen, so dass es derzeit 607 davon gibt, die meisten
          davon in der Stadt Zagreb und in der Region Split-Dalmatien. Die
          meisten, 469 von ihnen, arbeiten in Grundschulen, 102 in
          weiterführenden Schulen, 4 in Studentenwohnheimen und 32 in
          Bildungszentren. Von diesen befinden sich insgesamt 67 in der Region
          Split-Dalmatien, 56 in Grundschulen, 9 in Sekundarschulen, eine im
          Bildungszentrum "Juraj Bonači" und eine in einem Studentenwohnheim.
          Die Studentengenossenschaften innerhalb dieser Kreise sind so
          vielfältig wie der Kreis selbst und passen sich den traditionellen und
          landwirtschaftlichen Merkmalen ihrer Region (Inseln, Hinterland und
          Küste) an. Sie sind in 4 Bereichen tätig: auf dem Gebiet der
          landwirtschaftlichen Produktion, des traditionellen Handwerks, der
          Herstellung von dekorativen und nützlichen Gegenständen und der
          Durchführung von Forschungsarbeiten.
        </p>
        <h2>Das Projekt</h2>
        <p>
          Das Projekt wurde in Kooperation zwischen der Deutschen Gesellschaft
          für Umwelterziehung (DGU) und der Umweltorganisation Sunce
          durchgeführt. Die Umweltorganisation Sunce führte das Projekt vor Ort
          in Zusammenarbeit mit Partnern durch. Beteiligt waren die
          Wirtschaftswissenschaftliche Fakultät der Universität Split (Coaching
          durch Studierende), ein nachhaltiges Unternehmen als Partner der
          Modellschulen (Partnerschaft, Coaching, Betriebserkundung), der
          Kroatische Verband für Zadrugas (Expertise im Bereich
          Schülergenossenschaften) sowie der Verein Marjan (Verkaufs-Kiosk im
          Waldpark Marjan). Angestrebt wurde zudem ein Matching zwischen dem
          kroatischen Partnerunternehmen und den gegründeten nachhaltigen
          Schülerfirmen in den Sekundarschulen (Support/Beratung). Nachdem in
          einem ersten Projektabschnitt ein Einführungsmeeting zwischen Sunce
          und Lehrkräften (Schulen und Hochschulen) stattgefunden hatte, wurden
          durch die DGU im Frühjahr und Sommer 2020 beispielhafte Institutionen
          für Nachhaltige Schülerfirmen in Deutschland identifiziert und diese
          zu einer Darstellung ihrer Inhalte und Methoden eingeladen. Die
          Beispiele wurden durch die DGU aufbereitet und in diversen
          Online-Workshops und Meetings im Herbst und Winter 2020/21 den
          kroatischen Partnern vorgestellt. In der zweiten Phase wurde eine
          Workshop-Reihe in Form von 5 Workshops durchgeführt, die sich an die
          Schüler sowie Lehrkräfte der beteiligten Modellschulen richten und in
          Kooperation mit dem Verband für Zadrugas, den Partnerunternehmen sowie
          der Wirtschaftswissenschaftlichen Fakultät realisiert wurden. In den
          aufeinander aufbauenden Workshops setzten sich die Teilnehmenden
          intensiv mit dem Konzept des nachhaltigen Wirtschaftens (u.a. am
          Beispiel eines Partnerunternehmens) und dem Konzept der nachhaltigen
          Schülerfirmen auseinander und entwickelten anhand des Sustainable
          Business Canvas (SBC) selbstständig das Geschäftsmodell ihrer
          nachhaltigen Schülerfirma. Handlungsorientiertes Wissen zu
          Rechtsfragen, Finanzfragen, Marketing, etc. sowie eine begleitende
          Beratung durch den Verband für Zadrugas, Studierende der
          Wirtschaftswissenschaftlichen Fakultät und die Partnerunternehmen
          rundeten die Workshop-Reihe ab. In der dritten Phase wurde in
          Kooperation mit dem Verein Marjan der Verkaufs-Kiosk für die Produkte
          der nachhaltigen Schülerfirmen eingerichtet, der den Schülern im
          Stadt-Waldpark Marjan einen touristisch gut besuchten Ort in Split
          bietet, um ihre nachhaltigen Produkte zu verkaufen. Dieser dient auch
          zur weiteren Unterstützung der Verstetigung des Projektes durch seine
          bevorzugte Lage (zentraler Anlaufpunkt, Stadt-Waldpark bzw.
          Strandgebiet, Einbeziehung der Umgebung). Zudem wurden die Ergebnisse
          und Erfahrungen des Projektes in Form einer praxisorientierten
          Handreichung für den Transfer an weitere Sekundarschulen in Kroatien
          sowie auf internationaler Ebene dokumentiert und zur Verfügung
          gestellt. Im Rahmen einer Abschlussveranstaltung wurden die Ergebnisse
          der Modellschulen sowie die Handreichung präsentiert. Ziel ist es,
          diese zu streuen und weitere Schulen für die Implementierung von
          nachhaltigen Schülerfirmen zu gewinnen.
        </p>
        <p>
          Die Durchführung des Projektes erfolgte in enger Kooperation zwischen
          der Deutschen Gesellschaft für Umwelterziehung e.V. (DGU) und dem
          kroatischen Verein für Natur Umwelt und nachhaltige Entwicklung Sunce
          (Udruga za prirodu, okoliš i održivi razvoj Sunce). Die DGU war im
          Rahmen des Projektes für die fachliche Beratung und den Transfer von
          Wissen und Erfahrungen / guter Praxis im Bereich Nachhaltige
          Schülerfirmen zuständig. Die Organisation Sunce war für die
          Implementierung der erworbenen Kenntnisse und Erfahrungen und die
          Initiierung von Aktivitäten und Maßnahmen in Kroatien und deren
          Verstetigung zuständig. Das Projekt hatte eine zweijährige Laufzeit
          (2020-2022) und wird von der <strong
            >Deutschen Gesellschaft für Umwelterziehung e.V. (DGU)</strong
          > in Zusammenarbeit mit dem <strong
            >kroatischen Verein für Natur, Umwelt und Entwicklung (Sunce)</strong
          > durchgeführt. Gefördert wurde das Projekt von der <strong
            >Deutschen Bundesstiftung Umwelt (DBU).</strong
          >
        </p>
        <h2>Aktuelles</h2>
        <p>
          <strong>
            Handreichung „Participate in Sustainable Development: Understand –
            Implement – Shape: Sustainable Student Companies in Croatian High
            Schools“
          </strong>
        </p>
        <p>
          Unter dieser Rubrik finden Sie alle Details zu aktuellen Projekten der
          Deutschen Gesellschaft für Umwelterziehung. Projekt „Nachhaltige
          Schülerfirmen an kroatischen Sekundarschulen - grüne Gründungen
          fördern nachhaltiges unternehmerisches Denken und Handeln bei jungen
          Menschen in Kroatien “ Ziel des Projektes war es, das Lehr-Lernkonzept
          Nachhaltige Schülerfirmen an drei Modellschulen (Sekundarschulen) in
          Kroatien zu implementieren und anhand der Ergebnisse sowie Beispielen
          guter Praxis einen Transferimpuls für weitere Schulen zu leisten.
          Durch das Projekt wurden mittel- und langfristig wirkende Impulse für
          die Gründung nachhaltiger Schülerfirmen an kroatischen
          Se-kundarschulen gesetzt. Im Rahmen des Projektes wurde die Situation
          nachhaltiger Schülerfirmen bzw. Studentenkooperativen in Kroatien
          erfasst und bewertet. Als Ergebnis zeigt sich in den letzten Jahren
          eine Zunahme der Studentenkooperativen, so dass es derzeit 607 davon
          gibt, die meisten davon in der Stadt Zagreb und in der Region
          Split-Dalmatien. Die meisten, 469 von ihnen, arbeiten in Grundschulen,
          102 in weiterführenden Schulen, 4 in Studentenwohnheimen und 32 in
          Bildungszentren. Von diesen befinden sich insgesamt 67 in der Region
          Split-Dalmatien, 56 in Grundschulen, 9 in Sekundarschulen, eine im
          Bildungszentrum "Juraj Bonači" und eine in einem Studentenwohnheim.
          Die Studentengenossenschaften innerhalb dieser Kreise sind so
          vielfältig wie der Kreis selbst und passen sich den traditionellen und
          landwirtschaftlichen Merkmalen ihrer Region (Inseln, Hinterland und
          Küste) an. Sie sind in 4 Bereichen tätig: auf dem Gebiet der
          landwirtschaftlichen Produktion, des traditionellen Handwerks, der
          Herstellung von dekorativen und nützlichen Gegenständen und der
          Durchführung von Forschungsarbeiten. Das Projekt: Das Projekt wurde in
          Kooperation zwischen der Deutschen Gesellschaft für Umwelterziehung
          (DGU) und der Umweltorganisation Sunce durchgeführt. Die
          Umweltorganisation Sunce führte das Projekt vor Ort in Zusammenarbeit
          mit Partnern durch. Beteiligt waren die Wirtschaftswissenschaftliche
          Fakultät der Universität Split (Coaching durch Studierende), ein
          nachhaltiges Unternehmen als Partner der Modellschulen (Partnerschaft,
          Coaching, Betriebserkundung), der Kroatische Verband für Zadrugas
          (Expertise im Bereich Schülergenossenschaften) sowie der Verein Marjan
          (Verkaufs-Kiosk im Waldpark Marjan). Angestrebt wurde zudem ein
          Matching zwischen dem kroatischen Partnerunternehmen und den
          gegründeten nachhaltigen Schülerfirmen in den Sekundarschulen
          (Support/Beratung). Nachdem in einem ersten Projektabschnitt ein
          Einführungsmeeting zwischen Sunce und Lehrkräften (Schulen und
          Hochschulen) stattgefunden hatte, wurden durch die DGU im Frühjahr und
          Sommer 2020 beispielhafte Institutionen für Nachhaltige Schülerfirmen
          in Deutschland identifiziert und diese zu einer Darstellung ihrer
          Inhalte und Methoden eingeladen. Die Beispiele wurden durch die DGU
          aufbereitet und in diversen Online-Workshops und Meetings im Herbst
          und Winter 2020/21 den kroatischen Partnern vorgestellt. In der
          zweiten Phase wurde eine Workshop-Reihe in Form von 5 Workshops
          durchgeführt, die sich an die Schüler sowie Lehrkräfte der beteiligten
          Modellschulen richten und in Kooperation mit dem Verband für Zadrugas,
          den Partnerunternehmen sowie der Wirtschaftswissenschaftlichen
          Fakultät realisiert wurden. In den aufeinander aufbauenden Workshops
          setzten sich die Teilnehmenden intensiv mit dem Konzept des
          nachhaltigen Wirtschaftens (u.a. am Beispiel eines
          Partnerunternehmens) und dem Konzept der nachhaltigen Schülerfirmen
          auseinander und entwickelten anhand des Sustainable Business Canvas
          (SBC) selbstständig das Geschäftsmodell ihrer nachhaltigen
          Schülerfirma. Handlungsorientiertes Wissen zu Rechtsfragen,
          Finanzfragen, Marketing, etc. sowie eine begleitende Beratung durch
          den Verband für Zadrugas, Studierende der
          Wirtschaftswissenschaftlichen Fakultät und die Partnerunternehmen
          rundeten die Workshop-Reihe ab. In der dritten Phase wurde in
          Kooperation mit dem Verein Marjan der Verkaufs-Kiosk für die Produkte
          der nachhaltigen Schülerfirmen eingerichtet, der den Schülern im
          Stadt-Waldpark Marjan einen touristisch gut besuchten Ort in Split
          bietet, um ihre nachhaltigen Produkte zu verkaufen. Dieser dient auch
          zur weiteren Unterstützung der Verstetigung des Projektes durch seine
          bevorzugte Lage (zentraler Anlaufpunkt, Stadt-Waldpark bzw.
          Strandgebiet, Einbeziehung der Umgebung). Zudem wurden die Ergebnisse
          und Erfahrungen des Projektes in Form einer praxisorientierten
          Handreichung für den Transfer an weitere Sekundarschulen in Kroatien
          sowie auf internationaler Ebene dokumentiert und zur Verfügung
          gestellt. Im Rahmen einer Abschlussveranstaltung wurden die Ergebnisse
          der Modellschulen sowie die Handreichung präsentiert. Ziel ist es,
          diese zu streuen und weitere Schulen für die Implementierung von
          nachhaltigen Schülerfirmen zu gewinnen. Die Durchführung des Projektes
          erfolgte in enger Kooperation zwischen der Deutschen Gesellschaft für
          Umwelterziehung e.V. (DGU) und dem kroatischen Verein für Natur Umwelt
          und nachhaltige Entwicklung Sunce (Udruga za prirodu, okoliš i održivi
          razvoj Sunce). Die DGU war im Rahmen des Projektes für die fachliche
          Beratung und den Transfer von Wissen und Erfahrungen / guter Praxis im
          Bereich Nachhaltige Schülerfirmen zuständig. Die Organisation Sunce
          war für die Implementierung der erworbenen Kenntnisse und Erfahrungen
          und die Initiierung von Aktivitäten und Maßnahmen in Kroatien und
          deren Verstetigung zuständig. Das Projekt hatte eine zweijährige
          Laufzeit (2020-2022) und wird von der Deutschen Gesellschaft für
          Umwelterziehung e.V. (DGU) in Zusammenarbeit mit dem kroatischen
          Verein für Natur, Umwelt und Entwicklung (Sunce) durchgeführt.
          Gefördert wurde das Projekt von der Deutschen Bundesstiftung Umwelt
          (DBU). Aktuelles: Handreichung „Participate in Sustainable
          Development: Understand – Implement – Shape: Sustainable Student
          Companies in Croatian High Schools“ Wir freuen uns, mit der
          Handreichung „Participate in Sustainable Development: Understand –
          Implement – Shape: Sustainable Student Companies in Croatian High
          Schools“ wertvolle Erfahrungen und Anregungen aus dem Projekt
          "Nachhaltige Schülerfirmen an kroatischen Sekundarschulen - grüne
          Gründungen fördern nachhaltiges unternehmerisches Denken und Handeln
          bei jungen Menschen in Kroatien“ weiter geben zu können. Das
          Praxishandbuch richtet sich in erster Linie an pädagogische Fachkräfte
          in weiterführenden Schulen, aber auch an andere Jugendarbeiter. Der
          Schwerpunkt des Handbuchs liegt auf Möglichkeiten zur Verbesserung der
          unternehmerischen Fähigkeiten junger Menschen, aber auch zur
          Verbesserung ihres Umweltbewusstseins durch die Arbeit in
          Schülerfirmen. Das Handbuch stellt die aktuelle Situation von
          Schülerfirmen in Kroatien, Beispiele guter Praxis und verschiedene
          partizipative Methoden und Workshops vor, die eingesetzt werden
          können, um Schüler zu motivieren und sie zu befähigen, selbstständig
          in die Wirtschaft einzusteigen. Die Workshops und Arbeitsmethoden
          können in der täglichen Arbeit außerhalb der Schülerfirmen eingesetzt
          werden. Außerdem enthält das Handbuch praktische Materialien für die
          Arbeit mit Jugendlichen (Arbeitsblätter, Organisationspläne), aber
          auch die notwendigen Unterlagen für die Gründung einer Schülerfirma
          für jene Schulen, die die Schülerpraxis noch ausbauen müssen. Das
          Handbuch ist in kroatischer und englischer Sprache erhältlich.
        </p>
        <p>Wir wünschen viel Engagement und gutes Gelingen dabei!</p>
        <h2>Weitere Informationen rund um das Projekt</h2>
        <p>Weitere Links...</p>
        <h2>Unterstützer</h2>
        <div class="not-prose">
          <Image src={dbuLogo} alt="Deutsche Bundesstiftung Umwelt" />
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
