---
import { Image } from "astro:assets";
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../public/content/media/sponsoren/dbu.png";
import sunce from "../../../public/content/media/sponsoren/sunce.png";
---

<DefaultLayout title="Nachhaltige Entwicklung mitgestalten">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>
        Projekt „Nachhaltige Entwicklung mitgestalten – ein Qualifizierungs- und
        Beteiligungsprojekt für junge Menschen in Kroatien“
      </h1>
      <div class="prose mt-6 max-w-full">
        <div>
          <p>
            Nachhaltige Entwicklung braucht Beteiligung. Die Fähigkeit zur
            Beteiligung an der Gestaltung einer umweltfreundlichen und sozial
            gerechten Welt ist für eine nachhaltige Entwicklung der Gesellschaft
            von zentraler Bedeutung. Insbesondere junge Menschen stehen
            zukünftig vor den Herausforderungen einer sich dynamisch
            verändernden Welt. Daher müssen sie lernen, aktiv an der Gestaltung
            ihrer Umgebung teilzuhaben und bei Entscheidungen, die sie und ihr
            Umfeld betreffen, mitzureden, mitzugestalten und mitzubestimmen.<br
            />
            Hinsichtlich der Förderung der aktiven Mitgestaltung kommt der Schule
            eine große Bedeutung zu. Schule sollte den SchülerInnen neben dem Wissen,
            das in Lehrplänen vorgegeben ist, entsprechende soziale Fähigkeiten,
            Fertigkeiten, Einstellungen und Haltungen vermitteln. Auch die Förderung
            des Engagements im Bereich der ehrenamtlichen Mitwirkung bietet eine
            Möglichkeit, einen positiven Beitrag zur nachhaltigen Gestaltung der
            Gesellschaft zu leisten. An diesen Schnittstellen setzt das Projekt an.
          </p>
        </div>

        <h2>Das Projekt</h2>
        <div>
          <p>
            Ziel des bilateralen Projektes ist es, einen Beitrag zur Entwicklung
            einer ökologisch verantwortungsvollen und aktiv mitwirkenden
            Gesellschaft zu leisten. Dazu soll die aktive Beteiligung von
            SchülerInnen und das bürgerschaftliche Engagement von
            StudentInnen/jungen Leuten einhergehend mir der Entwicklung eines
            sozialen und ökologischen Verantwortungsbewusstseins gefördert
            werden. Im Rahmen des Projektes werden kroatische Lehrer, Schüler
            und Studenten/junge Menschen und Bildungsreferenten zu
            partizipativen Lehr- und Lernmethoden sowie Ansätzen aktiver
            Bürgerbeteiligung geschult. Aufbauend darauf werden entsprechende
            Bildungsprogramme, Workshops und Projekte in Kroatien konzipiert und
            durchgeführt sowie eine Handreichung mit praktischen Tipps für
            Lehrer und außerschulische Fachkräfte erstellt.
          </p>
          <p>
            Das Projekt wird von der <strong
              >Deutschen Gesellschaft für Umwelterziehung e.V. (DGU)</strong
            > in Zusammenarbeit mit dem <strong
              >kroatischen Verein für Natur, Umwelt und Entwicklung (Sunce)</strong
            > durchgeführt. Gefördert wird das Projekt von der <strong
              >Deutschen Bundesstiftung Umwelt (DBU).</strong
            >
          </p>
        </div>

        <h2>Aktuelles</h2>
        <div>
          <p>
            <strong>
              Handreichung „Nachhaltige Entwicklung -
              Begreifen-Umsetzen-Gestalten“
            </strong>
          </p>
          <p>
            Wir freuen uns, mit der Handreichung „Nachhaltige Entwicklung –
            Begreifen-Umsetzen-Gestalten“ wertvolle Erfahrungen und Anregungen
            aus dem Projekt "Nachhaltige Entwicklung mitgestalten“ für die
            schulische und außerschulische Bildungsarbeit mit Kindern und
            Jugendlichen weiter geben zu können. Die Handreichung richtet sich
            in erster Linie an Lehrer der Grund- und Sekundarschulen sowie alle,
            die mit Kindern und Jugendlichen arbeiten und einen Beitrag zur
            aktiven Bürgerbeteiligung und zu einem verantwortungsvollen Umgang
            mit unserer Natur und Umwelt leisten möchten. Sie bietet sowohl für
            den schulischen als auch den außerschulischen Bereich vielfältige
            Impulse, um gemeinsam mit Kindern und Jugendlichen die Prinzipien
            einer nachhaltigen Entwicklung im Umwelt- und Naturschutzbereich zu
            begreifen, umzusetzen und die Gesellschaft dadurch ein wenig
            nachhaltiger zu gestalten. Der Erstellung der Handreichung sind
            vielfältige Projektaktivitäten vorausgegangen. Deren Ziel war es,
            die Kenntnisse über partizipative Lehr- und Lernmethoden zu
            erweitern, Beteiligung von Lehrern und Schülern im Umwelt- und
            Naturschutz zu fördern und junge Menschen zur aktiven
            Bürgerbeteiligung und zur ehrenamtlichen Tätigkeit im Umwelt- und
            Naturschutz zu motivieren. Die Handreichung bündelt sowohl einfache
            partizipative Methoden als auch komplexere Lernarrangements wie
            Service-Learning und Nachhaltige Schülerfirmen und veranschaulicht
            deren Umsetzung jeweils anhand von Praxisbeispielen aus Kroatien und
            Deutschland. Die Handreichung ist nicht nur in deutscher und
            kroatischer, sondern auch in englischer Sprache erschienen. Dies
            soll dazu beitragen, dass die Erfahrungen und Kenntnisse aus dem
            Projekt auch über die Landesgrenzen der beiden Projektpartner hinaus
            gestreut werden und Bildungsgestaltern in anderen Ländern der Erde
            ebenfalls Anregungen und Unterstützung für ihre Arbeit geben. Wir
            wünschen viel Freude und gutes Gelingen dabei!
          </p>
          <p><a href="/downloads#kroatien-3">Zum Download</a></p>
        </div>

        <h3>Von der Praxis lernen – Studienreise nach Berlin</h3>
        <div>
          <p>
            Im Oktober 2013 war es soweit. Bei sommerlichem Herbstwetter konnten
            acht Vertreterinnen aus Kroatien beispielhafte Projekte und
            Organisationen im Bereich Nachhaltige Schülerfirmen und
            Service-Learning in Berlin kennen lernen und einen umfassenden
            Einblick in die Organisation und Implementation dieser
            Lernarrangements gewinnen.<br />
            Die Grund- und Sekundarschullehrerinnen, eine Professorin der philosophischen
            Fakultät in Split sowie Mitarbeiterinnen der Partnerorganisation Sunce
            hatten im Rahmen des Projektes bereits im Sommer an einem Workshop in
            Split zu partizipativen Lernmethoden teilgenommen. Nun konnten sie ihr
            Wissen aus der praktischen Perspektive vertiefen. Am ersten Tag konnten
            sie sich mit dem Fachnetzwerk Schülerfirmen der Deutschen Kinder- und
            Jugendstiftung (DKJS) über dessen begleitende und unterstützende Tätigkeit
            beim Aufbau und bei der Umsetzung eines Schülerunternehmens austauschen.
            Ergänzend dazu schloss sich der Besuch des Netzwerks für Teaching Entrepreneurship
            (NFTE) zusammen mit der Organisation Ashoka, einer Initiative zur Förderung
            des sozialen Unternehmertums, an. Die Teilnehmer setzten sich mit der
            Frage auseinander, wie Unternehmergeist insbesondere mit dem Fokus auf
            eine soziale Ausrichtung in Schülerfirmen gefördert werden kann. An den
            folgenden Tagen konnten die Teilnehmer bei einem Besuch im UfU (Unabhängiges
            Institut für Umweltfragen e.V.) das internationale Projekt „Young Reporters
            for the Environment“ sowie das Fifty/Fifty Energiesparprojekt an Berliner
            Schulen näher kennen lernen. Der Besuch von zwei Schülerfirmen, dem Tausch-Aus-Umsonst-Laden
            (TAU-Tauschladen) der Grundschule im Beerwinkel und dem Schülercafé (Gips
            Café) der Kastanienbaumgrundschule, rundete den Einblick in das Themenfeld
            ab. Die Teilnehmer hatten die Möglichkeit, sich mit den begleitenden
            Lehrern, Erziehern und Schülern zu Fragen der Organisation und Durchführung
            sowie der Nachhaltigkeitsaspekte der Schülerfirma auszutauschen und konnten
            die Arbeit der Schüler ganz praxisnah erfahren. Am vierten Tag erhielten
            die Teilnehmer bei einem Besuch im Netzwerk „Lernen durch Engagement“
            der Freudenbergstiftung zusammen mit einer Mitarbeiterin des Berliner
            Kompetenzzentrums für Service-Learning, dem Pfefferwerk, umfassende Einblicke
            in die Arbeit der beiden Organisationen. Die Ziele und Qualitätsstandards
            für Service-Learning wurden erläutert und diskutiert. Zudem wurden Beispiele
            vorgestellt, wie neben der klassisch sozialen Ausrichtung dieses Lernarrangements
            auch Projekte mit Umweltorientierung realisiert werden können. Begleitet
            wurden die praxisnahen Besuche von einem Workshop, in dem nebem fachlichem
            Input zum Thema auch die Möglichkeiten und Herausforderungen für den
            Transfer der erworbenen Kenntnisse und Erfahrungen in die eigenen Arbeitszusammenhänge
            in Kroatien reflektiert und diskutiert wurden.
          </p>
          <p>
            Mit vielen neuen Erfahrungen im Gepäck, sowie Verabredungen für die
            Streuung dieser an weitere pädagogische Fachkräfte in Kroatien und
            ersten Ideen für die Ausgestaltung der Bildungsprogramme, die in
            drei Grundschulen und einer Sekundarschule realisiert werden sollen,
            ging es dann vom herbstlichen Sonnenschein begleitet zurück ins
            (noch) sommerliche Kroatien.
          </p>
        </div>

        <h3>
          Workshop zu partizipativen Lernmethoden – Auftakt des
          Kooperationsprojektes
        </h3>
        <div>
          <p>
            Mit einem zweitägigen Workshop in Split zu partizipativen
            Lernmethoden ist das bilaterale Projekt <strong
              >„Nachhaltige Entwicklung mitgestalten – ein Qualifizierungs- und
              Beteiligungsprojekt für junge Menschen in Kroatien“</strong
            > im Juli 2013 gestartet. Dies war der Auftakt des zweijährigen Kooperationsprojektes
            zwischen der Deutschen Gesellschaft für Umwelterziehung (DGU) und dem
            kroatischen Verein für Natur, Umwelt und Entwicklung (Sunce). <br />
            Teilgenommen haben 20 Personen, darunter Lehrer aus Grund- und Sekundarschulen
            in Split, Vertreter der kroatischen Fortbildungs- und Lehrerbildungsagentur
            sowie der Philosphischen Fakultät in Split und Mitarbeiter von Sunce.
            Die Teilnehmer setzten sich mit Zielen und Gelingensbedingungen von Schülerbeteiligung
            sowie Möglichkeiten und Hemmnissen hinsichtlich der Umsetzung in kroatischen
            Schulen auseinander und entwickelten eigene Ideen für die Praxis. Der
            inhaltliche Fokus lag dabei auf dem Themenfeld „Nachhaltige Stadt“. Ein
            Themenfeld, das eine Vielzahl von Anknüpfungsmöglichkeiten für die partizipative
            Bildungsarbeit bietet. Gemäß dem Motto des Workshops „learning by doing“
            lernten die Teilnehmer verschiedene partiziative Methoden wie die Wir-Werkstatt
            oder das World Café hautnah kennen und erarbeiteten gleichzeitig Projektideen
            für die praktische Umsetzung. Die Ideen reichten von der Organisation
            eines Tages, an dem alle Schüler auf nachhaltigem Wege in die Schule
            kommen über Projekte zur Abfalltrennung und Kompostierung bis zum Angebot
            einer gesunden Verpflegung in der Schule. Zudem lernten die Teilnehmer
            das Lernarrangement Service-Learning kennen. Wissen, das sie im Herbst
            2013 auf einer Studienreise in Deutschland bei einem Besuch ausgewählter
            Praxisbeispiele sowie einer darauf aufbauenden Schulung vertiefen können.
            Neben dem Service-Learning wird zudem das Lernarrangement Nachhaltige
            Schülerfirmen auf dem Programm stehen.
          </p>
        </div>

        <table>
          <thead>
            <tr>
              <th>Informationen zum Projekt</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2015</td>
              <td>Fertigstellung der Handreichung</td>
            </tr>
            <tr>
              <td>April 2014</td>
              <td>Meeting in Berlin, Erstellung einer Handreichung</td>
            </tr>
            <tr>
              <td>Oktober 2013</td>
              <td>Berlin, Erfahrungsaustausch für Vertreter aus Kroatien</td>
            </tr>
            <tr>
              <td>7. Juli 2013 - 10. Juli 2013</td>
              <td
                >Kick-Off Meeting in Split, Kroatien<br />
                Workshop für Lehrerinnen und Lehrer,<br />
                Bildung für nachhaltige Entwicklung, Partizipation, nachhaltige Stadt
                / Gemeinde</td
              >
            </tr>
          </tbody>
        </table>

        <h2>Kontakte</h2>
        <div class="not-prose flex flex-wrap gap-10">
          <div class="contact-card mt-6">
            <h2>Deutschland</h2>
            <p>Stephanie Pröpsting</p>
            <p>Tel.: +49 30 83852744</p>
            <p>
              <a href="mailto:proepsting@institutfutur.de"
                >Email: proepsting@institutfutur.de</a
              >
            </p>
          </div>
          <div class="contact-card mt-6">
            <h2>Kroatien</h2>
            <p>Gabrijela Medunić-Orlić</p>
            <p>
              Sunce<br />
              Udruga za prirodu, okoliš i održivi razvoj<br />
              Obala hrvatskog narodnog preporoda 7/III<br />
              21000 Split Croatia
            </p>
            <p>Tel.: +385 21 360 779</p>
            <p>
              <a href="mailto:gabrijela@sunce-st.org"
                >Email: gabrijela@sunce-st.org</a
              >
            </p>
          </div>
        </div>

        <h2>Unterstützer</h2>
        <div class="not-prose">
          <a href="https://sunce-st.org/">
            <Image src={sunce} alt="SUNCE" class="max-w-52" />
          </a>
          <a href="https://www.dbu.de/">
            <Image
              src={dbuLogo}
              alt="Deutsche Bundesstiftung Umwelt"
              class="mt-10 max-w-52"
            />
          </a>
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
