<section class="prose mt-6 max-w-full">
  <h2>
    Bewerbungsunterlagen für das Projekt "Umweltschule in Europa -
    Internationale Nachhaltigkeitsschule"
  </h2>
  <p>
    <ol>
      <li>
        <p>Ausschreibungsbedingungen</p>
        <p>
          Um die Auszeichnung "Umweltschule in Europa - Internationale
          Nachhaltigkeitsschule" können sich Schulen aller Schulformen aus allen
          Bundesländern bewerben. Informationen über die
          Ausschreibungsbedingungen für alle Bewerberschulen aus allen
          Bundesländern finden Sie hier. Für eine Bewerbung benötigen Sie sowohl
          die Ausschreibungunterlagen als auch den Rückmeldebogen.
        </p>
      </li>
      <li>
        <p>
          In einer Reihe von Bundesländern gelten länderspezifische
          Ausschreibungsbedingungen. Wenn Ihre Schule in einem der unten
          genannten Bundesländer liegt, informieren Sie sich bitte unter den
          entsprechenden nachfolgenden Links. Sollte Ihre Schule in keinem der
          genannten Bundesländer liegen, finden Sie Ihre Ausschreibungunterlagen
          und Ihren Rückmeldebogen unter <span class="font-bold">Allgemein</span
          >.
        </p>
      </li>
    </ol>
  </p>
  <table class="text-base">
    <thead class="text-left">
      <tr class="text-lg">
        <th>Bundesland</th>
        <th class="pl-0">Dokumente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Allgemein</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/allgemein/ausschreibung.pdf"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/allgemein/anmeldebogen.doc"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/allgemein/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Deutsche Schulen im Ausland</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/deutsche-schulen-im-ausland/ausschreibung.pdf"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/deutsche-schulen-im-ausland/anmeldebogen.doc"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/deutsche-schulen-im-ausland/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Brandenburg</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/brandenburg/ausschreibung.doc"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/brandenburg/anmeldebogen.doc"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/brandenburg/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Bayern</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/bayern/ausschreibung_anmeldebogen.pdf"
              download>Ausschreibung und Anmeldebogen</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Berlin</td>
        <td>
          <p>
            <a href="/content/media/downloads/berlin/ausschreibung.pdf" download
              >Ausschreibung</a
            >
          </p>
          <p>
            <a href="/content/media/downloads/berlin/anmeldebogen.pdf" download
              >Anmeldebogen</a
            >
          </p>
          <!-- @TODO projektdokumentation?? -->
        </td>
      </tr>
      <!-- @TODO hamburg falsche links?? -->
      <tr>
        <td>Mecklenburg-Vorpommern</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/mecklenburg-vorpommern/ausschreibung.pdf"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/mecklenburg-vorpommern/anmeldebogen.pdf"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/mecklenburg-vorpommern/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/mecklenburg-vorpommern/kriterien.pdf"
              download>Kriterien</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Niedersachsen</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/niedersachsen/ausschreibung.pdf"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/niedersachsen/anmeldebogen.docx"
              download>Anmeldebogen</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Sachsen-Anhalt</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/sachsen-anhalt/ausschreibung.doc"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/sachsen-anhalt/anmeldebogen.doc"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/sachsen-anhalt/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
        </td>
      </tr>
      <tr>
        <td>Thüringen</td>
        <td>
          <p>
            <a
              href="/content/media/downloads/thueringen/ausschreibung.pdf"
              download>Ausschreibung</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/thueringen/anmeldebogen.docx"
              download>Anmeldebogen</a
            >
          </p>
          <p>
            <a
              href="/content/media/downloads/thueringen/projektdokumentation.doc"
              download>Projektdokumentation</a
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>
    Handreichung "Participate in Sustainable Development: Understand – Implement
    – Shape"
  </h2>
  <p>
    Inhalte zum Projekt „Nachhaltige Schülerfirmen an kroatischen
    Sekundarschulen - grüne Gründungen fördern nachhaltiges unternehmerisches
    Denken und Handeln bei jungen Menschen in Kroatien“
  </p>
  <ul>
    <li>
      <a
        href="/content/media/downloads/participate_in_sustainable_development/english.pdf"
        download
        >Handreichung Participate in Sustainable Development (englisch)</a
      >
    </li>
  </ul>
  <h2>
    Handreichung "Service-Learning - Engagement Studierender im Natur- und
    Umweltschutz"
  </h2>
  <p>
    Inhalte zum Projekt „Service-Learning für Natur- und Umweltschutz in
    Kroatien – Ein deutsch-kroatisches Kooperationsprojekt für Studierende“
  </p>
  <ul>
    <li>
      <a
        href="/content/media/downloads/handreichung-service-learning/deutsch.pdf"
        download>Handreichung Service-Learning (deutsch)</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/handreichung-service-learning/kroatisch.pdf"
        download>Handreichung Service-Learning (kroatisch)</a
      >
    </li>
    <li>
      <!-- @TODO english missing -->
      <a
        href="/content/media/downloads/handreichung-service-learning/englisch.pdf"
        download>Handreichung Service-Learning (englisch)</a
      >
    </li>
  </ul>
  <h2>Handreichung „Nachhaltige Entwicklung - Begreifen-Umsetzen-Gestalten“</h2>
  <p>
    Inhalte zum Projekt „Nachhaltige Entwicklung mitgestalten – ein
    Qualifizierungs- und Beteiligungsprojekt für junge Menschen in Kroatien“
  </p>
  <ul>
    <li>
      <a
        href="/content/media/downloads/handreichung-nachhaltige-entwicklung/deutsch.pdf"
        download>Handreichung (deutsch)</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/handreichung-nachhaltige-entwicklung/kroatisch.pdf"
        download>Handreichung (kroatisch)</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/handreichung-nachhaltige-entwicklung/englisch.pdf"
        download>Handreichung (englisch)</a
      >
    </li>
  </ul>
  <h2>
    Umwelt und Innovation - eine Initiative der "Foundation for Environmental
    Education (FEE)"
  </h2>
  <ul>
    <li>
      <a
        href="/content/media/downloads/umwelt-und-innovation/flyer.pdf"
        download>Flyer</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/umwelt-und-innovation/informationen.doc"
        download>Informationen</a
      >
    </li>
  </ul>
  <h2>Berichte</h2>
  <table>
    <thead class="text-left">
      <tr>
        <th>Datum</th>
        <th>Inhalte</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11/2023</td>
        <td
          ><a
            href="/content/media/berichte/dgu_jahresbericht_2022_2023.pdf"
            download>DGU Jahresbericht 2022-2023</a
          ></td
        >
      </tr>
      <tr>
        <td>04/2022</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2021.pdf" download
            >DGU Jahresbericht 2020-2022</a
          ></td
        >
      </tr>
      <tr>
        <td>03/2021</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2020.pdf" download
            >DGU Jahresbericht 2019-2020</a
          ></td
        >
      </tr>
      <tr>
        <td>11/2019</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2019.pdf" download
            >DGU Jahresbericht 2018-2019</a
          ></td
        >
      </tr>
      <tr>
        <td>11/2018</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2018.pdf" download
            >DGU Jahresbericht 2017-2018</a
          ></td
        >
      </tr>
      <tr>
        <td>12/2017</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2017.pdf" download
            >DGU Jahresbericht 2016-2017</a
          ></td
        >
      </tr>
      <tr>
        <td>12/2016</td>
        <td
          ><a href="/content/media/berichte/dgu_jahresbericht_2016.pdf" download
            >DGU Jahresbericht 2015-2016</a
          ></td
        >
      </tr>
    </tbody>
  </table>
  <h2>Mitgliedschaft in der DGU</h2>
  <a href="/content/media/antraege/mitgliedsantrag.pdf" download
    >Antrag auf Mitgliedschaft in der DGU</a
  >
  <p>
    (Informationen zur Mitgliedschaft bzw. zu den Formalitäten zum Antrag finden
    sie <a href="/ueber-uns/mitgliedschaft/">hier</a>)
  </p>
  <h2>Globales Lernen in INA-21-Schulen</h2>
  <ul>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/kurzdarstellung_projekt.pdf"
        download>Kurzdarstellung des Projektes zum Download</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/materialheft_frieden_lernen.pdf"
        download>Materialheft Frieden lernen</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/reader_kulturelle_vielfalt.pdf"
        download>Reader Kulturelle Vielfalt</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/materialheft_kulturelle_vielfalt.pdf"
        download>Materialheft Kulturelle Vielfalt</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/materialheft_schulpartnerschaften.pdf"
        download>Materialheft Schulpartnerschaften</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/materialheft_globales_lernen.pdf"
        download>Materialheft Globales Lernen</a
      >
    </li>
    <!-- @TODO missing file -->
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/materialheft_globales_lernen.pdf"
        download>Bildung DGU Newsletter Sonderausgabe März 2008</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/newsletter_sonderausgabe_januar_2008.pdf"
        download>DGU Newsletter Sonderausgabe Januar 2008</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/newsletter_sonderausgabe_2.pdf"
        download>DGU Newsletter Sonderausgabe Oktober 2007</a
      >
    </li>
    <li>
      <a
        href="/content/media/downloads/ina-21-schulen/newsletter_sonderausgabe_1.pdf"
        download>DGU Newsletter Sonderausgabe Juli 2007</a
      >
    </li>
  </ul>
</section>
