<section class="prose mt-6 max-w-full">
  <h2>
    Bewerbungsunterlagen für das Projekt "Umweltschule in Europa -
    Internationale Nachhaltigkeitsschule"
  </h2>
  <p>
    <ol>
      <li>
        <p>Ausschreibungsbedingungen</p>
        <p>
          Um die Auszeichnung "Umweltschule in Europa - Internationale
          Nachhaltigkeitsschule" können sich Schulen aller Schulformen aus allen
          Bundesländern bewerben. Informationen über die
          Ausschreibungsbedingungen für alle Bewerberschulen aus allen
          Bundesländern finden Sie hier. Für eine Bewerbung benötigen Sie sowohl
          die Ausschreibungunterlagen als auch den Rückmeldebogen.
        </p>
      </li>
      <li>
        <p>
          In einer Reihe von Bundesländern gelten länderspezifische
          Ausschreibungsbedingungen. Wenn Ihre Schule in einem der unten
          genannten Bundesländer liegt, informieren Sie sich bitte unter den
          entsprechenden nachfolgenden Links. Sollte Ihre Schule in keinem der
          genannten Bundesländer liegen, finden Sie Ihre Ausschreibungunterlagen
          und Ihren Rückmeldebogen unter <span class="font-bold">Allgemein</span
          >.
        </p>
      </li>
    </ol>
  </p>
  <table class="text-base">
    <thead class="text-left">
      <tr class="text-lg">
        <th>Bundesland</th>
        <th class="pl-0">Dokumente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Allgemein</td>
        <td>
          <p><a href="">Ausschreibung</a></p>
          <p><a href="">Anmeldebogen</a></p>
          <p><a href="">Projektdokumentation</a></p>
        </td>
      </tr>
    </tbody>
  </table>
</section>
