---
import { Image } from "astro:assets";
import MarginContainer from "../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../../public/content/media/sponsoren/dbu.png";
---

<DefaultLayout title="Globales Lernen in INA-21-Schulen">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Globales Lernen in INA-21-Schulen</h1>

      <div class="prose mt-6 max-w-full">
        <p>
          Mit dem im Frühjahr 2005 gestarteten Projekt „Entwicklungspolitische
          Bildungsmaßnahmen in der Umweltschule in Europa - Internationale
          Agenda 21 Schule “ (USE - INS 21) wird der Lernbereich „Globale
          Entwicklung“ gestärkt. Durch verschiedene Maßnahmen werden neue
          Impulse gesetzt, um das thematische Spektrum von Schulprojekten und
          Unterrichtsvorhaben entsprechend der Agenda 21 in Hinblick auf Fragen
          sozialer Gerechtigkeit, globaler Entwicklung und Perspektiven für
          Entwicklungs- und Transformationsländer weiter zu entwickeln. Das
          Bewusstsein einer gemeinsamen Verantwortung für die Eine Welt soll bei
          den Schülerinnen und Schülern geweckt und die Bereitschaft zur aktiven
          Mitgestaltung menschenwürdiger Lebensverhältnisse gefördert werden.
        </p>

        <h2>Das Projekt</h2>
        <div>
          <p>
            „Entwicklungspolitische Bildungsmaßnahmen im DGU-Programm
            Umweltschule in Europa - Internationale Agenda 21 Schule“ (gefördert
            vom Bundesministerium für wirtschaftliche Zusammenarbeit und
            Entwicklung – BMZ)
          </p>
        </div>

        <h2>Die Projektidee</h2>
        <div>
          <p>
            Seit 1994 führt die Deutsche Gesellschaft für Umwelterziehung e.V.
            (DGU) das Auszeichnungsprogramm „Umweltschule in Europa“ (USE)
            durch. Seitdem wurde eine Vielzahl erfolgreicher Projekte
            durchgeführt, in denen sich die Umweltschulen den ökologischen
            Herausforderungen unserer Zeit stellten.
          </p>
          <p>
            In der Agenda 21, dem 1992 in Rio de Janeiro verabschiedeten
            Aktionsplan für das 21. Jahrhundert, werden ökologische
            Verträglichkeit, soziale Gerechtigkeit und ökonomische
            Leistungsfähigkeit als gleichrangige Ziele einer nachhaltigen
            Entwicklung beschrieben. Die Weltgipfel von Rio 1992 und
            Johannesburg 2002 stellen ebenso wie die
            Millennium-Entwicklungsziele der Vereinten Nationen die Verbindung
            von Umwelt- und Entwicklungsfragen her. Nachhaltige Entwicklung
            könne – so heißt es in Kapitel 36 der Agenda 21 – nicht ohne einen
            mentalen Wandel erreicht werden, und Bildung müsse konsequent auf
            eine nachhaltige Entwicklung ausgerichtet werden.
          </p>
          <p>
            Die Umweltschulen stellen sich nun den neuen Herausforderungen: Nach
            mehr als zehn Jahren entwickelt sich die Auszeichnung „Umweltschule
            in Europa“ weiter zur „Umweltschule in Europa - Internationale
            Agenda 21 Schule“. Denn das Lernfeld Bildung für nachhaltige
            Entwicklung (BNE) geht weit über die Methoden und Ziele der
            klassischen Umweltbildung hinaus. Neben Umweltthemen finden
            entwicklungspolitische Themen und Methoden Globalen Lernens eine
            stärkere Berücksichtigung in Schulprofil und Unterricht, so wie es
            die Agenda 21 vorsieht. Die Relevanz des Themenbereiches „Globale
            Entwicklung“ wird in der gemeinsamen Empfehlung der
            Kultusministerkonferenz (KMK) und der Deutschen UNESCO-Kommission
            (DUK) zur „Bildung für nachhaltige Entwicklung in der Schule“
            betont. Der von einer Arbeitsgruppe der KMK und des BMZ erstellte
            „Orientierungsrahmen für den Lernbereich Globale Entwicklung“ zeigt,
            wie Kompetenzen dieser wichtigen Säule der BNE curricular verankert
            und erworben werden können.
          </p>
        </div>

        <h2>Die Projektziele</h2>
        <div>
          <p>
            Mit dem im Frühjahr 2005 gestarteten Projekt „Entwicklungspolitische
            Bildungsmaßnahmen im DGU Programm Umweltschule in Europa -
            Internationale Agenda 21 Schule “ (USE - INA 21) wird der
            Lernbereich „Globale Entwicklung“ gestärkt. Durch verschiedene
            Maßnahmen werden neue Impulse gesetzt, um das thematische Spektrum
            von Schulprojekten und Unterrichtsvorhaben entsprechend der Agenda
            21 in Hinblick auf Fragen sozialer Gerechtigkeit, globaler
            Entwicklung und Perspektiven für Entwicklungs- und
            Transformationsländer weiter zu entwickeln. Das Bewusstsein einer
            gemeinsamen Verantwortung für die Eine Welt soll bei den
            Schülerinnen und Schülern geweckt und die Bereitschaft zur aktiven
            Mitgestaltung menschenwürdiger Lebensverhältnisse gefördert werden.
          </p>

          <h3>Kurzdarstellung des Projektes als PDF-Datei</h3>
          <p>
            Die Kurzdarstellung des Projektes und weitere Informationen finden
            Sie im <a href="/downloads#ina21">Downloadbereich</a>
          </p>
        </div>

        <h2>Fortbildung</h2>
        <div>
          <p>
            Im Rahmen des Projektes werden bundesweit
            Fortbildungsveranstaltungen durchgeführt. Sie geben den
            Teilnehmerinnen und Teilnehmern die Möglichkeit, in
            praxisorientierten Kurzzeitangeboten in die Thematik eingeführt zu
            werden und verschiedene entwicklungspolitische Themen im Kontext
            nachhaltiger Entwicklung kennen zu lernen. Die Umsetzung in
            schulische Projekte und Unterrichtsvorhaben steht dabei im
            Vordergrund.
          </p>
          <p>
            Folgende Veranstaltungen wurden durchgeführt bzw. sind in
            Vorbereitung:
          </p>

          <h3>
            Globales Lernen und Umwelterziehung im schulinternen Curriculum:
            Vorstellung des Orientierungsrahmens Globale Entwicklung im Rahmen
            einer Bildung für nachhaltige Entwicklung
          </h3>
          <p>
            <ul>
              <li>
                Globales Lernen im Kontext der Bildung für nachhaltige
                Entwicklung
              </li>
              <li>Einführung in den Orientierungsrahmen Globale Entwicklung</li>
              <li>
                Die Erstellung eines schulinternen Curriculums (Kompetenzen -
                Themen - praktische Beispiele)
              </li>
            </ul>
          </p>

          <h4>Wann und Wo?</h4>
          <p>
            Die Veranstaltung wird angeboten in Kooperation mit dem
            Landesinstitut für Lehrerbildung und Schulentwicklung Hamburg.
          </p>
          <p>
            31. Oktober 2007, Beginn: 14.30 Uhr<br />
            Ort: Gymnasium Othmarschen, Hamburg<br />
            Referentin: Dr. Gisela Führing
          </p>
          <p>
            Das Materialheft zur Veranstaltung: <a
              href="/content/media/umweltschule/materialheft_globales_lernen.pdf"
              download>Download des Materialheft Globales Lernen</a
            >
          </p>

          <h3>
            Kulturelle Vielfalt – Wohnen in der Einen Welt. Ein
            fächerübergreifendes Unterrichtsprojekt anhand der Bildermappe "So
            leben sie!"
          </h3>
          <ul>
            <li>Wohnkulturen und Lebensstile in anderen Kulturen</li>
            <li>
              „So leben sie!“ Bildermappe mit Portraits von Familien aus aller
              Welt
            </li>
            <li>
              Vorschlag für ein fächerübergreifendes Unterrichtsprojekt in der
              Grundschule
            </li>
          </ul>

          <h4>Wann und Wo?</h4>
          <p>
            29. Januar 2008, Beginn: 14.00 Uhr<br />
            Ort: Natur- und Umweltpark Güstrow, Verbindungschaussee, 18273 Güstrow<br
            />
            Referenten: Kerstin Gluschke, Siegfried Luscher (Gesellschaft für solidarische
            Entwicklungszusammenarbeit e.V.)
          </p>
          <p>
            Das Materialheft zur Veranstaltung: <a
              href="/content/media/umweltschule/materialheft_kulturelle_vielfalt.pdf"
              download>Download des Materialheft Kulturelle Vielfalt</a
            >
          </p>
          <p>
            Reader zur Veranstaltung: <a
              href="/content/media/umweltschule/reader_kulturelle_vielfalt.pdf"
              download>Download des Reader Kulturelle Vielfalt</a
            >
          </p>

          <h2>Schulpartnerschaften und Globales Lernen in der Grundschule</h2>
          <ul>
            <li>Chancen und Risiken von Globalen Schulpartnerschaften</li>
            <li>
              Tipps zur Planung, Gründung und Gestaltung einer
              Schulpartnerschaft im Sinne der Agenda 21
            </li>
            <li>Schulen und Netzwerke stellen sich vor</li>
          </ul>

          <h4>Wann und Wo?</h4>
          <p>
            Die Veranstaltung wird angeboten in Kooperation mit der
            Koordinierungsstelle Umweltbildung und Globales Lernen (KUGL).
          </p>
          <p>
            6. März 2008, Beginn: 11.00 Uhr<br />
            Ort: Zentrum für Umweltkommunikation (ZUK), Osnabrück<br />
            Referentin: Dr. Gisela Führing, Karin Schulze, N.N.
          </p>
          <p>
            Das Materialheft zur Veranstaltung: <a
              href="/content/media/umweltschule/materialheft_schulpartnerschaften.pdf"
              download>Download des Materialheft Schulpartnerschaften</a
            >
          </p>

          <h3>
            Frieden lernen - der konstruktive Umgang mit Konflikten als
            Bestandteil Globalen Lernens in der Schule
          </h3>
          <ul>
            <li>
              Konstruktive Konfliktbearbeitung als Bestandteil Globalen Lernens
            </li>
            <li>
              Methodische Ansätze für den Unterricht in der Sekundarstufe I
            </li>
          </ul>

          <h4>Wann und Wo?</h4>
          <p>
            18. März 2008, Beginn: 12.00 Uhr<br />
            Ort: Herderschule Weimar /Förderzentrum<br />
            Referentin: Saskia Hoffmann
          </p>
          <p>
            Das Materialheft zur Veranstaltung: <a
              href="/content/media/umweltschule/materialheft_frieden_lernen.pdf"
              download>Download des Materialheft Frieden lernen</a
            >
          </p>
        </div>

        <h2>Unterstützer</h2>
        <a href="https://www.dbu.de/">
          <Image
            src={dbuLogo}
            alt="Deutsche Bundesstiftung Umwelt"
            class="max-w-52"
          />
        </a>
      </div>
    </div>
  </MarginContainer></DefaultLayout
>
