---
import { Image } from "astro:assets";
import MarginContainer from "../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../lib/layouts/DefaultLayout.astro";
import ia21sLogo from "../../../../public/content/media/umweltschule/ia21s_logo.jpg";
---

<DefaultLayout title="Umweltschule in Europa - INA21 Schule">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Die Geschichte des Projektes</h1>

      <div class="prose mt-6 max-w-full">
        <div>
          <Image
            src={ia21sLogo}
            alt="Ausgezeichnet als offizielles Projekt der Weltdekade"
            class="float-left mr-5 mt-0"
          />
          <p>
            Das <strong>Programm "Umweltschule"</strong> wurde im Jahre 1994 in Hamburg
            gestartet. Was im ersten Jahr noch zaghaft mit 8 beteiligten Schulen
            begann, hat sich im Jahre 2004 zum größten Umweltprogramm an deutschen
            Schulen entwickelt. Von den mehr als 600 Schulen, die sich um den Titel
            "Umweltschule" beworben haben, konnten 535 ausgezeichnet werden. "Diese
            Kontinuität im Umweltschutz ist der beste Beweis für den Erfolg des größten
            Umweltprogramms an deutschen Schulen in den letzten 10 Jahren". Ab dem
            Schuljahr 2005/2006 wird die DGU den <strong
              >Titel "Internationale Agenda-21 Schule"</strong
            > für besondere Leistungen von Schulen bei der Erarbeitung von Nachhaltigkeitsprozessen
            in und außerhalb des Schulgeländes verleihen. Die DGU hofft mit der neuen
            Ausrichtung auf eine zunehmende Beteiligung der Schulen in Deutschland.
            Die Arbeit der Schulen wird bewertet und einer von drei Niveaustufen
            zugeordnet. Diese sind mit Sternen gekennzeichnet. Einsteigerschulen,
            an denen sich einzelne Lehrkräfte kontinuierlich mit Themen nachhaltiger
            Entwicklung beschäftigen, können mit einem Stern ausgezeich-net werden.Schulen,
            an denen Teams Projekte nachhaltiger Entwicklung realisieren,können mit
            zwei Sternenzertifiziert werden. Profilierte Schulen, bei denen das Schulleben
            insgesamt dem Thema der Nachhaltigkeit gewidmet ist und die ihre Kompetenzen
            an andere Schulen weitergeben, können mit drei Sternen den höchsten Auszeichnungsgrad
            der DGU erhalten. Insgesamt werden die Entwicklungsprozesse, die Leistung
            und das erreichte Niveau an den Schulen gewürdigt.
          </p>
          <p>
            Der Titel "Internationale Agenda-21 Schule" wird von einer Jury
            vergeben, nachdem sich die Schulen über einen Erhebungsbogen und
            eine Dokumentation beworben haben. Die Auszeichnung darf für ein
            Jahr getragen werden.
          </p>
          <p>
            Die Agenda 21-Schulen werden von der DGU durch Materialien, Medien,
            Beratung und Fortbildung unterstützt. Damit legt die DGU das bislang
            ambitionierteste System der Förderung und Zertifizierung von
            Qualitätsentwicklung und Profilbildung an deutschen Schulen vor.
          </p>

          <h3>Erprobungsfassung "Internationale Agenda-21 Schule"</h3>
          <p>
            Die entsprechenden Dokumente finden Sie im <a
              href="/downloads#ina21">Downloadbereich</a
            >
          </p>
        </div>

        <h2>
          Weiterentwicklung der Umweltschule zur internationalen Agenda
          21-Schule
        </h2>
        <div>
          <p>
            "Umweltschule in Europa" ist ein Projekt des weltweiten Eco-Schools
            Netzwerks der Foundation for Environmental Education (FEE).
            International beteiligten sich im Jahre 2004 über 12.000 Eco-Schools
            aus 27 Ländern an dem Programm. In Deutschland wurden in diesem Jahr
            ca. 600 Umweltschulen zertifiziert. Das Eco-Schools Netzwerk bleibt
            auch in Zukunft die Basis der internationalen Agenda 21-Schule. Hier
            gibt es einen Fundus für Partnerschaftsprojekte.
          </p>
          <p>
            Die FEE hat sich zu einer globalen Organisation entwickelt. Die
            Gemeinschaft der Eco-Schools ist größer geworden. Das frühere
            europäische Netzwerk der FEE ist zu einem weltumspannenden
            gewachsen. Dies eröffnet vielfältige neue Chancen für globale
            Schulpartnerschaften. Zum Beispiel so: Sie möchten Kontakt zu einer
            Schule in Südafrika aufnehmen, die sich - wie Sie in ihrer Schule -
            mit dem Thema "Wasser" beschäftigt? Wenn Sie "Umweltschule in Europa
            /Internationale Agenda 21-Schule" sind, ist das ganz einfach. Sie
            bekommen von der FEE als anerkannte Schule die Möglichkeit, auf die
            Datenbanken der Eco-Schools zuzugreifen und Anregungen, Tipps,
            Materialien und Vorschläge für Schulpartnerschaften zu erhalten.
            Weitere Informationen finden Sie unter den oben stehenden Links.
          </p>
        </div>

        <h2>Programm zur Gründung einer "Internationalen Agenda 21-Schule"</h2>
        <div>
          <p>
            Das Programm zur Gründung einer internationalen Agenda 21-Schule
            umfasst sieben Schritte:
          </p>

          <ol>
            <li>
              Etablierung eines Agenda 21-Schulkomitees. Dieses Komitee besteht
              aus Vertretern von Schülerinnen und Schülern, Lehrerinnen und
              Lehrern, Eltern, Hausmeister, Schulträger, Verwaltung und Politik.
              Das Komitee steuert alle Aktivitäten und Maßnahmen der
              internationalen Agenda 21-Schule. Dies ist der Kern eines
              demokratischen Prozesses von Schulleben und Profilbildung einer
              Schule.
            </li>
            <li>
              Zusammenstellung eines Nachhaltigkeitsberichts. Dazu gehören die
              Erfassung der Umweltsituation an und außerhalb der Schule sowie
              die Übersicht über Nachhaltigkeitsprozesse, z.B. die
              Zusammenarbeit mit der Kommune im Lokale-Agenda-21 Prozess oder
              Projekte mit außerschulischen Einrichtungen bzw. der Wirtschaft.
            </li>
            <li>
              Entwerfen eines Aktionsplans. Die Erfassung der Umwelt- und
              Nachhaltigkeitssituation führt zu der Formulierung von
              Handlungsbereichen, die bevorzugt bearbeitet werden sollen. Der
              Aktionsplan formuliert erreichbare Ziele und setzt Indikatoren und
              Zeitmarken, die die Erreichung der Ziele überprüfbar machen.
            </li>
            <li>
              Überprüfung des Fortschrittes. Dieses als Evaluation bezeichnete
              Verfahren begleitet den gesamten Prozess und liefert Rückmeldungen
              über Erfolge und Misserfolge. Die Evaluation gibt Hinweise darauf,
              ob der Aktionsplan realistisch ist oder geändert werden muss.
            </li>
            <li>
              Durchführung von Projekten zur Veränderung des Schullebens. Im
              Zentrum einer internationalen Agenda 21-Schule steht die
              praktische Arbeit. Hier geht es darum, die gesetzten Ziele zu
              erreichen und konkrete Schritte zu mehr Umweltschutz und
              Nachhaltigkeit zu gehen.
            </li>
            <li>
              Informieren und Einbeziehen außerschulischer Gruppen. Das
              Schulleben ist Teil des Lebens im Stadtteil oder im der Gemeinde.
              Die Zusammenarbeit mit außerschulischen Einrichtungen ist ein
              wesentlicher Bestandteil und gleichzeitig ein Qualitätskriterium
              für die internationale Agenda 21-Schule.
            </li>
            <li>
              Veröffentlichung eines Agenda-Kodexes. Hierbei handelt es sich um
              einen Katalog von Leitbildern und Zielen für die Schule und die
              Arbeit in den Projekten.
            </li>
          </ol>

          <p>
            Diese Vorgehensweise ist bei allen Eco-Schools auf der Welt gleich.
            Sie birgt den Vorteil, dass die beteiligten Schulen ihre Projekte
            jederzeit mit Partnerschulen auf der ganzen Welt vergleichen können.
            Die Einrichtung von Partnerschaften und der Erfahrungsaustausch
            werden erleichtert.
          </p>

          <p>
            Die Erreichung der Ziele des Aktionsplans einer Schule wird in jedem
            Jahr durch eine Landes-Jury bewertet. Sie entscheidet über die
            Vergabe des <strong
              >Zertifikats "internationale Agenda 21-Schule".</strong
            > Die Schulen können folgendermaßen ausgezeichnet werden:
          </p>

          <ul>
            <li>
              Auszeichnung mit dem Prädikat "internationale Agenda 21-Schule"
              mit einem Stern, mit zwei Sternen oder mit drei Sternen
            </li>
            <li>Erhalt einer Flagge mit dem entsprechenden Prädikat</li>
            <li>
              Erhalt einer Urkunde der Deutschen Gesellschaft für
              Umwelterziehung (DGU)
            </li>
            <li>
              Erhalt des "International Eco-Schools Award Certificate" der
              "Foundation for Environmental Education" (FEE).
            </li>
          </ul>
        </div>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
