---
import { Image } from "astro:assets";
import MarginContainer from "../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../lib/layouts/DefaultLayout.astro";
import dbuLogo from "../../../../public/content/media/sponsoren/dbu_logo.jpg";
import ia21sLogo from "../../../../public/content/media/umweltschule/ia21s_logo.jpg";
---

<DefaultLayout
  title="Umweltschule in Europa - Internationale Nachhaltigkeitsschule"
>
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Umweltschule in Europa - Internationale Nachhaltigkeitsschule</h1>

      <div class="prose mt-6 max-w-full">
        <p>
          ist eine Ausschreibung der internationalen Umweltbildungsorganisation
          <a href="https://www.fee.global/"
            >Foundation for Environmental Education (FEE)</a
          >, in Deutschland vertreten durch die Deutsche Gesellschaft für
          Umwelterziehung (DGU). Gegenwärtig beteiligen sich weltweit über 30000
          Schulen in mehr als 50 Staaten; in Deutschland waren es im vergangenen
          Schuljahr mehr als 900 Schulen aus 8 Bundesländern. <a
            href="#use-teilnehmer"
            >(Liste der Projektteilnehmer in der Bundesrepublik Deutschland)</a
          >
        </p>

        <h2>Die Geschichte des Projektes</h2>
        <div>
          <Image
            src={ia21sLogo}
            alt="Ausgezeichnet als offizielles Projekt der Weltdekade"
            class="float-left mr-5 mt-0"
          />
          <p>
            Das <strong>Programm "Umweltschule"</strong> wurde im Jahre 1994 in Hamburg
            gestartet. Was im ersten Jahr noch zaghaft mit 8 beteiligten Schulen
            begann, hat sich bis zum Jahre 2004 zum größten Umweltprogramm an deutschen
            Schulen entwickelt. Von den über 900 Schulen, die sich um den Titel "Umweltschule
            in Europa - Internationale Agenda 21 Schule" beworben haben, konnten
            mehr als 800 ausgezeichnet werden. "Diese Kontinuität im Umweltschutz
            ist der beste Beweis für den Erfolg des größten Umweltprogramms an deutschen
            Schulen in den letzten 20 Jahren". Seit dem Schuljahr 2018/2019 verleiht
            die DGU den <strong
              >Titel "Internationale Nachhaltigkeitsschule"</strong
            > für besondere Leistungen von Schulen bei der Erarbeitung von Nachhaltigkeitsprozessen
            in und außerhalb des Schulgeländes. Die DGU hofft mit der neuen Ausrichtung
            auf eine zunehmende Beteiligung der Schulen in Deutschland...<br />
            <p>
              <a href="/projekte/umweltschule-in-europa/ina21">Weiterlesen</a>
            </p>
          </p>
        </div>

        <h2>Jahresthemen für das Schuljahr 2023/2024</h2>
        <div>
          <p>
            "Umweltschule in Europa - Internationale Nachhaltigkeitsschule"
            zielt auf die Entwicklung umweltverträglicher Schulen und die
            Förderung der Bildung für nachhaltige Entwicklung. Unabhängig von
            ihrer Ausgangssituation können alle Schulen die begehrte
            Auszeichnung "Umweltschule in Europa - Internationale
            Nachhaltigkeitsschule" erhalten, wenn sie innerhalb der Projektzeit
            ein selbstentwickeltes Konzept zur Verbesserung ihrer
            Umweltverträglichkeit erfolgreich umsetzen konnten.
          </p>
          <p>
            Themen wie Energie, Wasser und Abfall, Stadtökologie, Gesunde
            Ernährung, Eine Welt oder Verkehr werden in aktiver Kooperation
            zwischen Schule, Eltern und außerschulischen Partnern wie
            Wirtschaft, Kommune, Vereine und Nachbarschaft bearbeitet. In
            regelmäßigen Abständen treffen sich die beteiligten Schulen auf
            regionaler, landes- und bundesweiter Ebene, um den Austausch über
            Konzepte und Projekte zu pflegen. Im Rahmen des europaweiten
            Netzwerkes vermittelt die DGU Kontakte auch zu Umweltschulen in
            anderen europäischen Ländern zur Förderung des länderübergreifenden
            Erfahrungsaustausches und der internationalen Kooperation. Schulen
            werden ermuntert, an einem oder mehreren bundesweiten Jahresthemen
            der DGU / FEE teilzunehmen:
          </p>
          <ol>
            <li>
              Nachhaltige Entwicklung und demokratische Prozesse (Beteiligung)
              in der Schule
            </li>
            <li>Maßnahmen zum Klimaschutz / zur Klimaanpassung</li>
            <li>
              Zukunftsfähiger Umgang mit Wasser - lokale und globale Wirkung
            </li>
          </ol>
        </div>

        <h2 id="use-teilnehmer">
          Projektteilnehmer in der Bundesrepublik Deutschland 2021/2022
        </h2>
        <div>
          <table class="text-base">
            <thead>
              <tr>
                <th>Bundesland</th>
                <th>Programm USE / INA 21</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Baden-Württemberg</td>
                <td>Pilotphase</td>
              </tr>
              <tr>
                <td>Bayern</td>
                <td
                  >nimmt teil
                  <br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/bayern"
                    >Kontakt</a
                  ></td
                >
              </tr>
              <tr>
                <td>Berlin</td>
                <td
                  >nimmt teil <br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/berlin"
                    >Kontakt und Informationen</a
                  >
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/berlin#projektteilnehmer"
                    >Liste der Projektteilnehmer</a
                  ></td
                >
              </tr>
              <tr>
                <td>Brandenburg</td>
                <td
                  >nimmt teil<br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/brandenburg"
                    >Liste der Projektteilnehmer</a
                  ></td
                >
              </tr>
              <tr>
                <td>Hamburg</td>
                <td>
                  nimmt teil<br />
                  Die Liste der Projektteilnehmer sowie weitere Informationen finden
                  Sie auf der regionalen Projektwebsite<br />
                  <a
                    href="https://li.hamburg.de/fortbildung/themen-aufgabengebiete/umwelterziehung-klimaschutz/umweltschule-624498"
                    >https://li.hamburg.de/fortbildung/themen-aufgabengebiete/umwelterziehung-klimaschutz/umweltschule-624498</a
                  >
                </td>
              </tr>
              <tr>
                <td>Hessen</td>
                <td>Keine Teilnahme, ähnliche Projekte</td>
              </tr>
              <tr>
                <td>Mecklenburg-Vorpommern</td>
                <td
                  >nimmt teil<br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/mecklenburg-vorpommern"
                    >Liste der Projektteilnehmer</a
                  >
                </td>
              </tr>
              <tr>
                <td>Niedersachsen</td>
                <td>
                  nimmt teil<br />
                  Die Liste der Projektteilnehmer sowie weitere Informationen finden
                  Sie auf der regionalen Projektwebsite<br />
                  <!-- @TODO dead link -->
                  <a
                    href="https://li.hamburg.de/fortbildung/themen-aufgabengebiete/umwelterziehung-klimaschutz/umweltschule-624498"
                    >https://li.hamburg.de/fortbildung/themen-aufgabengebiete/umwelterziehung-klimaschutz/umweltschule-624498</a
                  >
                </td>
              </tr>
              <tr>
                <td>Nordrhein-Westfalen</td>
                <td
                  >Teilnahme einzelner Schulen<br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/nordrhein-westfalen"
                    >Liste der Projektteilnehmer</a
                  >
                </td>
              </tr>
              <tr>
                <td>Rheinland-Pfalz</td>
                <td>keine Teilnahme</td>
              </tr>
              <tr>
                <td>Saarland</td>
                <td>keine Teilnahme</td>
              </tr>
              <tr>
                <td>Sachsen</td>
                <td>keine Teilnahme</td>
              </tr>
              <tr>
                <td>Sachsen-Anhalt</td>
                <td
                  >nimmt teil<br />
                  <a
                    href="/projekte/umweltschule-in-europa/use-teilnehmer/sachsen-anhalt"
                    >Liste der Projektteilnehmer</a
                  >
                </td>
              </tr>
              <tr>
                <td>Schleswig-Holstein</td>
                <td>keine Teilnahme, ähnliche Projekte </td>
              </tr>
              <tr>
                <td>Thüringen</td>
                <td
                  >nimmt teil<br />
                  Die Liste der Projektteilnehmer sowie weitere Informationen finden
                  Sie auf der regionalen Projektwebsite<br />
                  <a href="https://thueringen.nabu.de/projekte/umweltschule/"
                    >https://thueringen.nabu.de/projekte/umweltschule/</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2>
          Bewerbungsunterlagen "Umweltschule in Europa - Internationale
          Nachhaltigkeitsschule"
        </h2>
        <div>
          <ol>
            <li>
              <h3>Allgemeine Ausschreibungsbedingungen</h3>
              <p>
                Um die Auszeichnung "Umweltschule in Europa - Internationale
                Nachhaltigkeitsschule" können sich Schulen aller Schulformen aus
                allen Bundesländern bewerben. Informationen über die allgemeinen
                Ausschreibungsbedingungen für alle Bewerberschulen aus allen
                Bundesländern finden Sie hier.
              </p>
            </li>
            <li>
              <h3>Länderspezifische Ausschreibungen</h3>
              <p>
                Für eine Bewerbung benötigen Sie sowohl die
                Ausschreibungunterlagen als auch den Rückmeldebogen.
              </p>
            </li>
          </ol>
          <p>
            In einer Reihe von Bundesländern gelten länderspezifische
            Ausschreibungsbedingungen. Wenn Ihre Schule in einem der unten
            genannten Bundesländer liegt, informieren Sie sich bitte dort.
          </p>
          <h3>Ausschreibungsunterlagen und Kontakte</h3>
          <p>
            Die Ausschreibungsunterlagen finden Sie im <a href="/downloads"
              >Downloadbereich</a
            >
            <br />
            In den jeweiligen Ausschreibungsunterlagen finden Sie auch alle Kontaktdaten
            zu den Landeskoordinationen von "Umweltschule in Europa - Internationale
            Nachhaltigkeitsschule"
          </p>
          <div class="contact-card not-prose">
            <h4>Kontakt zur Bundeskoordination</h4>
            <p>Robert Lorenz</p>
            <p>
              Goethestrasse 64<br />
              99096 Erfurt
            </p>
            <p>Tel.: +49 178 4402955</p>
            <p>
              Email: <a href="mailto:sekretariat@umwelterziehung.de"
                >sekretariat@umwelterziehung.de</a
              >
            </p>
          </div>
        </div>

        <h2>Weitere Informationen rund um das Projekt</h2>
        <p>Weitere Links...</p>

        <h2>Unterstützer</h2>
        <a href="https://www.dbu.de/">
          <Image
            src={dbuLogo}
            alt="Deutsche Bundesstiftung Umwelt"
            class="max-w-52"
          />
        </a>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
