---
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Büros und Geschäftsführung">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Büros und Geschäftsführung</h1>
      <div class="prose mt-10 max-w-full">
        <h2 class="mt-3 text-lg font-bold">Kontaktdaten der Büros</h2>
        <table class="text-base prose-p:my-2">
          <thead class="text-lg">
            <tr>
              <th>Ort</th>
              <th>Büro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p><strong>DGU Büro Erfurt</strong><br />Thüringen</p>
              </td>
              <td>
                <p>Robert Lorenz, Tobias Wanierke</p>
                <p>Goethestrasse 64<br />99096 Erfurt</p>
                <p>Tel.: +49 178 4402955</p>
                <p>
                  Email:
                  <a href="mailto:sekretariat@umwelterziehung.de"
                    >sekretariat@umwelterziehung.de</a
                  >
                </p>
                <p>
                  Projekte: bundesweit: <a href="/">"Green Key"</a>, <a href="/"
                    >"USE/INS"</a
                  >, <a href="/">"Blaue Flagge"</a>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Hilpoltstein</strong><br />Bayern</p>
              </td>
              <td>
                <p>Birgit Feldmann</p>
                <p>Eisvogelweg 1<br />91161 Hilpoltstein</p>
                <p>Tel.: +49 9174 477542</p>
                <p>Fax: +49 9174 477575</p>
                <p>
                  Email:
                  <a href="mailto:b-feldmann@lbv.de">b-feldmann@lbv.de</a>
                </p>
                <p>
                  <a href="www.lbv.de/umweltschule">www.lbv.de/umweltschule</a>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p><strong>Berlin</strong></p>
              </td>
              <td>
                <p>Stephanie Pröpsting</p>
                <p>Tel.: +49 30 83852744</p>
                <p>
                  Email:
                  <a href="mailto:proepsting@institutfutur.de"
                    >proepsting@institutfutur.de</a
                  >
                </p>
                <p>
                  Projekt:
                  <a href="/"
                    >„Nachhaltige Entwicklung mitgestalten - ein
                    Qualifizierungs- und Beteiligungsprojekt für junge Menschen
                    in Kroatien“</a
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="prose mt-10 max-w-full">
        <h2 class="mt-3 text-lg font-bold">
          Kontaktdaten der Geschäftsführung
        </h2>
        <table class="text-base prose-p:my-2">
          <thead class="text-lg">
            <tr>
              <th>Ort</th>
              <th>Büro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p><strong>DGU Büro Erfurt</strong></p>
              </td>
              <td>
                <p>Goethestrasse 64<br />99096 Erfurt</p>
                <p>Tel.: +49 178 4402955</p>
                <p>
                  Email:
                  <a href="mailto:sekretariat@umwelterziehung.de"
                    >sekretariat@umwelterziehung.de</a
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
