---
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
import PartnersSection from "../../lib/sections/about/PartnersSection.astro";
---

<DefaultLayout title="Förderer und Kooperationspartner">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Förderer und Kooperationspartner</h1>
      <div class="mt-10">
        <PartnersSection />
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
