---
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Mitgliedschaft">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Wie können Sie Mitglied werden?</h1>
      <div class="prose mt-10 max-w-full">
        <p>
          Wir würden uns freuen, wenn Sie aktives oder förderndes Mitglied der
          Deutschen Gesellschaft für Umwelterziehung e. V. werden.
        </p>
        <p>
          Die DGU bietet ihren Mitgliedern folgenden Service:
          <ul>
            <li>
              Kostenlose Zusendung der DGU- Nachrichten und eigener aktueller
              Publikationen zu Themen der Umweltbildung
            </li>
            <li>
              Teilnahmemöglichkeiten an Tagungen, Konferenzen und anderen Foren,
              vorrangig oder ausschließlich, mit Ermäßigung
            </li>
            <li>
              Allgemeine Informationen zur Umweltbildung in der Bundesrepublik
              Deutschland und in Europa
            </li>
          </ul>
        </p>
        <h2>Informationen zur Mitgliedschaft</h2>
        <p>
          Mitglieder können natürliche und juristische Personen werden, die die
          Ziele der Gesellschaft unterstützen und zu deren Verwirklichung
          beitragen wollen. Über die Aufnahme entscheidet der Vorstand auf
          schriftlichen Antrag. Jedes Mitglied hat einen Mitgliedsbeitrag zu
          entrichten. Die Mitgliedschaft ist kündbar.
        </p>
        <h3>Mitgliedsbeitrag für ein Jahr</h3>
        <table class="text-base">
          <thead>
            <tr>
              <th>Art der Mitgliedschaft</th>
              <th>Beitrag</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Einzelmitglieder</td>
              <td>30 €</td>
            </tr>
            <tr>
              <td>Juristische Personen</td>
              <td>80 €</td>
            </tr>
            <tr>
              <td>Auszubildende, Schüler und Studenten</td>
              <td>13 €</td>
            </tr>
          </tbody>
        </table>
        <p>
          Um die Mitgliedschaft beantragen zu können, stehen Ihnen folgende
          Möglichkeiten zur Verfügung:
        </p>
        <h3>Einreichung des Antrags</h3>
        <ol>
          <li>
            Speichern Sie den Aufnahmeantrag auf Ihrem Computer<br /><a
              href="/content/media/antraege/mitgliedsantrag.pdf"
              download>Download</a
            >
          </li>
          <li>Füllen Sie den Antrag aus</li>
          <li>
            Schicken Sie den Antrag per Email an <a
              href="sekretariat@umwelterziehung.de"
              >sekretariat@umwelterziehung.de</a
            > oder per Post an
            <p>
              <strong>DGU Büro Erfurt</strong>
              <br />
               Goethestraße 64
              <br />
               99096 Erfurt
              <br />
               Tel.: +49 176 70412185
            </p>
          </li>
        </ol>
        <h2>Satzung</h2>
        <p>
          Die Satzung kann unter der oben genannten Adresse angefordert werden.
        </p>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
