---
import MarginContainer from "../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Vorstand">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h2 class="text-3xl font-bold text-dgu-dark-green">Der Vorstand</h2>
      <div class="prose mt-10 max-w-full">
        <table class="text-base prose-p:my-2">
          <tbody>
            <tr>
              <td>
                <p class="font-bold">Vorsitzender</p>
              </td>
              <td>
                <p>Robert Lorenz</p>
                <p>Goethestrasse 64<br />99096 Erfurt</p>
                <p>Tel.: +49 178 4402955</p>
                <p>
                  Email:
                  <a href="mailto:sekretariat@umwelterziehung.de"
                    >sekretariat@umwelterziehung.de</a
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="font-bold">Stellvertretender Vorsitzender</p>
              </td>
              <td>
                <p>Harry Funk</p>
                <p>
                  Senatsverwaltung für Bildung, Jugend und Familie
                  <br />Bernhard-Weiß-Straße 6<br />10178 Berlin
                </p>
                <p>Tel.: +49 30 902276648</p>
                <p>
                  Email:
                  <a href="mailto:harry.funk@senbjf.berlin.de"
                    >harry.funk@senbjf.berlin.de</a
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="font-bold">Schatzmeister</p>
              </td>
              <td>
                <p>Jens Hepper</p>
                <p>
                  Alte Oberförsterei
                  <br />37589 Kalefeld
                </p>
                <p>Tel.: +49 176 61994481</p>
                <p>
                  Email:
                  <a href="mailto:jens.hepper@rlsb.de">jens.hepper@rlsb.de</a>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="font-bold">Vorstandsmitglied</p>
              </td>
              <td>
                <p>Stephanie Pröpsting</p>
                <p>Tel.: +49 30 83850908</p>
                <p>
                  Email:
                  <a href="mailto:stephanie.proepsting@umwelterziehung.de"
                    >stephanie.proepsting@umwelterziehung.de</a
                  >
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="font-bold">Ehrenvorsitzender</p>
              </td>
              <td>
                <p>Dr. Günter Eulefeld</p>
                <p>
                  Zur Heide 33
                  <br />25365 Sparrieshoop
                </p>
                <p>Tel.: +49 41 2188639</p>
                <p>Fax: +49 41 2185087</p>
                <p>
                  Email:
                  <a href="mailto:eulefeld@gmx.de">eulefeld@gmx.de</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="prose mt-10 max-w-full">
        <h2 class="text-3xl font-bold text-dgu-dark-green">
          Die Geschäftsführung
        </h2>
        <table class="text-base prose-p:my-2">
          <tbody>
            <tr>
              <td>
                <p class="font-bold">Geschäftsführung</p>
              </td>
              <td>
                <p><strong>DGU Büro Erfurt</strong></p>
                <p>Goethestrasse 64<br />99096 Erfurt</p>
                <p>Tel.: +49 178 4402955</p>
                <p>
                  Email:
                  <a href="mailto:sekretariat@umwelterziehung.de"
                    >sekretariat@umwelterziehung.de</a
                  >
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
