---
import MarginContainer from "../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Bayern">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Bayern</h1>
      <div class="contact-card mt-6">
        <h2>LBV Bayern</h2>
        <p>Birgit Feldmann, Iris Kirschke</p>
        <p>Eisvogelweg 1<br />91161 Hilpoltstein</p>
        <p>
          Tel.: +49 9174 477542
          <br />
           Fax: +49 9174 477575
        </p>
        <p>
          <a href="mailto:umweltschule@lbv.de">Email: umweltschule@lbv.de</a>
        </p>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
