<ul class="relative top-0">
  <li class="month-container">
    <p class="month-heading">November 2023</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2022-2023.
        </p>
        <p class="news-link">
          <a
            href="/content/media/berichte/dgu_jahresbericht_2022_2023.pdf"
            download>zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Mai 2022</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Nachruf auf Dr. Michael Plesse</h2>
        <p class="news-text">
          Hiermit möchten wir Abschied nehmen von unserem langjährigem
          Vorstandsmitglied Dr. Michael Plesse, der in diesem Jahr nach langer
          Krankheit verstorben ist. Er hat der DGU für lange Zeit als Kassenwart
          sehr geholfen und mit seiner freundlichen, immer auf gute
          Verständigung ausgerichteten Art unschätzbare Dienste erwiesen.
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">April 2022</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2020-2022.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2021.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">März 2021</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2020-2021.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2020.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Februar 2020</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorstandes</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2018-2019.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2019.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Mai 2018</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Handreichung „Service-Learning - Engagement Studierender im Natur- und
          Umweltschutz“
        </h2>
        <p class="news-text">
          Wir freuen uns, mit der Handreichung „Service-Learning - Engagement
          Studierender im Natur- und Umweltschutz“ wertvolle Erfahrungen und
          Anregungen aus dem Projekt "Service-Learning für Natur- und
          Umweltschutz in Kroatien - Ein deutsch-kroatisches Kooperationsprojekt
          für Studierende“ weiter geben zu können. Die Handreichung bündelt die
          praktischen Erfahrungen, ergänzt diese durch theoretische Grundlagen
          und lädt Hochschulen und zivilgesellschaftliche Organisationen ein,
          diese zu nutzen, um das Lehren und Lernen handlungsorientiert zu
          gestalten und Studierende dazu zu motivieren sich aktiv in die Lösung
          von Problemen und Herausforderungen der Gesellschaft einzubringen.
        </p>
        <p class="news-link">
          <!-- @TODO link ändern -->
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Dezember 2017</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Neuer Vorsitz in der DGU</h2>
        <p class="news-text">
          Die DGU dankt ihrem langjährigen Vorsitzenden Prof. Dr. Gerhard de
          Haan und wünscht dem neu gewählten Vorsitzenden Klaus Hübner viel
          Erfolg und gutes Gelingen. Dank geht auch an das DGU Gründungsmitglied
          Herbert Hollmann, der den Vorstand nach mehr als 30 Jahren ebenfalls
          verlässt.
        </p>
      </li>
      <li class="news-container">
        <h2 class="news-heading">Bericht des DGU Vorsitzenden</h2>
        <p class="news-text">
          Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU im
          Zeitraum 2016-2017.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/dgu_jahresbericht_2017.pdf" download
            >zum Download</a
          >
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Oktober 2017</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          The Great Plant Hunt - Die große Pflanzenjagd - Jahr 3
        </h2>
        <p class="news-text">
          Start des 3. Jahres der Kampagne <span class="font-bold"
            >"The Great Plant Hunt"</span
          >. Diese Kampagne ist eine gemeinsame Initiative von Toyota Motor
          Europe und der Stiftung für Umwelterziehung. Der Schwerpunkt liegt auf
          der Biodiversität mit besonderem Augenmerk auf Pflanzen und den damit
          verbundenen Arten.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
      <li class="news-container">
        <h2 class="news-heading">
          Service-Learning - zweite Staffel erfolgreich abgeschlossen!
        </h2>
        <p class="news-text">
          Die zweite Studierendengruppe der Universität Split, die im Zeitraum
          März bis September 2017 am Service-Learning Programm teilgenommen hat,
          kann ebenfalls auf eine ereignisreiche Zeit und zwei erfolgreich
          durchgeführte öffentliche Veranstaltungen zurückblicken.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">April 2017</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Service-Learning - erste Staffel erfolgreich abgeschlossen!
        </h2>
        <p class="news-text">
          Die erste Studierendengruppe der Universität Split, die am
          Service-Learning Programm teilgenommen hat, ist um viele Erfahrungen
          und Einsichten reicher geworden und hält bereits das Zertifikat in den
          Händen. Für den Zeitraum November 2016 bis März 2017 blicken die
          Studierenden auf fünf handlungsorientierte Workshops, eine intensive
          Erarbeitungsphase sowie eine ereignisreiche öffentliche Veranstaltung
          zurück.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">September 2016</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">Vollversammlung der FEE 2016 in Indien</h2>
        <p class="news-text">
          Hier finden Sie eine aktuelle Pressemitteilung der FEE (Foundation for
          Environmental Education) zur anstehenden Vollversammlung über den
          Zeitraum 2014-2016.
        </p>
        <p class="news-link">
          <a href="/content/media/berichte/fee_ga_bericht_2016.pdf" download
            >zum Download</a
          >
        </p>
      </li>
      <li class="news-container">
        <h2 class="news-heading">
          The Great Plant Hunt - Die große Pflanzenjagd - Jahr 2
        </h2>
        <p class="news-text">
          Start des 2. Jahres der Kampagne <span class="font-bold"
            >"The Great Plant Hunt"</span
          >. Diese Kampagne ist eine gemeinsame Initiative von Toyota Motor
          Europe und der Stiftung für Umwelterziehung. Der Schwerpunkt liegt auf
          der Biodiversität mit besonderem Augenmerk auf Pflanzen und den damit
          verbundenen Arten.
        </p>
        <p class="news-link">
          <!-- @TODO link ändern -->
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Juli 2016</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Aktualisierte Green Key Kriterien für Hotels und Freizeitparks in
          Deutschland
        </h2>
        <p class="news-text">
          Geänderte und international angepasste Kriterienkataloge sowohl für
          Hotels als auch für Freizeitparks stehen ab sofort zur Verfügung.
          (siehe Projekte ➞ Green Key ➞ Download)
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Juni 2016</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Lernen aus der Praxis - Service-Learning an Universitäten in
          Deutschland
        </h2>
        <p class="news-text">
          Mitte Juni 2016 war es soweit. Jeweils zwei Vertreter der Fakultät für
          Chemie und Technik, der Universitätsabteilung für Meeresforschung, der
          Fakultät für Geistes- und Sozialwissenschaften, sowie der Fakultät für
          Wirtschaftswissenschaften der Universität Split und drei Mitarbeiter
          der Organisation Sunce besuchten ausgewählte Universitäten und deren
          Engagementpartner in Deutschland. Die Service-Learning-Tour führte von
          Erfurt über Kassel nach Essen.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">April 2016</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Auftaktworkshop mit allen Projektbeteiligten in Kroatien
        </h2>
        <p class="news-text">
          Am 5. April 2016 fand in Spilt der Auftaktworkshop für alle am Projekt
          beteiligten Partner statt. Teilgenommen haben Vertreter der Fakultät
          für Wirtschaftswissenschaften, der Fakultät für Chemie und Technik,
          der Universitätsabteilung für Meeresforschung, der Fakultät für
          Geistes- und Sozialwissenschaften sowie Mitarbeiter der
          Umweltorganisation Sunce. Im Mittelpunkt des Auftaktworkshops standen
          neben einem gemeinsamen Kennenlernen die Inhalte, Schwerpunkte und
          Ziele des Projektes.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Januar 2016</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          Start des Projektes „Service-Learning für Natur- und Umweltschutz in
          Kroatien - Ein deutsch-kroatisches Kooperationsprojekt für
          Studierende“
        </h2>
        <p class="news-text">
          Die Lösung der globalen Fragen und Herausforderungen der Zukunft sind
          insbesondere für die junge Generation von wesentlicher Bedeutung, da
          sie nicht nur heute, sondern auch zukünftig mit den Folgen einer nicht
          nachhaltigen Entwicklung umgehen müssen. Zentrale Aufgabe ist es
          daher, junge Menschen zu motivieren und zu befähigen, eine
          umweltfreundliche und sozial gerechte Welt aktiv mitzugestalten. Die
          Übernahme gesellschaftlicher Verantwortung spielt dabei eine
          wesentliche Rolle. Genau hier setzt das Projekt an und will das
          bürgerschaftliche Engagement von Studierenden im Bereich des Natur-
          und Umweltschutzes fördern. Das innovative Lernarrangement
          Service-Learning bietet dabei ein didaktisches Konzept, das die aktive
          Beteiligung junger Menschen an der Bewältigung tatsächlich vorhandener
          Aufgaben und der Lösung von Problemen im lokalen Umfeld fördert...
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <li class="month-container">
    <p class="month-heading">Oktober 2015</p>
    <ul class="news-list">
      <li class="news-container">
        <h2 class="news-heading">
          The Great Plant Hunt - Die große Pflanzenjagd - Jahr 1
        </h2>
        <p class="news-text">
          Start des 1. Jahres der Kampagne <span class="font-bold"
            >"The Great Plant Hunt"</span
          >. Diese Kampagne ist eine gemeinsame Initiative von Toyota Motor
          Europe und der Stiftung für Umwelterziehung. Der Schwerpunkt liegt auf
          der Biodiversität mit besonderem Augenmerk auf Pflanzen und den damit
          verbundenen Arten.
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
      <li class="news-container">
        <h2 class="news-heading">
          Projekt „Nachhaltige Entwicklung mitgestalten - ein Qualifizierungs-
          und Beteiligungsprojekt für junge Menschen in Kroatien“: Handreichung
          „Nachhaltige Entwicklung - Begreifen-Umsetzen-Gestalten“
        </h2>
        <p class="news-text">
          Wir freuen uns, mit der Handreichung „Nachhaltige Entwicklung –
          Begreifen-Umsetzen-Gestalten“ wertvolle Erfahrungen und Anregungen aus
          dem Projekt "Nachhaltige Entwicklung mitgestalten“ für die schulische
          und außerschulische Bildungsarbeit mit Kindern und Jugendlichen weiter
          geben zu können. Die Handreichung richtet sich in erster Linie an
          Lehrer der Grund- und Sekundarschulen sowie alle, die mit Kindern und
          Jugendlichen arbeiten und einen Beitrag zur aktiven Bürgerbeteiligung
          und zu einem verantwortungsvollen Umgang mit unserer Natur und Umwelt
          leisten möchten. Sie bietet sowohl für den schulischen als auch den
          außerschulischen Bereich vielfältige Impulse, um gemeinsam mit Kindern
          und Jugendlichen die Prinzipien einer nachhaltigen Entwicklung im
          Umwelt- und Naturschutzbereich zu begreifen, umzusetzen und die
          Gesellschaft dadurch ein wenig nachhaltiger zu gestalten. Der
          Erstellung der Handreichung sind vielfältige Projektaktivitäten
          vorausgegangen. Deren Ziel war es, die Kenntnisse über partizipative
          Lehr- und Lernmethoden zu erweitern, Beteiligung von Lehrern und
          Schülern im Umwelt- und Naturschutz zu fördern und junge Menschen zur
          aktiven Bürgerbeteiligung und zur ehrenamtlichen Tätigkeit im Umwelt-
          und Naturschutz zu motivieren. Die Handreichung bündelt sowohl
          einfache partizipative Methoden als auch komplexere Lernarrangements
          wie Service-Learning und Nachhaltige Schülerfirmen und veranschaulicht
          deren Umsetzung jeweils anhand von Praxisbeispielen aus Kroatien und
          Deutschland. Die Handreichung ist nicht nur in deutscher und
          kroatischer, sondern auch in englischer Sprache erschienen. Dies soll
          dazu beitragen, dass die Erfahrungen und Kenntnisse aus dem Projekt
          auch über die Landesgrenzen der beiden Projektpartner hinaus gestreut
          werden und Bildungsgestaltern in anderen Ländern der Erde ebenfalls
          Anregungen und Unterstützung für ihre Arbeit geben. Wir wünschen viel
          Freude und gutes Gelingen dabei!
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zum Download</a>
        </p>
        <!-- @TODO link ändern -->
        <p class="news-link">
          <a href="/">zur entsprechenden Projektseite</a>
        </p>
      </li>
    </ul>
  </li>
  <span
    class="absolute top-0 ml-72 hidden h-full w-[3px] bg-dgu-dark-green lg:block"
  ></span>
</ul>

<style>
  .month-container {
    @apply mt-10 flex flex-col first:mt-0 lg:flex-row;
  }

  .month-heading {
    @apply text-xl font-black text-dgu-dark-green lg:w-72 lg:text-2xl;
  }

  .news-container {
    @apply mt-5 max-w-2xl rounded-lg bg-white px-4 py-3 shadow-xl first:mt-0;
  }

  .news-list {
    @apply mt-4 lg:ml-12 lg:mt-0;
  }

  .news-heading {
    @apply text-lg font-bold;
  }

  .news-text {
    @apply mt-1;
  }

  .news-link {
    @apply mt-1 font-bold;
  }
</style>
