---
import MarginContainer from "../../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Berlin">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Berlin</h1>

      <div class="prose mt-6 max-w-full">
        <h2>Beispiele für Leitprojekte der Umweltschulen 2018</h2>
        <ul>
          <li>Upcycling-Recycling</li>
          <li>
            Unser Schulgarten, eine Oase in der Stadt und Heimstadt für Vögel
            und Insekten
          </li>
          <li>Klimafreundliche Schulverpflegung</li>
          <li>
            Jede und jeder fühlt sich willkommen – auf dem Weg zur inklusiven
            Schule
          </li>
          <li>Gestaltung eines nachhaltigen Weihnachtsmarktes</li>
          <li>Wasser ist ein unentbehrliches Gut</li>
          <li>Industrieller Fortschritt um jeden Preis?</li>
          <li>Gemeinsam für die Umwelt: Müll vermeiden und wiederverwerten</li>
          <li>
            Stop-Motion-Filme – Ausstellungen Gutes Leben und Endlich Wachstum“
          </li>
          <li>„Konsum am Limit“ - Bewusst in einer globalen Welt leben</li>
          <li>Berufsorientierung für Geflüchtete: „Mein Weg zum Traumberuf“</li>
          <li>Köpfchen statt Kohle</li>
          <li>Die 10A spart CO2!</li>
          <li>Der Baum der Artenvielfalt“</li>
          <li>
            Getränke-Einwegverpackungen – Rechtfertigt unser kleiner Durst
            zwischendurch dieses Müllproblem an unserer Schule?
          </li>
          <li>Erneuerung und Renaturierung unseres Schulteichs</li>
          <li>
            Anmietung eines Bio-Bienenstocks in Kooperation mit „Green Honey“
          </li>
          <li>Gemüsebeete im Klassenzimmer</li>
        </ul>

        <h2>Als Kooperationspartner der Umweltschulen wurden ausgezeichnet:</h2>
        <ul>
          <li>DorfwerkStadt e.V. (Mierendorff-Grundschule)</li>
          <li>
            EPIZ – Zentrum für Globales Lernen (Brillat-Savarin-Schule, Ev.
            Schule Köpenick, Alt-Lankwitzer Grundschule, Emmy-Noether Gymnasium)
          </li>
          <li>
            DeVi e.V. - Verein für Demokratie und Vielfalt in Schule und
            beruflicher Bildung e.V. (Ruth-Cohn-Schule)
          </li>
          <li>Ben Wagin (Ehrenurkunde) (Grundschule im Beerwinkel)</li>
        </ul>

        <h2>Die Jurymitglieder</h2>
        <ul>
          <li>Frau Blumenthal (PIK)</li>
          <li>Frau Bock (UfU)</li>
          <li>Frau Brandstädter (SenBildJugFam)</li>
          <li>Frau Bruch (EPIZ)</li>
          <li>Frau Büchner (SEA LIFE & AquaDom)</li>
          <li>Herr Dietzen (Grün macht Schule)</li>
          <li>
            Frau Fleischer (Jugend- und Familienstiftung des Landes Berlin)
          </li>
          <li>Herr Funk (SenBildJugFam)</li>
          <li>Frau Gersdorff (Gartenarbeitsschule Pankow)</li>
          <li>Frau Jammes (GASAG)</li>
          <li>Frau Käsbohrer (CO2 Online)</li>
          <li>Frau Krohn (BSR)</li>
          <li>Frau Krümmel (Haus der kleinen Forscher)</li>
          <li>Frau Sonnenschein (BSR)</li>
          <li>Frau Wagenseil (SUZ Spandau)</li>
        </ul>

        <p>Schuljahr 2017 / 2018</p>
        <div>
          <p>
            Am 27.06.2018 nahmen Vertreter und Vertreterinnen von 28 Berliner
            Schulen die internationale Prädikat „Umweltschule in
            Europa/Internationale Agenda 21-Schule“ im Roten Rathaus entgegen.
            Über vielfältige Projekte hinaus haben diese Schulen Bildung für
            nachhaltige Entwicklung in ihrem Schulleben ganzheitlich verankert.
            Die Auszeichnung wurde von der Senatsverwaltung für Bildung, Jugend
            und Familie in Kooperation mit der GASAG, der BSR, dem SEA LIFE &
            AquaDom Berlin und der BUND-jugend verliehen. Eine fünfzehnköpfige
            Expertenjury prüfte die eingereichten Dokumentationen,
            Präsentationen und Filme. Neben Projekten wie „Heißkalt erwischt!“
            (Mierendorff-Grundschule), „Klobalisierung und Wasserverschwendung
            an der Zille“ (Heinrich-Zille-Grundschule) und „Energiesparen fängt
            bei mir selbst an! - Wir denken ökoLOGISCH“ (August-Sander-Schule,
            OSZ) überzeugten die Schulen durch die Verankerung der
            Nachhaltigkeit in ihren Schulprogrammen und im Schulleben. So
            arbeitete die Otto-Hahn-Schule (ISS) weiterhin an ihrem
            „Flickenteppich auf dem Weg zur Umweltschule und der Verstetigung
            und Ausweitung der bisherigen Projektideen“ und die
            Kreativitäts-Grundschule Karlshorst veranstaltete ihre jährliche
            „BNE-Projektwoche Wasser“. Im Emmy-Noether- Gymnasium bot das
            “Mobile Wissenschaftstheater für Schulen“ fast allen Klassen die
            Möglichkeit an Kursen aus den Bereichen Energie, Umwelt und Klima
            teilzunehmen.
          </p>

          <p>
            <strong>Mark Rackles, Staatssekretär für Bildung:</strong> „Die 28 Berliner
            Umweltschulen des Jahres 2018 haben sich engagiert für das Thema Nachhaltigkeit
            eingesetzt und es umfassend in ihren Schulprogrammen und im Schulleben
            verankert. Sie zeigen anschaulich, erfolgreiche Umsetzungsmöglichkeiten
            des übergreifenden Themas „Nachhaltige Entwicklung/Lernen in globalen
            Zusammenhängen“ des neuen Rahmenlehrplans und inspirieren mit ihren zukunftsorientierten
            und innovativen Ideen sicher viele andere Schulen. <br />
            „Engagement für den Klimaschutz sollte so früh wie möglich beginnen.
            Daher unterstützen wir seit Jahren sehr gerne Schülerinnen und Schüler,
            die sich eigenständig in ihrem privaten und schulischen Umfeld mit Klima-
            und Umweltschutz auseinanderzusetzen. Für uns ist es eine Inspiration
            zu sehen, welchen Blick die jungen Berlinerinnen und Berliner auf den
            Klimawandel haben, wie sie sich dem Thema kreativ widmen und klassenübergreifend
            an die Fragen heran gehen. Mit ihren Ideen geben sie auch Beispiele für
            andere Schulen“, begründet Petra Thiel, Energieberaterin der GASAG, die
            Unterstützung.
          </p>

          <p>
            <strong
              >Angela Sonnenschein, Umweltbildung bei der Berliner
              Stadtreinigung (BSR):</strong
            > „Die Umwelt und Ressourcen zu schonen, ist für uns bei allen Dienstleistungen
            ein wichtiges Anliegen. Unser Motto ,global denken, lokal handeln‘ wurde
            von den Schülerinnen und Schülern aufgegriffen. In zahlreichen kreativen
            Umweltschutzprojekten haben sie in diesem Schuljahr wieder gezeigt, wie
            wichtig nachhaltiges Handeln ist. Als kommunales Umweltunternehmen ist
            uns praktische Umweltbildung besonders wichtig. Daher unterstützen wir
            die Umweltschulen gerne durch die Verleihung des Nachhaltigkeitssiegels.“
          </p>

          <p>
            <strong
              >Claudia Büchner, SEA LIFE & AquaDom Berlin, Marketing Manager for
              Schools and Networks, Midway Germany and Austria:</strong
            > „In diesem Jahr haben wir eine neue Präsentationsfläche für die Umweltschul-Projekte
            ausprobiert. Die bunte Vielfalt war nicht nur für uns eine tolle Gelegenheit
            über den „Marktplatz der Ideen“ zu gehen, sondern bot auch den meisten
            Schülerinnen und Schüler Inspiration und die Möglichkeit zum Austausch.
            Ich freue mich, dass wir wieder so viele neue und bestehende Anwärter
            für das internationale Prädikat „Umweltschule in Europa/Internationale
            Agenda 21-Schule“ hatten. Wir als SEA LIFE Berlin versuchen das Thema
            Nachhaltigkeit in all unseren Workshops und Touren spielerisch zu vermitteln.
            Mit einem eigenen Umweltprogramm und verschiedenen lokalen Projekten
            in Berlin und Brandenburg setzen wir uns für den Schutz des Lebensraumes
            Wasser und seiner Bewohner ein.“
          </p>

          <p>
            <strong
              >Christina Rode, Vorstandsmitglied der BUNDjugend Berlin:</strong
            > „Schule muss mehr sein als Klausuren und Hausaufgaben. Schule muss
            ein Zukunftsort sein, an dem sich Schülerinnen und Schüler ausprobieren
            können. Bei den Umweltschulen ist toll zu sehen, wie vielseitig sich
            die ausgezeichneten Schulen mit dem Thema Umwelt beschäftigen und wie
            intensiv die Schüler daran beteiligt sind und die Projekte aktiv mitgestalten.
            So werden sie auch befähigt, sich eigene Meinungen zu bilden und das
            Thema Umwelt- und Klimaschutz in die Gesellschaft zu tragen.”
          </p>

          <p>
            Zusätzlich zur Prädikatsverleihung würdigte die Jugend- und
            Familienstiftung des Landes Berlin drei ausgewählte
            Kooperationspartner der Gewinnerschulen mit einer finanziellen
            Anerkennung und vergab in diesem Jahr zum ersten Mal zusätzlich eine
            Ehrenurkunde. <strong
              >Katrin Fleischer, stellv. Vorstandsvorsitzende der Jugend- und
              Familienstiftung des Landes Berlin:</strong
            > „Wir freuen uns, dass wir bereits seit sechs Jahren jeweils drei Kooperationspartner
            der Umweltschulen mit einem Anerkennungspreis der Jugend- und Familienstiftung
            des Landes Berlin auszeichnen können. Sie werden ausgezeichnet, weil
            sie besonders erfolgreich mit der Schule im Bereich Umwelt und Ökologie
            über den Unterricht hinaus zusammengearbeitet haben. Mit dem Preisgeld
            von insgesamt 1.500 € möchten wir die Fortsetzung ihrer erfolgreichen
            Kooperation unterstützen.
          </p>
        </div>
      </div>

      <div class="contact-card mt-6">
        <h2>Senatsverwaltung für Bildung, Jugend und Familie</h2>
        <p>
          Harry Funk/ II B 4 Fu und Petra Brandstädter II B 4 Br,
          Bernhard-Weiß-Str. 6, 10 178 Berlin
        </p>
        <p>Tel.: +49 30 902276648</p>
        <p>Fax: +49 30 902276111</p>
        <p>
          Klimabildung, Bildung für nachhaltige Entwicklung, Projekt: "Zukunft
          gestaltet Schule", Gartenarbeitsschulen, Bundesumweltwettbewerb
        </p>
        <p>
          Email: <a href="mailto:harry.funk@senbjf.berlin.de"
            >harry.funk@senbjf.berlin.de</a
          > und <a href="mailto:petra.brandstaedter@senbjf.berlin.de"
            >petra.brandstaedter@senbjf.berlin.de</a
          >
        </p>
      </div>

      <div class="prose mt-6 max-w-full">
        <h2 id="projektteilnehmer">Projektteilnehmer Berlin</h2>
        <table class="w-max">
          <thead>
            <tr>
              <th>Schule</th>
              <th>Teilnahmejahre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alt-Lankwitzer-Grundschule</td>
              <td>2</td>
            </tr>
            <tr>
              <td>August-Sander-Schule (Berufsfachschule)</td>
              <td>2</td>
            </tr>
            <tr>
              <td>ASIG Berufs- und Fachschulen</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Bernhard-Grzimek-Schule (Grundschule)</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Brillat-Savarin- Schule (OSZ Gastgewerbe)</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Carl-Friedrich-von-Siemens-Gymnasium</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Carl-von-Ossietzky-Gymnasium</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Dathe-Gymnasium</td>
              <td>9</td>
            </tr>
            <tr>
              <td>Emmy-Noether-Gymnasium</td>
              <td>9</td>
            </tr>
            <tr>
              <td
                >Ernst-Litfaß-Schule (OSZ Mediengestaltung und
                Medientechnologie)</td
              >
              <td>7</td>
            </tr>
            <tr>
              <td>Ev. Schule Köpenick (Gym)</td>
              <td>neu</td>
            </tr>
            <tr>
              <td>Goethe-Gymnasium Lichterfelde</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Grundschule im Beerwinkel</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Hunsrück-Grundschule</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Hagenbeck-Schule (ISS)</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Heinrich-Mann-Schule (ISS)</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Heinrich-Zille-Grundschule</td>
              <td>3</td>
            </tr>
            <tr>
              <td>John-Lennon-Gymnasium</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Kreativitäts-Grundschule Karlshorst</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Kronach-Grundschule</td>
              <td>neu</td>
            </tr>
            <tr>
              <td>Mierendorff-Grundschule</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Mühlenau-Grundschule</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Otto-Hahn-Schule (ISS)</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Peter-Lenné-Schule (OSZ Natur und Umwelt)</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Ruth-Cohn-Schule (OSZ Sozialwesen)</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Schule am Falkplatz (Grundschule)</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Schule an der Jungfernheide (ISS)</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Schulfarm Insel Scharfenberg (Gym)</td>
              <td>neu</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
