---
import MarginContainer from "../../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Brandenburg">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Brandenburg</h1>

      <div class="prose mt-6 max-w-full">
        <h2>Projektteilnehmer in Brandenburg</h2>
        <table>
          <thead>
            <tr>
              <th>Schule</th>
              <th>Teilnahmejahre</th>
              <th>Ort</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Grundschule am Priesterweg</td>
              <td>22</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>Waldstadt Grundschule</td>
              <td>21</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>OSZ2 Potsdam</td>
              <td>1</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>Karl-Foerster-Schule</td>
              <td>20</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>Comenius-Schule</td>
              <td>18</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>Wiedenhof Grundschule</td>
              <td>6</td>
              <td>Potsdam</td>
            </tr>
            <tr>
              <td>Städtisches Gymnasium Carl Friedrich Gauß</td>
              <td>1</td>
              <td>Frankfurt (Oder)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
