---
import MarginContainer from "../../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Mecklenburg-Vorpommern">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Mecklenburg-Vorpommern</h1>

      <div class="prose mt-6 max-w-full">
        <h2>Projektteilnehmer in Mecklenburg-Vorpommern</h2>
        <table>
          <thead>
            <tr>
              <th>Schule</th>
              <th>Teilnahmejahre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><p><strong>Regionalbereich Rostock</strong></p></td>
            </tr>
            <tr>
              <td>Warnowschule Papendorf/ RS/GS</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Schulcampus Evershagen</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Erasmus-Gymnasium Rostock</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Freie Grundschule Bröbberow</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Freie Schule Güstrow</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Grundschule Evangelische Schule Walkendorf</td>
              <td>4</td>
            </tr>
            <tr>
              <td>RS/GS Prof. Franz Bunke Schwaan</td>
              <td>4</td>
            </tr>
            <tr>
              <td>RS/GS Schule am SEE Satow</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Geschwister Scholl Gymnasium Bützow</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Grundschule am Mühlenteich Rostock</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Gymnasium Reutershagen Rostock</td>
              <td>3</td>
            </tr>
            <tr>
              <td>RechnitzCampus Laage</td>
              <td>1</td>
            </tr>

            <tr>
              <td><p><strong>Regionalbereich Neubrandenburg</strong></p></td>
            </tr>
            <tr>
              <td>Fritz Greve Gymnasium Malchin</td>
              <td>14</td>
            </tr>
            <tr>
              <td>Schlossgymnasium Gützkow</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Reuterstädter Gesamtschule Stavenhagen</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Grundschule Dargun</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Grundschule "Schwalbennest"</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Grundschule Mewegen Rothenklempenow</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Grundschule Röbel</td>
              <td>1</td>
            </tr>

            <tr>
              <td><p><strong>Regionalbereich Schwerin</strong></p></td>
            </tr>
            <tr>
              <td>ecolea Gymnasium Schwerin</td>
              <td>7</td>
            </tr>
            <tr>
              <td>FÖZ Pestalozzi-Schule Gadebusch</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Grundschule „Stadtschule am Mühlenteich“ Hagenow</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Gymnasium Dömitz</td>
              <td>1</td>
            </tr>

            <tr>
              <td><p><strong>Regionalbereich Greifswald</strong></p></td>
            </tr>
            <tr>
              <td>Prof.-Gustav-Pflugradt RS Schule Niepars</td>
              <td>17</td>
            </tr>
            <tr>
              <td>Grundschule „Juri Gagarin“ Stralsund</td>
              <td>17</td>
            </tr>
            <tr>
              <td>Grundschule „Mönchgut „Gager</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Hansa-Gymnasium Stralsund</td>
              <td>10</td>
            </tr>
            <tr>
              <td>Recknitz Grundschule Ahrenshagen</td>
              <td>7</td>
            </tr>
            <tr>
              <td>SÖP FÖZ Grimmen</td>
              <td>5</td>
            </tr>
            <tr>
              <td>Förderschule „Komensky“ Barth</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Regionale Schule „Windland" / RegS Altenkirchen</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Grundschule Marlower Loris</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Evangelische Schule Dettmannsdorf</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Regionale Schule „Am Rugard“</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
