---
import MarginContainer from "../../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Nordrhein-Westfalen">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Nordrhein-Westfalen</h1>

      <div class="prose mt-6 max-w-full">
        <h2>Projektteilnehmer in Nordrhein-Westfalen</h2>
        <table>
          <thead>
            <tr>
              <th>Schule</th>
              <th>Teilnahmejahre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Arnold-Freymuth-Sekundarschule, Hamm / Herringen</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
