---
import MarginContainer from "../../../../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../../../../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="USE/INS in Sachsen-Anhalt">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>USE/INS in Sachsen-Anhalt</h1>

      <div class="prose mt-6 max-w-full">
        <h2>Projektteilnehmer in Sachsen-Anhalt</h2>
        <table>
          <thead>
            <tr>
              <th>Schule</th>
              <th>Teilnahmejahre</th>
              <th>Ort</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sekundarschule "Fritz-Heicke" Gommern</td>
              <td>19</td>
              <td>Gommern</td>
            </tr>
            <tr>
              <td>Grundschule "Am Wäldchen"</td>
              <td>21</td>
              <td>Klietz</td>
            </tr>
            <tr>
              <td>Sekundarschule "Saale Elster Auen" Schkopau</td>
              <td>21</td>
              <td>Schkopau</td>
            </tr>
            <tr>
              <td>Grundschule Rehmsdorf</td>
              <td>20</td>
              <td>Rehmsdorf</td>
            </tr>
            <tr>
              <td>Grundschule Görzig</td>
              <td>15</td>
              <td>Görzig</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
