---
import MarginContainer from "../atoms/MarginContainer.astro";
---

<footer class="bg-dgu-green pb-10 pt-16">
  <MarginContainer>
    <h1 class="text-stone-800">Unsere Büros</h1>
    <ul class="mt-8">
      <li class="mt-3">
        <details
          class="relative rounded-lg after:absolute after:right-0 after:top-0 after:mr-5 after:mt-1 after:text-[3rem] after:content-['+'] open:bg-white/5 open:after:-mt-1 open:after:mr-6 open:after:text-[3.5rem] open:after:content-['-'] hover:cursor-pointer"
        >
          <summary class="list-none p-4 hover:rounded-lg hover:bg-black/5">
            <div>
              <h3 class="text-xl font-bold">DGU Büro Erfurt</h3>
              <p class="mt-1">Thüringen</p>
            </div>
          </summary>
          <ul class="p-4">
            <li>Robert Lorenz, Tobias Wanierke</li>
            <li><span>Adresse:</span> Goethestraße 64, 99096 Erfurt</li>
            <li><span>Telefon:</span> +49 178 4402955</li>
            <li>
              <span>Email:</span>
              <a href="mailto:sekretariat@umwelterziehung.de"
                >sekretariat@umwelterziehung.de</a
              >
            </li>
            <li><span>Projekte:</span> Green Key, USE/INS, Blaue Flagge</li>
          </ul>
        </details>
      </li>
      <li class="mt-3">
        <details
          class="relative rounded-lg after:absolute after:right-0 after:top-0 after:mr-5 after:mt-1 after:text-[3rem] after:content-['+'] open:bg-white/5 open:after:-mt-1 open:after:mr-6 open:after:text-[3.5rem] open:after:content-['-'] hover:cursor-pointer"
        >
          <summary class="list-none p-4 hover:rounded-lg hover:bg-black/5">
            <div>
              <h3 class="text-xl font-bold">Hilpoltstein</h3>
              <p class="mt-1">Bayern</p>
            </div>
          </summary>
          <ul class="p-4">
            <li>Birgit Feldmann</li>
            <li><span>Adresse:</span> Eisvogelweg 1, 91161 Hilpoltstein</li>
            <li><span>Telefon:</span> +49 9174 477542</li>
            <li><span>Fax:</span> +49 9174 477575</li>
            <li>
              <span>Email:</span>
              <a href="mailto:b-feldmann@lbv.de">b-feldmann@lbv.de</a>
            </li>
            <li>
              <a href="https://lbv.de/umweltschule">www.lbv.de/umweltschule</a>
            </li>
          </ul>
        </details>
      </li>
      <li class="mt-3">
        <details
          class="relative rounded-lg after:absolute after:right-0 after:top-0 after:mr-5 after:mt-1 after:text-[3rem] after:content-['+'] open:bg-white/5 open:after:-mt-1 open:after:mr-6 open:after:text-[3.5rem] open:after:content-['-'] hover:cursor-pointer"
        >
          <summary class="list-none p-4 hover:rounded-lg hover:bg-black/5">
            <div>
              <h3 class="text-xl font-bold">Berlin</h3>
            </div>
          </summary>
          <ul class="p-4">
            <li>Stephanie Pröpsting</li>
            <li><span>Telefon:</span> +49 30 83852744</li>
            <li>
              <span>Email:</span>
              <a href="mailto:proepsting@institutfutur.de"
                >proepsting@institutfutur.de</a
              >
            </li>
            <li>
              <span>Projekte:</span> Nachhaltige Entwicklung mitgestalten - ein
              Qualifizierungs- und Beteiligungsprojekt für junge Menschen in
              Kroatien
            </li>
          </ul>
        </details>
      </li>
    </ul>
    <div class="mt-10 flex flex-col-reverse md:flex-row md:justify-between">
      <p class="mt-3 md:mt-0">
        &copy; 2023 Deutsche Gesellschaft für Umwelterziehung
      </p>
      <ul class="flex flex-col md:flex-row">
        <li class="mr-3">
          <a href="/impressum/">Impressum</a>
        </li>
        <li class="mr-3">
          <a href="/datenschutz/">Datenschutzerklärung</a>
        </li>
        <li>
          <a href="/bildnachweise/">Bildnachweise</a>
        </li>
      </ul>
    </div>
  </MarginContainer>
</footer>
