---
import umweltschuleineuropa from "../../../../public/content/media/logos/umeltschuleineuropa.png";
import greenkey from "../../../../public/content/media/logos/greenkey.jpg";
import blueflag from "../../../../public/content/media/logos/blueflag.svg";
import suncedgu from "../../../../public/content/media/logos/suncedgu.jpg";
import slowakei from "../../../../public/content/media/logos/slowakei.jpg";
import tffe from "../../../../public/content/media/sponsoren/tffe.png";
import ProjectsSection from "../../components/organisms/ProjectsSection.astro";
---

<section class="mt-10">
  <ProjectsSection
    projects={[
      {
        name: "Green Key Deutschland",
        description:
          "Ziel des Programms ist die Entwicklung und Verwaltung eines Umweltzeichens für Umwelt-und Nachhaltigkeitsaspekte in Hotels und Freizeitparks. Green Key ist ein Zertifizierungs-Programm mit dem Ziel einer Sensibilisierung von Eigentümern, Mitarbeitern und Gästen für ihr Potenzial von Umwelt-und Nachhaltigkeitsaspekten in ihrem direkten (natürlichen) Umfeld und mit der Perspektive aktiven Handelns.",
        image: greenkey,
        link: "/green-key/",
      },
      {
        name: "Blaue Flagge",
        description:
          'Seit 1987 wird in Zusammenarbeit mit der FEE die "Blaue Flagge" vergeben. Die Auszeichnung wird verliehen, wenn bestimmte Anforderungen bezüglich des Umweltmanagements, der Umweltkommunikation erfüllt sind, ausreichende Entsorgungsbereiche für (Sonder-)Abfälle und Abwasser und die standardgemäßen Sicherheitsaspekte beachten werden. Die Blaue Flagge ist das erste gemeinsame Umweltsymbol, das für jeweils ein Jahr vergeben wird.',
        image: blueflag,
        link: "http://www.blaue-flagge.de/index.html",
      },
      {
        name: "Umweltschule in Europa - Internationale Nachhaltigkeitsschule",
        description:
          '"Umweltschule in Europa - Internationale Nachhaltigkeitsschule" ist eine Ausschreibung der europäischen Umweltbildungsstiftung FEE (Foundation for Environmental Education), in Deutschland vertreten durch die Deutsche Gesellschaft für Umwelterziehung (DGU). Gegenwärtig beteiligen sich weltweit über 30000 Schulen in mehr als 50 Staaten; in Deutschland waren es im vergangenen Schuljahr mehr als 900 Schulen aus 8 Bundesländern.',
        image: umweltschuleineuropa,
        link: "/projekte/umweltschule-in-europa",
      },
      {
        name: "Projekt „Nachhaltige Schülerfirmen an kroatischen Sekundarschulen - grüne Gründungen fördern nachhaltiges unternehmerisches Denken und Handeln bei jungen Menschen in Kroatien“",
        description:
          "Ziel des Projektes ist es, das Lehr-Lernkonzept Nachhaltige Schülerfirmen an drei Modellschulen (Sekundarschulen) in Kroatien zu implementieren und anhand der Ergebnisse sowie Beispielen guter Praxis einen Transferimpuls für weitere Schulen zu leisten. Durch das Projekt werden mittel- und langfristig wirkende Impulse für die Gründung nachhaltiger Schülerfirmen an kroatischen Sekundarschulen gesetzt...",
        image: suncedgu,
        link: "/projekte/projekt-kroatien",
      },
      {
        name: "Projekt „Service-Learning für Natur- und Umweltschutz in Kroatien – Ein deutsch-kroatisches Kooperationsprojekt für Studierende“",
        description:
          "Die Lösung der globalen Fragen und Herausforderungen der Zukunft sind insbesondere für die junge Generation von wesentlicher Bedeutung, da sie nicht nur heute, sondern auch zukünftig mit den Folgen einer nicht nachhaltigen Entwicklung umgehen müssen...",
        image: suncedgu,
        link: "/projekte/projekt-kroatien-2",
      },
      {
        name: "Projekt „Nachhaltige Entwicklung mitgestalten“",
        description:
          "Nachhaltige Entwicklung braucht Beteiligung. Die Fähigkeit zur Beteiligung an der Gestaltung einer umweltfreundlichen und sozial gerechten Welt ist für eine nachhaltige Entwicklung der Gesellschaft von zentraler Bedeutung. Insbesondere junge Menschen stehen zukünftig vor den Herausforderungen einer sich dynamisch verändernden Welt...",
        image: suncedgu,
        link: "/projekte/projekt-kroatien-3",
      },
      {
        name: "Projekt „Eco-Schools – Umweltmanagement mit Schülerbeteiligung“",
        description:
          "Beteiligungsmöglichkeiten von Schülerinnen und Schülern im Umweltmanagement der Schule stehen im Mittelpunkt des binationalen Projektes. Ziel ist es, die Qualität der Partizipation über den Austausch guter Beispiele und Methoden...",
        image: slowakei,
        link: "/projekte/projekt-slowakei",
      },
      {
        name: "The Great plant hunt - Die große Pflanzenjagd",
        description:
          "Diese Kampagne ist eine gemeinsame Initiative von Toyota Motor Europe und der Stiftung für Umwelterziehung (FEE). Der Schwerpunkt liegt auf der Biodiversität mit besonderem Augenmerk auf Pflanzen und den damit verbundenen Arten.",
        image: tffe,
        link: "/projekte/toyota",
      },
    ]}
  />
</section>
