---
import MarginContainer from "../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Seite existiert nicht">
  <MarginContainer>
    <div
      class="flex h-[30rem] w-full flex-col items-center justify-center lg:h-[40rem]"
    >
      <h1 class="text-5xl">404</h1>
      <p class="text-xl font-bold">Seite existiert nicht!</p>
    </div>
  </MarginContainer>
</DefaultLayout>
