---
import MarginContainer from "../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../lib/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Bildnachweise">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Bildnachweise</h1>
      <div class="prose mt-7 max-w-full">
        <h2>Pflanzen auf der Startseite</h2>
        <p>
          <a
            href="https://www.freepik.com/free-vector/silhouette-leafs-trees-grass_9166854.htm#query=silhouette%20leafs%20trees&position=17&from_view=search&track=ais"
            >Bild von valadzionak_volha</a
          > auf Freepik
        </p>
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
