---
import MarginContainer from "../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../lib/layouts/DefaultLayout.astro";
import UmweltSchuleSection from "../lib/sections/downloads/UmweltSchuleSection.astro";
---

<DefaultLayout title="Downloads">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>Downloads</h1>
      <UmweltSchuleSection />
    </div>
  </MarginContainer>
</DefaultLayout>
