---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import NeuigkeitenSection from "../sections/neuigkeiten/NeuigkeitenSection.astro";
---

<DefaultLayout title="Neuigkeiten">
  <div class="not-prose">
    <NeuigkeitenSection />
  </div>
</DefaultLayout>
