---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const wwwumweltData = await Astro.glob("../content/wwwumwelt/*.md");
---

<DefaultLayout title="Downloads">
  <h1 class="font-black text-4xl text-dark-green">www.umwelt</h1>
  <div>
    {
      wwwumweltData.map(({ frontmatter }) => {
        const section = frontmatter;

        return (
          <div>
            <h2 class="font-black text-2xl mt-12">{section.title}</h2>
            <div class="flex gap-10 not-prose">
              {section.items.map((item) => {
                return (
                  <a
                    href={item.url}
                    class="w-56 flex justify-center items-center bg-egg h-24 rounded-md drop-shadow-lg hover:drop-shadow-xl"
                  >
                    {item.title}
                  </a>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</DefaultLayout>
