---
import MarginContainer from "../lib/components/atoms/MarginContainer.astro";
import DefaultLayout from "../lib/layouts/DefaultLayout.astro";
import WWWUmweltSection from "../lib/sections/www_umwelt/WWWUmweltSection.astro";
---

<DefaultLayout title="www.umwelt">
  <MarginContainer>
    <div class="pb-16 pt-20 lg:pt-36">
      <h1>www.umwelt</h1>
      <div class="mt-10">
        <WWWUmweltSection />
      </div>
    </div>
  </MarginContainer>
</DefaultLayout>
