---
import MarginContainer from "../../components/atoms/MarginContainer.astro";
---

<section class="py-24">
  <MarginContainer>
    <h2 class="text-center text-3xl font-black text-dark-green">
      Unsere Projekte
    </h2>
    <ul class="mt-20">
      <li class="flex justify-between">
        <img src="#" alt="Green Key Logo" class="w-[70rem]" />
        <div class="flex w-[80rem] flex-col">
          <h3 class="text-xl font-bold">Green Key Deutschland</h3>
          <p class="mt-2">
            Ziel des Programms ist die Entwicklung und Verwaltung eines
            Umweltzeichens für Umwelt-und Nachhaltigkeitsaspekte in Hotels und
            Freizeitparks. Green Key ist ein Zertifizierungs-Programm mit dem
            Ziel einer Sensibilisierung von Eigentümern, Mitarbeitern und Gästen
            für ihr Potenzial von Umwelt-und Nachhaltigkeitsaspekten in ihrem
            direkten (natürlichen) Umfeld und mit der Perspektive aktiven
            Handelns.
          </p>
          <a href="/" class="mt-3 font-bold">Mehr erfahren</a>
        </div>
      </li>
      <li class="mt-16 flex justify-between">
        <img src="#" alt="Blaue Flagge Logo" class="w-[70rem]" />
        <div class="flex w-[80rem] flex-col">
          <h3 class="text-xl font-bold">Blaue Flagge</h3>
          <p class="mt-2">
            Seit 1987 wird in Zusammenarbeit mit der F.E.E. die "Blaue Flagge"
            vergeben. Die Auszeichnung wird verliehen, wenn bestimmte
            Anforderungen bezüglich des Umweltmanagements, der
            Umweltkommunikation erfüllt sind, ausreichende Entsorgungsbereiche
            für (Sonder-)Abfälle und Abwasser und die standardgemäßen
            Sicherheitsaspekte beachten werden. Die BLAUE FLAGGE ist das erste
            gemeinsame Umweltsymbol, das für jeweils ein Jahr vergeben wird.
          </p>
          <a href="/" class="mt-3 font-bold">Mehr erfahren</a>
        </div>
      </li>
      <li class="mt-16 flex justify-between">
        <img
          src="#"
          alt="Umweltschule in Europa - Internationale Nachhaltigkeitsschule Logo"
          class="w-[70rem]"
        />
        <div class="flex w-[80rem] flex-col">
          <h3 class="text-xl font-bold">
            Umweltschule in Europa - Internationale Nachhaltigkeitsschule
          </h3>
          <p class="mt-2">
            "Umweltschule in Europa - Internationale Nachhaltigkeitsschule" ist
            eine Ausschreibung der europäischen Umweltbildungsstiftung F.E.E.
            (Foundation for Environmental Education), in Deutschland vertreten
            durch die Deutsche Gesellschaft für Umwelterziehung
            (DGU).Gegenwärtig beteiligen sich weltweit über 30000 Schulen in
            mehr als 50 Staaten; in Deutschland waren es im vergangenen
            Schuljahr mehr als 900 Schulen aus 8 Bundesländern.
          </p>
          <a href="/" class="mt-3 font-bold">Mehr erfahren</a>
        </div>
      </li>
    </ul>
  </MarginContainer>
</section>
