---
import MarginContainer from "../../components/atoms/MarginContainer.astro";
---

<section class="mt-40 pb-24">
  <MarginContainer>
    <h1 class="text-4xl font-black text-dark-green">Neuigkeiten</h1>
    <ul class="relative mt-14">
      <li class="flex flex-col lg:flex-row">
        <h2 class="text-2xl font-black text-dark-green lg:w-72">Mai 2022</h2>
        <ul class="mt-4 max-w-2xl lg:ml-20 lg:mt-0">
          <li>
            <h3 class="text-lg font-bold">Nachruf auf Dr. Michael Plesse</h3>
            <p class="mt-1">
              Hiermit möchten wir Abschied nehmen von unserem langjährigem
              Vorstandsmitglied Dr. Michael Plesse, der in diesem Jahr nach
              langer Krankheit verstorben ist. Er hat der DGU für lange Zeit als
              Kassenwart sehr geholfen und mit seiner freundlichen, immer auf
              gute Verständigung ausgerichteten Art unschätzbare Dienste
              erwiesen.
            </p>
          </li>
        </ul>
      </li>
      <li class="mt-12 flex flex-col lg:flex-row">
        <h2 class="text-2xl font-black text-dark-green lg:w-72">April 2022</h2>
        <ul class="mt-4 max-w-2xl lg:ml-20 lg:mt-0">
          <li class="flex flex-col">
            <h3 class="text-lg font-bold">Bericht des DGU Vorstandes</h3>
            <p class="mt-1">
              Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU
              im Zeitraum 2020-2022.
            </p>
            <a href="/" class="mt-2 font-bold">Zum Download</a>
          </li>
        </ul>
      </li>
      <li class="mt-12 flex flex-col lg:flex-row">
        <h2 class="text-2xl font-black text-dark-green lg:w-72">März 2021</h2>
        <ul class="mt-4 max-w-2xl lg:ml-20 lg:mt-0">
          <li class="flex flex-col">
            <h3 class="text-lg font-bold">Bericht des DGU Vorstandes</h3>
            <p class="mt-1">
              Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU
              im Zeitraum 2020-2021.
            </p>
            <a href="/" class="mt-2 font-bold">Zum Download</a>
          </li>
        </ul>
      </li>
      <li class="mt-12 flex flex-col lg:flex-row">
        <h2 class="text-2xl font-black text-dark-green lg:w-72">
          Februar 2020
        </h2>
        <ul class="mt-4 max-w-2xl lg:ml-20 lg:mt-0">
          <li class="flex flex-col">
            <h3 class="text-lg font-bold">Bericht des DGU Vorstandes</h3>
            <p class="mt-1">
              Hier finden Sie den aktuellen Bericht über die Aktivitäten der DGU
              im Zeitraum 2018-2019.
            </p>
            <a href="/" class="mt-2 font-bold">Zum Download</a>
          </li>
        </ul>
      </li>
      <li class="mt-12 flex flex-col lg:flex-row">
        <h2 class="text-2xl font-black text-dark-green lg:w-72">Mai 2018</h2>
        <ul class="mt-4 max-w-2xl lg:ml-20 lg:mt-0">
          <li class="flex flex-col">
            <h3 class="text-lg font-bold">
              Handreichung „Service-Learning – Engagement Studierender im Natur-
              und Umweltschutz“
            </h3>
            <p class="mt-1">
              Wir freuen uns, mit der Handreichung „Service-Learning –
              Engagement Studierender im Natur- und Umweltschutz“ wertvolle
              Erfahrungen und Anregungen aus dem Projekt "Service-Learning für
              Natur- und Umweltschutz in Kroatien – Ein deutsch-kroatisches
              Kooperationsprojekt für Studierende“ weiter geben zu können. Die
              Handreichung bündelt die praktischen Erfahrungen, ergänzt diese
              durch theoretische Grundlagen und lädt Hochschulen und
              zivilgesellschaftliche Organisationen ein, diese zu nutzen, um das
              Lehren und Lernen handlungsorientiert zu gestalten und Studierende
              dazu zu motivieren sich aktiv in die Lösung von Problemen und
              Herausforderungen der Gesellschaft einzubringen.
            </p>
            <a href="/" class="mt-2 font-bold"
              >Zur entsprechenden Projektseite</a
            >
          </li>
        </ul>
      </li>
      <span
        class="absolute top-0 ml-72 hidden h-full w-[3px] bg-light-green lg:block"
      ></span>
    </ul>
  </MarginContainer>
</section>
