<div>
  <h2 class="text-2xl font-bold">Kooperationspartner</h2>
  <div class="mt-5 flex flex-wrap gap-5">
    <div class="card">
      <p class="font-bold">Arbeitsgemeinschaft Natur- und Umweltbildung e.V.</p>
      <a href="mailto:netzwerk@anu.de">netzwerk@anu.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Arbeitskreis Umweltbildung Thüringen e.V.</p>
      <a href="mailto:khkerntopf@yahoo.de">khkerntopf@yahoo.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        BLK-Programm "Transfer 21" / Freie Universität Berlin Zentrale
        Koordinierungsstelle
      </p>
      <a href="mailto:info@institutfutur.de">info@institutfutur.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Bundesministerium für Bildung und Forschung (BMBF)
      </p>
      <a href="mailto:bmbf@bmbf.bund400.de">bmbf@bmbf.bund400.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Bundesministerium für wirtschaftliche Zusammenarbeit und Entwicklung
        (BMZ)
      </p>
      <a href="https://www.bmz.de">www.bmz.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Bundesministerium für Umwelt, Naturschutz und Reaktorsicherheit
      </p>
      <a href="mailto:oea-1000@bmu.de">oea-1000@bmu.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Deutscher Naturschutzring (DNR)</p>
      <a href="mailto:dnr@dnr.de">dnr@dnr.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Deutsche UNESCO-Kommission</p>
      <a href="mailto:info@unesco.de">info@unesco.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Eco Schools</p>
      <a href="mailto:coordination@eco-schools.org"
        >coordination@eco-schools.org</a
      >
    </div>
    <div class="card">
      <p class="font-bold">
        Foundation for Environmental Education (FEE) Stiftung für
        Umwelterziehung (FEE)
      </p>
      <a href="mailto:secretariat@fee-international.org">
        secretariat@fee-international.org</a
      >
    </div>
    <div class="card">
      <p class="font-bold">Gewerkschaft Erziehung und Wissenschaft (GEW)</p>
      <a href="mailto:info@gew.de">info@gew.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Global Rivers Environmental Education Network</p>
      <a href="mailto:s.prigge@umwelt.ecolink.org"
        >s.prigge@umwelt.ecolink.org</a
      >
    </div>
    <div class="card">
      <p class="font-bold">
        "Multimedia - Transfer - Zentrum" der Fachhochschule in Schmalkalden
      </p>
      <a href="mailto:info@cobei.de">info@cobei.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Verband Entwicklungspolitik Deutscher Nichtregierungsorganisationen
      </p>
      <a href="mailto:sekretariat@venro.org">sekretariat@venro.org</a>
    </div>
    <div class="card">
      <p class="font-bold">Verband Bildung und Erziehung</p>
      <a href="mailto:bundesverband@vbe.de">bundesverband@vbe.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Europa-Projekt</p>
      <a href="mailto:info@service-umweltbildung.de"
        >info@service-umweltbildung.de</a
      >
    </div>
    <div class="card">
      <p class="font-bold">
        Förderverein „Umweltschule in Europa Niedersachsen e.V.“
      </p>
      <a href="https://foerderverein-umweltschule.de"
        >www.foerderverein-umweltschule.de</a
      >
    </div>
    <div class="card">
      <p class="font-bold">Umweltbildung, Beratung und Naturerlebnis GmbH</p>
      <a href="mailto:postbox@arillus.de">postbox@arillus.de</a>
    </div>
  </div>
</div>

<div class="mt-16">
  <h2 class="text-2xl font-bold">Förderer</h2>
  <div class="mt-5 flex flex-wrap gap-5">
    <div class="card">
      <p class="font-bold">Bäderverband Mecklenburg-Vorpommern</p>
      <a href="https://www.mv-baederverband.de/">www.mv-baederverband.de/</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Bayerisches Staatsministerium für Landesentwicklung und Umweltfragen
      </p>
      <a href="https://www.stmuv.bayern.de/index.htm">www.stmuv.bayern.de</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Bundesministerium für Bildung und Forschung (BMBF)
      </p>
      <a href="https://www.bmbf.de/">www.bmbf.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Deutsche Bundesstiftung Umwelt</p>
      <a href="https://www.dbu.de/">www.dbu.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Deutscher Motoryachtverband e.V.</p>
      <a href="https://www.dmyv.de/">www.dmyv.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Deutscher Segler-Verband e.V.</p>
      <a href="https://www.dsv.org/">www.dsv.org</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Behörde für Schule und Berufsbildung der Freien und Hansestadt Hamburg
      </p>
      <a href="https://www.hamburg.de/bsb/">www.hamburg.de/bsb</a>
    </div>
    <div class="card">
      <p class="font-bold">Kultusministerium des Landes Sachsen-Anhalt</p>
      <a href="mailto:info@cobei.de">info@cobei.de</a>
    </div>
    <div class="card">
      <p class="font-bold">Landeshauptstadt Potsdam</p>
      <a href="mailto:sekretariat@venro.org">sekretariat@venro.org</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Ministerium für Umwelt, Landwirtschaft und Energie des Landes
        Sachsen-Anhalt
      </p>
      <a href="https://mule.sachsen-anhalt.de/">www.mule.sachsen-anhalt.de/</a>
    </div>
    <div class="card">
      <p class="font-bold">
        Ministerium für Wirtschaft, Arbeit und Energie (MWAE)
      </p>
      <a href="https://mwae.brandenburg.de">www.mwae.brandenburg.de</a>
      <div class="card">
        <p class="font-bold">Niedersächsisches Kultusministerium</p>
        <a href="https://www.mk.niedersachsen.de/startseite/"
          >www.mk.niedersachsen.de</a
        >
      </div>
      <div class="card">
        <p class="font-bold">
          NUE (Norddeutsche Stiftung für Umwelt und Entwicklung)
        </p>
        <a href="https://www.nue-stiftung.de/">www.nue-stiftung.de</a>
      </div>
      <div class="card">
        <p class="font-bold">
          Thüringer Institut für Lehrerfortbildung, Lehrplanentwicklung und
          Medien
        </p>
        <a href="https://www.schulportal-thueringen.de/thillm"
          >www.schulportal-thueringen.de/thillm</a
        >
      </div>
      <div class="card">
        <p class="font-bold">
          Thüringer Ministerium für Bildung, Jugend und Sport
        </p>
        <a href="https://bildung.thueringen.de/">www./bildung.thueringen.de/</a>
      </div>
      <div class="card">
        <p class="font-bold">
          Thüringer Ministerium für Umwelt, Energie und Naturschutz
        </p>
        <a href="https://umwelt.thueringen.de/">www.umwelt.thueringen.de/</a>
      </div>
      <div class="card">
        <p class="font-bold">Umweltbundesamt</p>
        <a href="https://www.umweltbundesamt.de/">www.umweltbundesamt.de</a>
      </div>
      <div class="card">
        <p class="font-bold">Umweltministerium Mecklenburg-Vorpommern</p>
        <a href="https://www.regierung-mv.de/Landesregierung/lm/"
          >www.regierung-mv.de/Landesregierung/lm</a
        >
      </div>
      <div class="card">
        <p class="font-bold">Wirtschaftsministerium Mecklenburg-Vorpommern</p>
        <a href="https://www.regierung-mv.de/Landesregierung/wm/"
          >www.regierung-mv.de/Landesregierung/wm</a
        >
      </div>
    </div>
  </div>

  <style>
    .card {
      @apply flex w-64 flex-col justify-center rounded-lg bg-white px-6 py-2 shadow-lg;
    }
  </style>
</div>
