<section class="prose mt-6 max-w-full">
  <h2 class="text-2xl font-bold">Der Verein und seine Ziele</h2>
  <p>
    fördert die Umwelterziehung als pädagogisch und wissenschaftlich fundierte
    Auseinandersetzung mit der natürlichen, der sozialen und der gebauten
    Umwelt. Dabei verfolgt sie auf nationaler Ebene die gleichen Ziele wie die
    <a href="https://www.fee.global/"
      >Stiftung für Umwelterziehung in Europa (FEE)</a
    >, die insbesondere die Nutzung vorhandener Einrichtungen zur
    Umwelterziehung und Initiativen zu ihrer Verbreitung unterstützt. Die
    Deutsche Gesellschaft für Umwelterziehung will diese Absicht vorrangig durch
    folgende Maßnahmen verwirklichen:
  </p>
  <ul>
    <li>
      Veranstaltung oder Förderung von Seminaren, Tagungen,
      Informationsgesprächen, in denen vor allem die Intensivierung der
      unmittelbaren Umwelterfahrungen von Kindern, Jugendlichen und Erwachsenen
      im Mittelpunkt steht. Dies soll insbesondere durch eine Verbesserung der
      Zusammenarbeit mit Bildungsinstitutionen aller Art, mit kommunalen
      Einrichtungen, mit Behörden, mit Bürgern der Gemeinden, mit Vereinigungen
      und Betrieben erreicht werden.
    </li>
    <li>
      Herausgabe oder Förderung entsprechender Publikationen, Gutachten und
      Studien.
    </li>
    <li>Förderung der Aus- und Weiterbildung in der Umwelterziehung.</li>
    <li>
      Förderung der internationalen Zusammenarbeit, vor allem mit der "Stiftung
      für Umwelterziehung in Europa".
    </li>
  </ul>
  <p>
    Der Verein verfolgt diese Ziele ausschließlich und unmittelbar als
    gemeinnützige Zwecke im Sinne der §§ 51 bis 68 der Abgabeordnung vom
    16.3.1976 in der jeweils gültigen Fassung. Der Verein ist selbstlos tätig,
    er verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke.
  </p>
</section>
