<section class="mt-10">
  <h2 class="text-2xl font-bold">Die Struktur des Vereins</h2>
  <div class="mt-6 flex flex-wrap gap-8">
    <div class="h-40 w-96 rounded-xl bg-white p-4 shadow-xl">
      <h3 class="text-lg font-bold">Büros und Geschäftsführung</h3>
      <p>
        Hier finden Sie alle Kontaktdaten zu den für die verschiedenen
        Bundesländer zuständigen DGU-Büros.
      </p>
      <p class="mt-2 font-bold">
        <a href="/ueber-uns/bueros-und-geschaeftsfuehrung"
          >mehr zu diesem Thema</a
        >
      </p>
    </div>
    <div class="h-40 w-96 rounded-xl bg-white p-4 shadow-xl">
      <h3 class="text-lg font-bold">Mitgliedschaft</h3>
      <p>
        Rahmenbedingungen und Informationen zur Mitgliedschaft bei der Deutschen
        Gesellschaft für Umwelterziehung.
      </p>
      <p class="mt-2 font-bold">
        <a href="/ueber-uns/mitgliedschaft">mehr zu diesem Thema</a>
      </p>
    </div>
    <div class="h-40 w-96 rounded-xl bg-white p-4 shadow-xl">
      <h3 class="text-lg font-bold">Förderer & Kooperationspartner</h3>
      <p>
        der verschiedenen nationalen und internationalen Projekte der Deutschen
        Gesellschaft für Umwelterziehung.
      </p>
      <p class="mt-2 font-bold">
        <a href="/ueber-uns/foerderer-und-kooperationspartner"
          >mehr zu diesem Thema</a
        >
      </p>
    </div>
    <div class="h-40 w-96 rounded-xl bg-white p-4 shadow-xl">
      <h3 class="text-lg font-bold">Vorstand</h3>
      <p>
        Hier finden Sie alle Kontaktdaten zu den Mitgliedern des Vorstandes der
        Deutschen Gesellschaft für Umwelterziehung.
      </p>
      <p class="mt-2 font-bold">
        <a href="/ueber-uns/vorstand">mehr zu diesem Thema</a>
      </p>
    </div>
  </div>
</section>
