<header class="fixed z-50">
  <nav
    id="menu-nav"
    aria-hidden="true"
    class="menu-closed fixed left-0 right-0 top-0 z-40 h-full w-full items-center justify-center bg-egg/20 backdrop-blur-[2px] md:ml-auto md:mr-auto md:mt-7 md:h-9 md:w-[48rem] md:rounded-md md:px-5 md:py-1"
  >
    <ul class="text-center md:flex">
      <li>
        <a href="/" class="text-lg">Startseite</a>
      </li>
      <li class="mt-3 md:ml-10 md:mt-0">
        <a href="/neuigkeiten/" class="text-lg">Neuigkeiten</a>
      </li>
      <li class="mt-3 md:ml-10 md:mt-0">
        <a href="/" class="text-lg">Projekte</a>
      </li>
      <li class="mt-3 md:ml-10 md:mt-0">
        <a href="/ueber-uns/" class="text-lg">Über uns</a>
      </li>
      <li class="mt-3 md:ml-10 md:mt-0">
        <a href="/downloads/" class="text-lg">Downloads</a>
      </li>
      <li class="mt-3 md:ml-10 md:mt-0">
        <a href="/" class="text-lg">www.umwelt</a>
      </li>
    </ul>
  </nav>
  <button
    id="menu-button"
    aria-label="Menü öffnen oder schließen"
    class="fixed right-0 top-0 z-50 mr-4 mt-3 rounded-md px-2 py-1 font-bold md:hidden"
    >Menü</button
  >
</header>

<style>
  .menu-closed {
    display: none;
  }

  .menu-open {
    display: flex;
  }

  @media (min-width: 768px) {
    .menu-closed {
      display: flex;
    }
  }
</style>

<script>
  const button = document.getElementById("menu-button");
  const nav = document.getElementById("menu-nav");

  let menuOpen = false;

  button.addEventListener("click", () => {
    // change state
    menuOpen = !menuOpen;

    // change classes
    if (menuOpen) {
      nav.classList.add("menu-open");
      nav.classList.remove("menu-closed");
      nav.ariaHidden = "false";
    } else {
      nav.classList.add("menu-closed");
      nav.classList.remove("menu-open");
      nav.ariaHidden = "true";
    }
  });
</script>
