---
const { sponsors } = Astro.props
---

<div class="mt-10 not-prose">
    {sponsors.map((sponsor) => {
        return (
            <div class="flex flex-col max-w-[10rem]">
                <img src={sponsor.logo} alt={sponsor.name} />
                <p class="text-xs mt-1">{sponsor.name}</p> 
            </div>
        )
    })}
</div>