---
import "../styles/base.css";
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";
const { title } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="h-full w-full">
      <slot />
      <Footer />
    </main>
  </body>
</html>
