---
import { Image } from "astro:assets";

import umweltschuleineuropa from "../../../../public/content/media/umeltschuleineuropa.png";
import greenkey from "../../../../public/content/media/greenkey.webp";
import blueflag from "../../../../public/content/media/blueflag.svg";
---

<div class="mt-10">
  <ul>
    <li
      class="flex min-h-[20rem] flex-col items-center rounded-2xl bg-white px-10 py-8 shadow-xl md:flex-row"
    >
      <div class="flex w-80 items-center justify-center">
        <a href="http://umwelterziehung.de/projekte/GreenKey/index.html">
          <Image src={greenkey} alt="Green Key" />
        </a>
      </div>
      <div class="mt-8 w-full md:ml-10 md:mt-0">
        <h2 class="text-xl font-bold">Green Key Deutschland</h2>
        <p class="mt-1">
          Ziel des Programms ist die Entwicklung und Verwaltung eines
          Umweltzeichens für Umwelt-und Nachhaltigkeitsaspekte in Hotels und
          Freizeitparks. Green Key ist ein Zertifizierungs-Programm mit dem Ziel
          einer Sensibilisierung von Eigentümern, Mitarbeitern und Gästen für
          ihr Potenzial von Umwelt-und Nachhaltigkeitsaspekten in ihrem direkten
          (natürlichen) Umfeld und mit der Perspektive aktiven Handelns.
        </p>
        <p class="mt-3">
          <a
            href="http://umwelterziehung.de/projekte/GreenKey/index.html"
            class="font-bold">Mehr erfahren</a
          >
        </p>
      </div>
    </li>
    <li
      class="mt-10 flex min-h-[20rem] flex-col items-center rounded-2xl bg-white px-10 py-8 shadow-xl md:flex-row"
    >
      <div class="flex w-80 items-center justify-center">
        <a href="http://www.blaue-flagge.de/index.html">
          <Image src={blueflag} alt="Blaue Flagge" />
        </a>
      </div>
      <div class="mt-8 w-full md:ml-10 md:mt-0">
        <h2 class="text-xl font-bold">Blaue Flagge</h2>
        <p class="mt-1">
          Seit 1987 wird in Zusammenarbeit mit der FEE die "Blaue Flagge"
          vergeben. Die Auszeichnung wird verliehen, wenn bestimmte
          Anforderungen bezüglich des Umweltmanagements, der Umweltkommunikation
          erfüllt sind, ausreichende Entsorgungsbereiche für (Sonder-)Abfälle
          und Abwasser und die standardgemäßen Sicherheitsaspekte beachten
          werden. Die Blaue Flagge ist das erste gemeinsame Umweltsymbol, das
          für jeweils ein Jahr vergeben wird.
        </p>
        <p class="mt-3">
          <a href="http://www.blaue-flagge.de/index.html" class="font-bold"
            >Mehr erfahren</a
          >
        </p>
      </div>
    </li>
    <li
      class="mt-10 flex min-h-[20rem] flex-col items-center rounded-2xl bg-white px-10 py-8 shadow-xl md:flex-row"
    >
      <div class="flex w-80 items-center justify-center">
        <a href="/projekte/umweltschule-in-europa/">
          <Image src={umweltschuleineuropa} alt="Umweltschule in Europa" />
        </a>
      </div>
      <div class="mt-8 w-full md:ml-10 md:mt-0">
        <h2 class="text-xl font-bold">
          Umweltschule in Europa - Internationale Nachhaltigkeitsschule
        </h2>
        <p class="mt-1">
          "Umweltschule in Europa - Internationale Nachhaltigkeitsschule" ist
          eine Ausschreibung der europäischen Umweltbildungsstiftung FEE
          (Foundation for Environmental Education), in Deutschland vertreten
          durch die Deutsche Gesellschaft für Umwelterziehung (DGU). Gegenwärtig
          beteiligen sich weltweit über 30000 Schulen in mehr als 50 Staaten; in
          Deutschland waren es im vergangenen Schuljahr mehr als 900 Schulen aus
          8 Bundesländern.
        </p>
        <p class="mt-3">
          <a href="/projekte/umweltschule-in-europa/" class="font-bold"
            >Mehr erfahren</a
          >
        </p>
      </div>
    </li>
    <li
      class="mt-10 flex min-h-[20rem] flex-col items-center rounded-2xl bg-white px-10 py-8 shadow-xl md:flex-row"
    >
      <div class="flex w-80 items-center justify-center">
        <a href="/projekte/projekt-kroatien/">
          <Image src={umweltschuleineuropa} alt="Umweltschule in Europa" />
        </a>
      </div>
      <div class="mt-8 w-full md:ml-10 md:mt-0">
        <h2 class="text-xl font-bold">
          Projekt „Nachhaltige Schülerfirmen an kroatischen Sekundarschulen -
          grüne Gründungen fördern nachhaltiges unternehmerisches Denken und
          Handeln bei jungen Menschen in Kroatien“
        </h2>
        <p class="mt-1">
          Ziel des Projektes ist es, das Lehr-Lernkonzept Nachhaltige
          Schülerfirmen an drei Modellschulen (Sekundarschulen) in Kroatien zu
          implementieren und anhand der Ergebnisse sowie Beispielen guter Praxis
          einen Transferimpuls für weitere Schulen zu leisten. Durch das Projekt
          werden mittel- und langfristig wirkende Impulse für die Gründung
          nachhaltiger Schülerfirmen an kroatischen Sekundarschulen gesetzt...
        </p>
        <p class="mt-3">
          <a href="/projekte/projekt-kroatien/" class="font-bold"
            >Mehr erfahren</a
          >
        </p>
      </div>
    </li>
  </ul>
</div>
